<%= render partial: 'shared/thape_nav' -%>

<div class="h-full" data-controller="service" data-action="resize@window->service#resize">

<div class="relative flex flex-col h-full overflow-auto sm:overflow-visible">
<% if background_img.kind_of?(Array) %>
  <div class="flex-none w-full max-h-full overflow-hidden" data-target="service.bgImg"
    x-data="alpineSlideShow([1,2,3,4,5,6])"
    x-init="setup()">
    <% background_img.each_with_index do |img, index| %>
      <picture class="w-full">
        <% if background_img_webp[index].present? %>
          <source srcset="<%= asset_pack_path(background_img_webp[index]) -%>" type="image/webp">
        <% end %>
        <source srcset="<%= asset_pack_path(img) -%>" type="image/jpeg">
        <img src="<%= asset_pack_path(img) -%>" data-action="load->service#resize"
          :x-transition:enter="transitions('enter')"
          :x-transition:enter-start="transitions('enter-start')"
          :x-transition:enter-end="transitions('enter-end')"
          :x-transition:leave="transitions('leave')"
          :x-transition:leave-start="transitions('leave-start')"
          :x-transition:leave-end="transitions('leave-end')"
          x-show="state.currentSlide === <%= index -%>" />
      </picture>
    <% end %>
    <div class="action-area action-left" @click="stopAutoplay();updateCurrent(previousSlide)">
      <img class="w-8" src="<%= asset_pack_path('media/images/arrow_left.svg') -%>" alt="上一张" />
    </div>
    <div class="action-area action-right text-white" @click="stopAutoplay();updateCurrent(nextSlide)">
      <img class="w-8" src="<%= asset_pack_path('media/images/arrow_right.svg') -%>" alt="下一张" />
    </div>
  </div>
<% else %>
  <div class="flex-none w-full max-h-full overflow-hidden" data-target="service.bgImg">
    <picture class="w-full">
      <% if background_img_webp.present? %>
        <source srcset="<%= asset_pack_path(background_img_webp) -%>" type="image/webp">
      <% end %>
      <source srcset="<%= asset_pack_path(background_img) -%>" type="image/jpeg">
      <img src="<%= asset_pack_path(background_img) -%>" data-action="load->service#resize">
    </picture>
  </div>
<% end %>
  <div class="sm:absolute sm:bottom-0 sm:left-0 bg-thape-white-t80 pt-4 pb-8 sm:pt-8 w-full h-auto block flex-none sm:flex-initial" data-target="service.introDiv">
    <div class="flex justify-center items-center text-black6c w-full sm:flex h-full p-2 sm:py-0 sm:px-4 md:px-8 lg:px-12 xl:px-48 xxl:px-56 xxxl:px-64">
      <div class="flex w-full flex-none overflow-x-hidden flex-wrap sm:flex-no-wrap">
        <div class="flex flex-col sm:justify-between font-medium px-5 w-full sm:w-auto" style="margin-top: -5px">
          <div>
            <h1 class="w-full <%= fdsz("text-2xl sm:#{smFzClass(1)}", "text-2xl sm:#{xlFzClass(1)}") -%> font-bold whitespace-no-wrap"><%= chinese_title -%></h1>
            <h2 class="w-full <%= fdsz("text-base sm:#{smFzClass(2)}", "text-base sm:#{xlFzClass(3)}") -%> font-medium whitespace-no-wrap"><%= english_title -%></h2>
          </div>
          <% if defined? link_site_url %>
            <div class="w-full pt-2 sm:pt-0 <%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%>">
              <a href="<%= link_site_url -%>" class="font-light border-black6c border-solid border-b opacity-100"><%= link_site_title -%></a>
            </div>
          <% end %>
        </div>
        <div class="block font-normal text-left sm:text-justify <%= fdsz("text-sm sm:#{smFzClass(4)}", "text-sm sm:#{xlFzClass(4)}") -%> px-5 w-full sm:w-auto pt-4 sm:pt-0">
          <% ps.each do |p| %>
            <p><%= p -%></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
