<% provide(:title, @seo.home_title) %>
<% provide(:meta_title, @seo.home_title) %>

<%= render partial: 'shared/thape_nav' -%>

<div
  class="h-full"
  data-controller="service"
  data-action="resize@window->service#resize"
  data-service-img-width="1920"
  data-service-img-height="1140"
>

<div class="relative flex flex-col h-screen overflow-auto sm:overflow-visible">
<% if background_img.kind_of?(Array) %>
  <div class="thape-slide flex-none w-full max-h-full overflow-hidden"
    data-controller="carousel2"
    data-carousel2-item-data-type="slide-item"
    data-carousel2-active-class="active"
    data-carousel2-animation-class-base="animate"
    data-carousel2-animation-class-left-in="fade-in"
    data-carousel2-animation-class-left-out="fade-out"
    data-carousel2-animation-class-right-in="fade-in"
    data-carousel2-animation-class-right-out="fade-out"
    data-carousel2-animation-duration="500"
    data-carousel2-interval-time="5000"
    data-target="service.bgImg"
  >
    <div class="slide-images"
      data-action="animationstart->carousel2#itemAnimationStart animationend->carousel2#itemAnimationEnd">
      <% background_img.each_with_index do |img, index| %>
        <div data-type="slide-item"
          class="image-item <%= index == 0 ? 'active' : '' -%>">
          <picture>
            <% if background_img_webp[index].present? %>
              <source srcset="<%= asset_pack_path(background_img_webp[index]) -%>" type="image/webp">
            <% end %>
            <source srcset="<%= asset_pack_path(img) -%>" type="image/jpeg">
            <img class="w-full h-auto" src="<%= asset_pack_path(img) -%>" />
          </picture>
        </div>
      <% end %>
    </div>
    <div class="action-area action-left" data-action="click->carousel2#toLast mouseover->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay">
      <img class="w-4 lg:w-8" src="<%= asset_pack_path('media/images/arrow_left.svg') -%>" alt="上一张" />
    </div>
    <div class="action-area action-right" data-action="click->carousel2#toNext mouseover->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay">
      <img class="w-4 lg:w-8" src="<%= asset_pack_path('media/images/arrow_right.svg') -%>" alt="下一张" />
    </div>
  </div>
<% else %>
  <div class="flex-none w-full max-h-full overflow-hidden" data-target="service.bgImg">
    <picture class="w-full">
      <% if background_img_webp.present? %>
        <source srcset="<%= asset_pack_path(background_img_webp) -%>" type="image/webp">
      <% end %>
      <source srcset="<%= asset_pack_path(background_img) -%>" type="image/jpeg">
      <img src="<%= asset_pack_path(background_img) -%>" data-action="load->service#resize">
    </picture>
  </div>
<% end %>
  <div class="lg:absolute lg:bottom-0 lg:left-0 bg-thape-white-t80 pt-4 pb-8 lg:pt-8 w-full h-auto block flex-none lg:flex-initial" data-target="service.introDiv">
    <div class="flex justify-center items-center text-black6c w-full lg:flex h-full p-2 lg:py-0 lg:px-4 md:px-8 lg:px-12 xl:px-48 xxl:px-56 xxxl:px-64">
      <div class="flex w-full flex-none overflow-x-hidden flex-wrap lg:flex-no-wrap">
        <div class="flex flex-col lg:justify-between font-medium px-5 w-full lg:w-auto" style="margin-top: -5px">
          <div>
            <h1 class="w-full <%= fdsz("text-2xl sm:text-2xl", "text-2xl sm:text-4xl") -%> font-bold whitespace-no-wrap"><%= chinese_title -%></h1>
            <h2 class="w-full <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> font-medium whitespace-no-wrap"><%= english_title -%></h2>
          </div>
          <% if defined? link_site_url %>
            <div class="w-full pt-2 lg:pt-0 <%= fdsz("text-sm", "text-xl") -%>">
              <a href="<%= link_site_url -%>" class="font-light border-black6c border-solid border-b opacity-100"><%= link_site_title -%></a>
            </div>
          <% end %>
        </div>
        <div class="block font-normal text-left lg:text-justify <%= fdsz("text-sm sm:text-sm", "text-sm sm:text-xl") -%> px-5 w-full lg:w-auto pt-4 lg:pt-0">
          <% ps.each do |p| %>
            <p><%= p -%></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
