<%= render partial: 'shared/thape_nav' -%>

<div data-controller="service"
     data-action="resize@window->service#layout">

<div class="relative h-screen">
  <picture>
    <% if background_img_webp.present? %>
      <source srcset="<%= asset_pack_path(background_img_webp) -%>" type="image/webp">
    <% end %>
    <source srcset="<%= asset_pack_path(background_img) -%>" type="image/jpeg">
    <img src="<%= asset_pack_path(background_img) -%>" data-target="service.bgImg">
  </picture>
  <div class="absolute bottom-0 inset-x-0 bg-thape-white-t80 h-64 xxl:h-56" data-target="service.introDiv">
    <div class="flex justify-center items-center text-black6c sm:flex h-full px-10 sm:px-20 md:px-32 lg:px-40 xl:px-48 xxl:px-56 xxxl:px-64">
      <div class="flex">
        <dt class="block font-medium px-5" style="margin-top: -5px">
          <h1 class="text-3xl font-bold whitespace-no-wrap"><%= chinese_title -%></h1>
          <h2 class="text-xl font-medium whitespace-no-wrap"><%= english_title -%></h2>
          <% if defined? link_site_url %>
            <div class="pt-8">
              <a href="<%= link_site_url -%>" class="font-light border-black6c border-solid border-b opacity-100"><%= link_site_title -%></a>
            </div>
          <% end %>
        </dt>
        <dd class="block font-normal text-justify xxxl:text-lg text-base px-5">
          <% ps.each do |p| %>
            <p><%= p -%></p>
          <% end %>
        </dd>
      </div>
    </div>
  </div>
</div>
</div>
