<% provide(:title, "新闻搜索#{params[:q]}") %>
<% provide(:meta_title, "新闻搜索#{params[:q]}") %>

<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full flex flex-col mx-auto sm:pb-4 md:pb-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <header class="w-full flex-none pt-16 pb-2 clearfix border-gray-200 border-solid border-b">
    <h3 class="inline-block <%= fdsz("#{smFzClass(2)}", "#{xlFzClass(2)}") -%> text-thape-copyright-gray">
      <a href="<%= search_path(q: params[:q], tab: :work) -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        <%= t('menu.works.text') -%>&nbsp;&nbsp;(<%= @works_results.count -%>)
      </a>
    </h3>
    <h3 class="ml-10 inline-block <%= fdsz("#{smFzClass(2)}", "#{xlFzClass(2)}") -%> text-thape-copyright-gray">
      <a href="<%= search_path(q: params[:q], tab: :person) -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        <%= t('ui.people') -%>&nbsp;&nbsp;(<%= @people_results.count -%>)
      </a>
    </h3>
    <h3 class="ml-10 inline-block <%= fdsz("#{smFzClass(2)}", "#{xlFzClass(2)}") -%> text-black6c">
      <a href="<%= search_path(q: params[:q], tab: :info) -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        <%= t('menu.news.text') -%>&nbsp;&nbsp;(<%= @info_results.count -%>)
      </a>
    </h3>
  </header>

  <% if @info_results.present? %>
  <div class="flex-grid mt-8 mb-4">
    <div class="flex-grid-box flex-grid-cols-2-gap-1 sm:flex-grid-cols-2-gap-2 md:flex-grid-cols-3-gap-2 lg:flex-grid-cols-4-gap-2">
    <% @info_results.each do |info| %>
    <%= render partial: 'news/news_square',
    locals: { info: info, news_class: 'grid-div' } %>
    <% end %>
    </div>
  </div>
  <% else %>
  <div class="w-full flex flex-auto mt-0 justify-center content-center flex-wrap sm:pt-4 md:pt-8">
    <img class="flex-none" style="margin-left: 1rem" src="<%= asset_pack_path('media/images/no-data.png') -%>">
    <p class="w-full flex-none text-center mt-3" style="color: #b2b2b2;">暂无搜索结果</p>
  </div>
  <% end %>
</div>

<%= render partial: 'shared/footer' %>
