<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full screen-min-height mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <header class="pt-16 pb-2 clearfix border-gray-200 border-solid border-b">
    <h3 class="inline-block text-xl font-bold text-thape-copyright-gray">
      <a href="<%= search_path(q: params[:q], tab: :work) -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        作品&nbsp;&nbsp;（<%= @works_results.count -%>）
      </a>
    </h3>
    <h3 class="ml-10 inline-block text-xl text-black6c">
      <a href="<%= search_path(q: params[:q], tab: :person) -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        人物&nbsp;&nbsp;（<%= @people_results.count + @people_city_results.count -%>）
      </a>
    </h3>
    <h3 class="ml-10 inline-block text-xl text-thape-copyright-gray">
      <a href="<%= search_path(q: params[:q], tab: :info) -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        新闻&nbsp;&nbsp;（<%= @info_results.count -%>）
      </a>
    </h3>
    <div class="inline-block float-right">
      <div class="inline-block mt-1 ml-2 relative rounded-md shadow-sm">
        <input class="form-input block w-36 sm:w-40 pr-10 leading-5 focus:outline-none focus:border-gray-300 focus:shadow-outline-gray active:bg-gray-50 active:text-gray-800" placeholder="关键词搜索" value="<%= params[:q] -%>" />
        <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
          <svg class="h-6 w-6 text-gray-400" fill="currentColor">
            <path fill-rule="evenodd" d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
    </div>
  </header>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 <%= @people_results.count + @people_city_results.count >= 6 ? 'xxl:grid-cols-6' : '' -%> gap-1 sm:gap-2 mt-8 mb-4">
    <% @people_results.each do |person| %>
      <%= render partial: 'leadership/person_square',
        locals: { person: person, person_class: 'grid-div' } %>
    <% end %>
    <% @people_city_results.each do |person| %>
      <%= render partial: 'leadership/person_square',
        locals: { person: person, person_class: 'grid-div' } %>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/footer' %>
