<div class="item">
  <div class="publications-cover">
    <div class="<%= params[:mode].present? && params[:mode] == 'turn' ? 'wrapper-turn' : 'wrapper-rotate' -%>">
      <div class="book" style="width: <%= data[:width] -%>; height: <%= data[:height] -%>">
        <!-- Front -->
        <div class="book-front">
          <div>
            <img src="<%= data[:url] -%>" alt="">
            <% unless params[:mode].present? && params[:mode] == 'turn' %>
            <div class="book-download">
              <a href="#">下载</a>
            </div>
            <% end %>
          </div>
          <div></div>
        </div>
        <!-- Pages -->
        <div class="book-page">
          <div class="book-page-item"></div>
          <div class="book-page-item"></div>
          <div class="book-page-item"></div>
          <div class="book-page-item">
            <% if params[:mode].present? && params[:mode] == 'turn' %>
            <a class="btn text-sm sm:text-base md:text-lg" href="#">点击下载</a>
            <% end %>
          </div>
          <div class="book-page-item"></div>
        </div>
        <!-- Back -->
        <div class='book-back'>
          <div>
            <img src="<%= data[:url] %>" alt="">
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-left mt-4 md:mt-8 xl:mt-12 text-black6c font-semibold">
    <div class="relative title whitespace-no-wrap <%= fdsz("text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl", "text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl") -%>" style="left: -.75rem"><%= data[:title] %></div>
    <% if data[:subtitle].present? %>
    <div class="subtitle whitespace-no-wrap mt-1 <%= fdsz("text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl", "text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl") -%>"><%= data[:subtitle] %></div>
    <% end %>
  </div>
</div>
