<div class="item">
  <div class="cover">
    <div class="wrapper">
      <div class="book" style="width: <%= data[:width] %>; height: <%= data[:height] %>">
        <!-- Front -->
        <div class="book-front">
          <div>
            <img src="<%= data[:url] %>" alt="">
          </div>
          <div></div>
        </div>
        <!-- Pages -->
        <div class="book-page">
          <div class="book-page-item"></div>
          <div class="book-page-item"></div>
          <div class="book-page-item"></div>
          <div class="book-page-item">
            <a class="px-8 py-2 rounded border border-black text-sm font-medium text-black bg-transparent shadow-sm active:bg-black6c-t70 hover:bg-black6c focus:text-black6c hover:text-white focus:text-white transition duration-150 ease-in-out" href="/pdfjs/web/viewer.html" target="_blank">预览</a>
            <a class="px-8 py-2 rounded mt-6 border border-black text-sm font-medium text-black bg-transparent shadow-sm active:bg-black6c-t70 hover:bg-black6c focus:text-black6c hover:text-white focus:text-white transition duration-150 ease-in-out" href="#">下载</a>
          </div>
          <div class="book-page-item"></div>
        </div>
        <!-- Back -->
        <div class='book-back'>
          <div>
            <img src="<%= data[:url] %>" alt="">
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-left mt-4 md:mt-6 xl:mt-8">
    <div class="relative title whitespace-no-wrap tracking-wider font-semibold text-black6c <%= fdsz("text-base lg:text-lg xl:text-xl", "text-base lg:text-lg xl:text-xl") -%>"><%= data[:title] %></div>
    <% if data[:subtitle].present? %>
    <div class="subtitle whitespace-no-wrap tracking-wider font-normal text-thape-copyright-gray <%= fdsz("text-sm lg:text-base xl:text-lg", "text-sm lg:text-base xl:text-lg") -%>"><%= data[:subtitle] %></div>
    <% end %>
  </div>
</div>
