<div class="item">
  <div class="cover">
    <div class="wrapper">
      <div class="book" style="width: <%= data[:width] %>; height: <%= data[:height] %>">
        <!-- Front -->
        <div class="book-front">
          <div>
            <img src="<%= data[:url] %>" alt="">
          </div>
          <div></div>
        </div>
        <!-- Pages -->
        <div class="book-page">
          <div class="book-page-item"></div>
          <div class="book-page-item"></div>
          <div class="book-page-item"></div>
          <div class="book-page-item">
            <div class="btns rounded border border-solid border-black6c overflow-hidden">
              <a class="px-3 py-1 border-r border-solid border-black6c text-sm font-medium text-black bg-transparent shadow-sm hover:bg-black6c hover:text-white transition duration-150 ease-in-out" href="/pdfjs/web/viewer.html" target="_blank">预览</a>
              <a class="px-3 py-1 text-sm font-medium text-black bg-transparent shadow-sm hover:bg-black6c hover:text-white transition duration-150 ease-in-out" href="#">下载</a>
            </div>
          </div>
          <div class="book-page-item"></div>
        </div>
        <!-- Back -->
        <div class='book-back'>
          <div>
            <img src="<%= data[:url] %>" alt="">
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="description text-left mt-0 md:mt-6 xl:mt-8">
    <div class="relative title whitespace-no-wrap tracking-wider font-semibold text-black6c <%= fdsz("text-base lg:text-lg xl:text-xl", "text-base lg:text-lg xl:text-xl") -%>"><%= data[:title] %></div>
    <% if data[:subtitle].present? %>
    <div class="subtitle whitespace-no-wrap tracking-wider font-normal text-thape-copyright-gray <%= fdsz("text-sm lg:text-base xl:text-lg", "text-sm lg:text-base xl:text-lg") -%>"><%= data[:subtitle] %></div>
    <% end %>
    <div class="btns lg:hidden mt-4">
      <div>
        <a class="inline-block px-6 py-1 rounded border border-solid border-black6c text-sm font-medium text-black bg-transparent shadow-sm hover:bg-black6c hover:text-white transition duration-150 ease-in-out" href="/pdfjs/web/viewer.html" target="_blank">预览</a>
      </div>
      <div>
        <a class="mt-4 inline-block px-6 py-1 rounded border border-solid border-black6c text-sm font-medium text-black bg-transparent shadow-sm hover:bg-black6c hover:text-white transition duration-150 ease-in-out" href="#">下载</a>
      </div>
    </div>
  </div>
</div>
