<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full <%= params[:screen].present? && params[:screen] == 'large' ? 'px-36 lg:px-40 xl:px-44 xxl:px-48 xxxl:px-52' : 'px-44 lg:px-56 xl:px-64 xxl:px-72 xxxl:px-80' %> publications">
  <div class="w-full">
    <%= render partial: 'shared/header', locals: { c: '作品集', e: 'PORTFOLIO',
      header_path: news_index_path, header_class: 'border-gray-200 border-solid border-b', show_header_right: false } %>
  </div>

  <div class="w-full pb-4 md:pb-8 mt-12 xl:mt-16">
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-32 list">
      <% @works.each do |item| %>
      <div class="item">
        <div class="cover">
          <div class="<%= params[:mode].present? && params[:mode] == 'turn' ? 'wrapper-turn' : 'wrapper-rotate' %>">
            <div class="book" style="width: <%= item[:width] %>; height: <%= item[:height] %>">
              <!-- Front -->
              <div class="book-front">
                <div>
                  <img src="<%= item[:url] %>" alt="">
                  <% unless params[:mode].present? && params[:mode] == 'turn' %>
                  <div class="book-download">
                    <a href="#">下载</a>
                  </div>
                  <% end %>
                </div>
                <div></div>
              </div>
              <!-- Pages -->
              <div class="book-page">
                <div class="book-page-item"></div>
                <div class="book-page-item"></div>
                <div class="book-page-item"></div>
                <div class="book-page-item">
                  <% if params[:mode].present? && params[:mode] == 'turn' %>
                  <a class="btn text-sm sm:text-base md:text-lg" href="#">点击下载</a>
                  <% end %>
                </div>
                <div class="book-page-item"></div>
              </div>
              <!-- Back -->
              <div class='book-back'>
                <div>
                  <img src="<%= item[:url] %>" alt="">
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="description mt-4 md:mt-8 xl:mt-12 text-black6c font-semibold">
          <div class="title truncate <%= fdsz("text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl", "text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl") -%>"><%= item[:title] %></div>
          <% if item[:subtitle].present? %>
          <div class="subtitle mt-1 truncate <%= fdsz("text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl", "text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl") -%>">&ensp;<%= item[:subtitle] %></div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="relative w-full lg:pb-10">
    <%= render partial: 'shared/header', locals: { c: '学术研究与出版物', e: 'RESEARCH & PUBLICATIONS',
      header_path: news_index_path, header_class: 'border-gray-200 border-solid border-b', show_header_right: false } %>
    <div class="flex relative lg:absolute right-0 top-2 text-base lg:text-lg">
      <a class="text-black6c font-semibold" href="#">专著书籍</a>
      <a class="mx-6 text-thape-copyright-gray" href="#">规范标准</a>
      <a class="text-thape-copyright-gray" href="#">论文专利</a>
    </div>
  </div>

  <div class="w-full pb-4 md:pb-8 mt-12 xl:mt-16">
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-32 list">
      <% @publications.each do |item| %>
      <div class="item">
        <div class="cover">
          <div class="<%= params[:mode].present? && params[:mode] == 'turn' ? 'wrapper-turn' : 'wrapper-rotate' %>">
            <div class="book" style="width: <%= item[:width] %>; height: <%= item[:height] %>">
              <!-- Front -->
              <div class="book-front">
                <div>
                  <img src="<%= item[:url] %>" alt="">
                  <% unless params[:mode].present? && params[:mode] == 'turn' %>
                  <div class="book-download">
                    <a href="#">下载</a>
                  </div>
                  <% end %>
                </div>
                <div></div>
              </div>
              <!-- Pages -->
              <div class="book-page">
                <div class="book-page-item"></div>
                <div class="book-page-item"></div>
                <div class="book-page-item"></div>
                <div class="book-page-item">
                  <% if params[:mode].present? && params[:mode] == 'turn' %>
                  <a class="btn text-sm sm:text-base md:text-lg" href="#">点击下载</a>
                  <% end %>
                </div>
                <div class="book-page-item"></div>
              </div>
              <!-- Back -->
              <div class='book-back'>
                <div>
                  <img src="<%= item[:url] %>" alt="">
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="description mt-4 md:mt-8 xl:mt-12 text-black6c font-semibold">
          <div class="title truncate <%= fdsz("text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl", "text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl") -%>"><%= item[:title] %></div>
          <% if item[:subtitle].present? %>
          <div class="subtitle mt-1 truncate <%= fdsz("text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl", "text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl") -%>">&ensp;<%= item[:subtitle] %></div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>