<div class="grid grid-cols-2 lg:grid-cols-3 gap-1 sm:gap-2 mt-8 mb-4">
  <div class="col-span-2 lg:col-auto flex justify-center items-center bg-thape-dark-gray">
    <div class="m-auto w-5/6 text-thape-darker-gray font-bold pointer-events-none py-6">
      <p class="text-2xl text-left my-0 xl:my-6">创意与技术完美融合</p>
      <p class="text-base md:text-xl text-left leading-none md:leading-snug">ENGINEERING POWERED. </p>
      <p class="text-base md:text-xl text-left leading-none md:leading-snug">DESIGN ACHIEVED.</p>
    </div>
  </div>
  <div class="relative col-span-2 overflow-hidden">
    <a href="<%= residential_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-1-2w.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">居住</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">RESIDENTIAL</p>
      </div>
    </a>
  </div>
  <div class="relative overflow-hidden order-none lg:order-none">
    <a href="<%= demonstration_zone_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-2-1.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">展示区/示范区</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">DEMONSTRATION ZONE</p>
      </div>
    </a>
  </div>
  <div class="relative overflow-hidden order-1 lg:order-none">
    <a href="<%= office_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-2-2.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">商务办公</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">OFFICE</p>
      </div>
    </a>
  </div>
  <div class="relative row-span-2 overflow-hidden order-2 lg:order-none">
    <a href="<%= supertall_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-2-3l.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">超高层</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">SUPERTALL</p>
      </div>
    </a>
  </div>
  <div class="relative col-span-2 overflow-hidden order-5 lg:order-none">
    <a href="<%= mixed_used_tod_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-3-1w.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">综合体/TOD</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">MIXED-USED/TOD</p>
      </div>
    </a>
  </div>
  <div class="relative overflow-hidden order-6 lg:order-none">
    <a href="<%= commercial_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-4-1.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">商业空间</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">COMMERCIAL</p>
      </div>
    </a>
  </div>
  <div class="relative col-span-2 overflow-hidden order-8 lg:order-none">
    <a href="<%= cultural_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-4-2w.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">文化空间</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">CULTURAL</p>
      </div>
    </a>
  </div>
  <div class="relative row-span-2 overflow-hidden order-9 lg:order-none">
    <a href="<%= urban_design_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-5-1l.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">城市设计/更新</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">URBAN DESIGN/RENOVATION</p>
      </div>
    </a>
  </div>
  <div class="relative overflow-hidden order-3 lg:order-none">
    <a href="<%= education_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-5-2.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">教育</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">EDUCATION</p>
      </div>
    </a>
  </div>
  <div class="relative overflow-hidden order-4 lg:order-none">
    <a href="<%= medical_care_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-5-3.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">医疗康养</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">MEDICAL CARE</p>
      </div>
    </a>
  </div>
  <div class="relative col-span-2 overflow-hidden order-12 lg:order-none">
    <a href="<%= hospitality_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-6-2w.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">旅居/酒店</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">SOJOURN/HOSPITALITY</p>
      </div>
    </a>
  </div>
  <div class="relative overflow-hidden order-10 lg:order-none">
    <a href="<%= urban_planning_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-7-1.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">城市规划</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">URBAN PLANNING</p>
      </div>
    </a>
  </div>
  <div class="relative overflow-hidden order-11 lg:order-none">
    <a href="<%= landscape_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-7-2.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">景观</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">LANDSCAPE</p>
      </div>
    </a>
  </div>
  <div class="relative overflow-hidden order-7 lg:order-none">
    <a href="<%= interior_works_path -%>" class="cursor-pointer">
      <%= image_pack_tag 'media/images/works-7-3.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-0 right-0 break-all px-3 md:px-6 bottom-1 md:bottom-4">
        <p class="text-2xl md:text-3xl text-left pb-1 font-medium leading-none md:leading-normal max-sm:text-lg">室内</p>
        <p class="text-base md:text-xl text-left leading-none md:leading-snug max-sm:text-sm max-sm:tracking-tight" style="word-break: keep-all;">INTERIOR</p>
      </div>
    </a>
  </div>
</div>
