<% provide(:title, @seo.home_title) %>
<% provide(:meta_title, @seo.home_title) %>

<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <%- content_for :header_right do %>
    <div class="block w-full mt-2 sm:w-full lg:w-auto sm:mt-4 lg:mt-0">
      <%= render partial: 'search_form' %>
    </div>
  <% end %>
  <%= render partial: 'shared/header', locals: { c: params[:q].present? ? "搜索#{@city.name}：#{params[:q]}" : @city.name, e: @city.url_name.upcase,
    header_path: residential_works_path, header_class: 'border-gray-200 border-solid border-b', show_header_right: true } %>

  <ol class="pt-3 <%= fdsz("text-sm", "text-base") -%>">
    <li class="inline-block">
      <a href="<%= root_path -%>" class="text-black6c">首页</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= works_path -%>" class="text-black6c">所有项目</a>
    </li>
    <li class="breadcrumb-item" class="text-black6c">
      <a href="<%= work_path(id: @city.url_name) -%>"><%= @city.name -%></a>
    </li>
  </ol>
</div>
<div class="w-full mx-auto sm:pb-4 md:pb-8 px-1 md:px-3 lg:px-4 xl:px-5 xxl:px-6 xxxl:px-8">
  <div class="flex-grid mt-8 mb-4">
    <div class="flex-grid-box flex-grid-cols-1-gap-1 sm:flex-grid-cols-1-gap-2 md:flex-grid-cols-2-gap-2">
    <% @works.each do |work| %>
      <div class="relative overflow-hidden hover-scale">
        <a href="<%= work_path(id: work.id) -%>" class="cursor-pointer">
          <%= image_tag work.snapshot_jpg.url, class: 'w-full h-full object-cover scale-img' -%>
          <div class="w-full absolute left-0 bottom-0 px-3 sm:px-6 py-2 sm:py-4 text-white card-title-mask">
            <p class="<%= fdsz("text-base sm:text-lg", "text-base sm:text-3xl") -%> text-left sm:pb-1 font-medium leading-none sm:leading-tight"><%= I18n.with_locale(:cn) { work.project_name } -%></p>
            <p class="<%= fdsz("text-sm sm:text-sm", "text-sm sm:text-2xl") -%> text-left leading-snug"><%= I18n.with_locale(:en) { work.project_name } -%></p>
          </div>
        </a>
      </div>
    <% end %>
    </div>
  </div>

  <%= paginate @works %>

</div>

<%= render partial: 'shared/footer' %>
