<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16"
  data-controller="works">
  <%- content_for :header_right do %>
    <div class="block w-full mt-2 sm:w-full lg:w-auto sm:mt-4 lg:mt-0">
      <%= render partial: 'search_form' %>
    </div>
  <% end %>
  <%= render partial: 'shared/header', locals: { c: '所有项目', e: 'PROJECTS',
    header_path: works_path, header_class: 'pt-12', show_header_right: true } %>

  <% if browser.ie? %>
    <%= render partial: 'works_type_ie11' %>
  <% else %>
    <%= render partial: 'works_type' %>
  <% end %>

</div>

<%= render partial: 'shared/footer' %>
