<%= render partial: 'shared/thape_nav', locals: { nav_background: 'white', show_debug: false } -%>

<div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16"
  data-controller="works">
  <%- content_for :header_right do %>
    <div class="inline-block float-right">
      <%= render partial: 'search_form' %>
    </div>
  <% end %>
  <%= render partial: 'shared/header', locals: { c: '所有项目', e: 'PROJECTS',
    header_path: works_path, header_class: 'pt-16', show_header_right: true } %>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-1 sm:gap-2 mt-8 mb-4">
    <div class="col-span-2 lg:col-auto flex justify-center items-center bg-thape-dark-gray">
      <div class="m-auto w-5/6 text-thape-darker-gray font-bold pointer-events-none py-6">
        <p class="text-2xl text-left my-0 xl:my-6">创意与技术完美融合</p>
        <p class="text-xl text-left leading-snug">ENGINEERING POWERED. </p>
        <p class="text-xl text-left leading-snug">DESIGN ACHIEVED.</p>
      </div>
    </div>
    <div class="relative col-span-2 overflow-hidden">
      <a href="<%= residential_works_path -%>" class="cursor-pointer">
        <%= image_pack_tag 'media/images/works-1-2w.jpg', class: 'grid-image hover:scale-105' -%>
        <div class="absolute text-white left-6 bottom-4">
          <p class="text-3xl text-left pb-1 font-medium">居住</p>
          <p class="text-xl text-left leading-snug">RESIDENTIAL</p>
        </div>
      </a>
    </div>
    <div class="relative overflow-hidden">
      <%= image_pack_tag 'media/images/works-2-1.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">展示区/示范区</p>
        <p class="text-xl text-left leading-snug">DEMONSTRATION ZONE</p>
      </div>
    </div>
    <div class="relative overflow-hidden">
      <%= image_pack_tag 'media/images/works-2-2.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">商务办公</p>
        <p class="text-xl text-left leading-snug">OFFICE</p>
      </div>
    </div>
    <div class="relative row-span-2 overflow-hidden">
      <%= image_pack_tag 'media/images/works-2-3l.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4">
        <p class="text-3xl text-left pb-1 font-medium">超高层</p>
        <p class="text-xl text-left leading-snug">SUPERTALL</p>
      </div>
    </div>
    <div class="relative overflow-hidden lg:hidden">
      <%= image_pack_tag 'media/images/works-7-1.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">城市规划</p>
        <p class="text-xl text-left leading-snug">URBAN PLANNING</p>
      </div>
    </div>
    <div class="relative overflow-hidden lg:hidden">
      <%= image_pack_tag 'media/images/works-7-2.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">景观</p>
        <p class="text-xl text-left leading-snug">LANDSCAPE</p>
      </div>
    </div>
    <div class="relative col-span-2 overflow-hidden">
      <%= image_pack_tag 'media/images/works-3-1w.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4">
        <p class="text-3xl text-left pb-1 font-medium">综合体/TOD</p>
        <p class="text-xl text-left leading-snug">MIXED-USED/TOD</p>
      </div>
    </div>
    <div class="relative overflow-hidden">
      <%= image_pack_tag 'media/images/works-4-1.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">商业空间</p>
        <p class="text-xl text-left leading-snug">COMMERCIAL</p>
      </div>
    </div>
    <div class="relative overflow-hidden lg:hidden">
      <%= image_pack_tag 'media/images/works-7-3.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">室内</p>
        <p class="text-xl text-left leading-snug">INTERIOR</p>
      </div>
    </div>
    <div class="relative col-span-2 overflow-hidden">
      <%= image_pack_tag 'media/images/works-4-2w.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">文化空间</p>
        <p class="text-xl text-left leading-snug">CULTURAL</p>
      </div>
    </div>
    <div class="relative row-span-2 overflow-hidden">
      <%= image_pack_tag 'media/images/works-5-1l.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4">
        <p class="text-3xl text-left pb-1 font-medium">城市设计/更新</p>
        <p class="text-xl text-left leading-snug">URBAN DESIGN/RENOVATION</p>
      </div>
    </div>
    <div class="relative overflow-hidden">
      <%= image_pack_tag 'media/images/works-5-2.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">教育</p>
        <p class="text-xl text-left leading-snug">EDUCATION</p>
      </div>
    </div>
    <div class="relative overflow-hidden">
      <%= image_pack_tag 'media/images/works-5-3.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">医疗康养</p>
        <p class="text-xl text-left leading-snug">MEDICAL CARE</p>
      </div>
    </div>
    <div class="relative col-span-2 overflow-hidden">
      <%= image_pack_tag 'media/images/works-6-2w.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">旅居/酒店</p>
        <p class="text-xl text-left leading-snug">SOJOURN/HOSPITALITY</p>
      </div>
    </div>
    <div class="relative overflow-hidden hidden lg:block">
      <%= image_pack_tag 'media/images/works-7-1.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">城市规划</p>
        <p class="text-xl text-left leading-snug">URBAN PLANNING</p>
      </div>
    </div>
    <div class="relative overflow-hidden hidden lg:block">
      <%= image_pack_tag 'media/images/works-7-2.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 bottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">景观</p>
        <p class="text-xl text-left leading-snug">LANDSCAPE</p>
      </div>
    </div>
    <div class="relative overflow-hidden hidden lg:block">
      <%= image_pack_tag 'media/images/works-7-3.jpg', class: 'grid-image hover:scale-105' -%>
      <div class="absolute text-white left-6 sbottom-4" x-show="show_grid_2_4_text">
        <p class="text-3xl text-left pb-1 font-medium">室内</p>
        <p class="text-xl text-left leading-snug">INTERIOR</p>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
