<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16"
  data-controller="works">
  <%- content_for :header_right do %>
    <div class="inline-block float-right">
      <%= render partial: 'search_form' %>
    </div>
  <% end %>
  <%= render partial: 'shared/header', locals: {
    c: params[:q].present? ? "搜索#{@residential_type.cn_name}：#{params[:q]}" : @residential_type.cn_name,
    e: @residential_type.en_name,
    header_path: @self_path, header_class: 'pt-12', show_header_right: true } %>

  <ol class="pt-3">
    <li class="inline-block">
      <a href="<%= root_path -%>" class="text-black6c">首页</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= works_path -%>" class="text-black6c">所有项目</a>
    </li>
    <li class="breadcrumb-item" class="text-black6c">
      <a href="<%= residential_works_path -%>">居住</a>
    </li>
    <li class="breadcrumb-item" class="text-black6c">
      <a href="<%= @self_path -%>"><%= @residential_type.cn_name -%></a>
    </li>
  </ol>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 sm:gap-2 mt-8 mb-4">
    <% @works.each do |work| %>
      <div class="grid-div">
        <a href="<%= work_path(id: work.id) -%>" class="cursor-pointer">
          <%= image_tag work.snapshot_jpg.url, class: 'grid-mask-image hover:scale-105' -%>
          <div class="absolute w-full px-6 py-4 text-white left-0 bottom-0 max-sm:px-3 max-sm:py-2">
            <p class="text-xl text-left pb-1 font-medium max-sm:text-lg"><%= I18n.with_locale(:cn) { work.project_name } -%></p>
            <p class="text-lg text-left leading-snug max-sm:text-base"><%= I18n.with_locale(:en) { work.project_name } -%></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>

  <%= paginate @works %>

</div>
<%= render partial: 'shared/footer' %>
