<%= render partial: 'shared/thape_nav', locals: { nav_background: 'white', show_debug: false } -%>

<div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <%- content_for :header_right do %>
    <div class="inline-block float-right">
      <%= render partial: 'search_form' %>
    </div>
  <% end %>
  <%= render partial: 'shared/header', locals: { c: '居住', e: 'RESIDENTIAL', header_path: residential_works_path } %>

  <ol class="pt-3">
    <li class="inline-block">
      <a href="<%= root_path -%>" class="text-black6c">首页</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= works_path -%>" class="text-black6c">所有项目</a>
    </li>
    <li class="breadcrumb-item" class="text-black6c">
      <a href="<%= residential_works_path -%>">居住</a>
    </li>
  </ol>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 sm:gap-2 mt-8 mb-4">
    <div class="relative overflow-hidden">
        <%= image_pack_tag 'media/images/residential-1.jpg', class: 'grid-image hover:scale-105' -%>
        <div class="absolute text-white left-6 bottom-4">
          <p class="text-xl text-left pb-1 font-medium">精品住宅</p>
          <p class="text-lg text-left leading-snug">RESIDENCE</p>
        </div>
    </div>
    <div class="relative overflow-hidden">
        <%= image_pack_tag 'media/images/residential-2.jpg', class: 'grid-image hover:scale-105' -%>
        <div class="absolute text-white left-6 bottom-4">
          <p class="text-xl text-left pb-1 font-medium">综合社区</p>
          <p class="text-lg text-left leading-snug">COMMUNITY</p>
        </div>
    </div>
    <div class="relative overflow-hidden">
      <a href="<%= residential_rental_works_path -%>" class="cursor-pointer">
        <%= image_pack_tag 'media/images/residential-3.jpg', class: 'grid-image hover:scale-105' -%>
        <div class="absolute text-white left-6 bottom-4">
          <p class="text-xl text-left pb-1 font-medium">租赁住房</p>
          <p class="text-lg text-left leading-snug">RENTAL</p>
        </div>
      </a>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>
