<%= render partial: 'shared/thape_nav' -%>

<div class="w-full relative">
  <div
    class="thape-slide"
    data-controller="carousel2"
    data-carousel2-item-data-type="slide-item"
    data-carousel2-active-class="active"
    data-carousel2-animation-class-base="animate"
    data-carousel2-animation-class-left-in="fade-in"
    data-carousel2-animation-class-left-out="fade-out"
    data-carousel2-animation-class-right-in="fade-in"
    data-carousel2-animation-class-right-out="fade-out"
    data-carousel2-animation-duration="500"
    data-carousel2-interval-time="3000"
    data-action="mouseover->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay"
  >
    <div class="slide-images" data-action="animationstart->carousel2#itemAnimationStart animationend->carousel2#itemAnimationEnd" id="slide-images-container" style="padding-top: 50%;">
      <% @work.work_pictures.each_with_index do |work_picture, index| %>
      <div data-type="slide-item" class="image-item <%= index == 0 ? 'active' : '' -%>">
        <picture>
          <img style="width: 100%; height: auto;" src="<%= work_picture.album_jpg.url -%>" alt="" />
        </picture>
      </div>
      <% if index == 0 %>
      <script>
        (function(){
          const img = new Image();
          img.src = "<%= work_picture.album_jpg.url -%>";
          img.onload = function() {
            const elem = document.querySelector('#slide-images-container');
            if (elem) {
              elem.style.paddingTop = `${img.height/img.width*100}%`;
            }
          }
        })()
      </script>
      <% end %>
      <% end %>
    </div>
    <div class="action-area action-left" data-action="click->carousel2#toLast">
      <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg">
        <g>
          <title>background</title>
          <rect fill="none" height="42" width="42" y="-1" x="-1" />
          <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%">
            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
          </g>
        </g>
        <g>
          <title>Layer 1</title>
          <path transform="rotate(-180 20,20) " d="m9.12018,30.15023l10.15276,-10.15271l-10.15276,-10.15278l5.80282,-5.80219l15.95681,15.95497l-15.95681,15.95992" stroke-width="0" stroke="#000" fill="currentColor" />
        </g>
      </svg>
    </div>
    <div data-type="action-to-next" class="action-area action-right" data-action="click->carousel2#toNext">
      <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg">
        <g>
          <title>background</title>
          <rect fill="none" height="42" width="42" y="-1" x="-1" />
          <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%">
            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
          </g>
        </g>
        <g>
          <title>Layer 1</title>
          <path stroke-dasharray="5,2,2,2,2,2" d="m9.12019,30.15023l10.15276,-10.15271l-10.15276,-10.15278l5.80282,-5.80219l15.95681,15.95497l-15.95681,15.95992" stroke-width="0" stroke="#000" fill="currentColor" />
        </g>
      </svg>
    </div>
  </div>
</div>

<div data-controller="<%= scroll_controller -%>"
     data-action="resize@window-><%= scroll_controller -%>#layout"
     data-scroll-offset="0.50">

<div class="w-full mx-auto clearfix sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 scroller-step max-sm:px-4">
  <header class="py-3 leading-snug clearfix border-gray-200 border-solid border-b">
      <div class="inline-block max-sm:block">
        <h1 class="text-2xl xxl:text-3xl xxxl:text-4xl font-bold text-black6c">
          <%= I18n.with_locale(:cn) { @work.project_name } -%>
        </h1>
        <h2 class="text-1xl xxl:text-2xl xxxl:text-3xl font-semibold text-black6c">
          <%= I18n.with_locale(:en) { @work.project_name } -%>
        </h2>
      </div>
      <div class="inline-block float-right text-base max-sm:block max-sm:float-none">
        <ol>
          <% @work.project_types.each do |project_type| %>
            <li class="header-item">
              <a href="<%= project_type_path(project_type) -%>" class="text-black6c"><%= project_type.cn_name -%>&nbsp;&nbsp;<%= project_type.en_name -%></a>
            </li>
          <% end %>
          <li class="header-item-last">
            <a href="<%= work_path(id: @work.city.url_name) -%>" class="text-black6c"><%= @work.city.name -%>&nbsp;&nbsp;<%= @work.city.url_name.upcase -%></a>
          </li>
        </ol>
      </div>
  </header>
  <div class="my-8 xl:text-lg xxl:text-xl xxxl:text-2xl max-sm:my-4">
    <div class="inline-block float-left space-y-2 mr-8 max-sm:block max-sm:float-none max-sm:m-0">
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">客户名称 CLIENT</label>
        <% @work.client.split("\n").each do |client| %>
          <p class="font-normal"><%= client %></p>
        <% end %>
      </div>
      <% if @work.design_completion.present? && !@work.design_completion.year.zero? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">设计完成时间 DESIGN COMPLETION</label>
          <% if @work.design_completion_lines.present? %>
            <% @work.design_completion_lines.split("\n").each do |design_completion| %>
              <p class="font-normal"><%= design_completion %></p>
            <% end %>
          <% else %>
            <p class="font-normal"><%= @work.design_completion.year -%>年</p>
          <% end %>
        </div>
      <% end %>
      <% if @work.construction_completion.present? && !@work.construction_completion.year.zero?  %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">竣工时间 CONSTRUCTION COMPLETION</label>
          <% if @work.construction_completion_lines.present? %>
            <% @work.construction_completion_lines.split("\n").each do |construction_completion| %>
              <p class="font-normal"><%= construction_completion %></p>
            <% end %>
          <% else %>
            <p class="font-normal"><%= @work.construction_completion.year -%>年</p>
          <% end %>
        </div>
      <% end %>
      <% if @work.city.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">所在城市 LOCATION</label>
          <p class="font-normal"><%= @work.city.name -%></p>
        </div>
      <% end %>
      <% if @work.planning_area.present? && !@work.planning_area.zero? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">规划面积 PLANNING SIZE</label>
          <p class="font-normal"><%= @work.planning_area -%>k㎡ </p>
        </div>
      <% end %>
      <% if @work.site_area.present? && !@work.site_area.zero? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">用地面积 SITE SIZE</label>
          <p class="font-normal"><%= @work.site_area -%>㎡ </p>
        </div>
      <% end %>
      <% if @work.architecture_area.present? && !@work.architecture_area.zero? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">建筑面积 SIZE</label>
          <% if @work.architecture_area_lines.present? %>
            <% @work.architecture_area_lines.split("\n").each do |architecture_area| %>
              <p class="font-normal"><%= architecture_area %></p>
            <% end %>
          <% else %>
            <p class="font-normal"><%= @work.architecture_area -%>㎡ </p>
          <% end %>
        </div>
      <% end %>
      <% if @work.services.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">服务范围 SERVICE</label>
          <% @work.services.split("\n").each do |service| %>
            <p class="font-normal"><%= service %></p>
          <% end %>
        </div>
      <% end %>
      <% if @work.team.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">设计团队 TEAM</label>
          <% @work.team.split("\n").each do |team| %>
            <p class="font-normal"><%= team %></p>
          <% end %>
        </div>
      <% end %>
      <% if @work.cooperation.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">合作单位 COOPERATION</label>
          <% @work.cooperation.split("\n").each do |cooperation| %>
            <p class="font-normal"><%= cooperation %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @work.awards.present? %>
      <main class="inline-block">
        <div class="mb-4">
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">获奖 AWARDS</label>
          <% @work.awards.split("\n").each do |award| %>
            <p><%= award %></p>
          <% end %>
        </div>
      </main>
    <% end %>
    <aside class="inline-block w-80 sm:float-right max-sm:float:none max-sm:block max-sm:w-full max-sm:mt-4">
      <div class="space-y-4 pb-6 border-gray-200 border-solid border-b w-2/3 max-sm:w-full max-sm:pb-3">
        <h3 class="text-black6c">推荐阅读</h3>
        <a href="<%= work_path(id: @first_work.id) -%>">
          <figure class="sm:space-y-1 max-sm:flex max-sm:my-2">
            <%= image_tag @first_work.snapshot_jpg.url, class: 'w-full max-sm:w-1/3 max-sm:flex-none max-sm:block' -%>
            <div class="max-sm:w-2/3 max-sm:pl-2 max-sm:flex-1 max-sm:flex max-sm:content-between max-sm:flex-wrap">
              <figcaption class="text-sm pt-2 text-black6c max-sm:block max-sm:w-full max-sm:flex-none max-sm:p-0"><%= @first_work.project_name -%></figcaption>
              <p class="text-xs text-gray1c max-sm:block max-sm:w-full max-sm:flex-none"><%= @first_work.construction_completion&.year == 0 ? '' : @first_work.construction_completion&.year %></p>
            </div>
          </figure>
        </a>
        <a href="<%= work_path(id: @second_work.id) -%>">
          <figure class="sm:space-y-1 max-sm:flex max-sm:my-2">
            <%= image_tag @second_work.snapshot_jpg.url, class: 'w-full max-sm:w-1/3 max-sm:flex-none max-sm:block' -%>
            <div class="max-sm:w-2/3 max-sm:pl-2 max-sm:flex-1 max-sm:flex max-sm:content-between max-sm:flex-wrap">
              <figcaption class="text-sm pt-2 text-black6c max-sm:block max-sm:w-full max-sm:flex-none max-sm:p-0"><%= @second_work.project_name -%></figcaption>
              <p class="text-xs text-gray1c max-sm:block max-sm:w-full max-sm:flex-none"><%= @second_work.construction_completion&.year == 0 ? '' : @second_work.construction_completion&.year %></p>
            </div>
          </figure>
        </a>
      </div>
      <nav class="pt-6">
        <ol class="space-y-4">
            <li class="text-base"><a href="<%= work_path(id: @previous_work.id) -%>"><span class="circle-border border border-black text-center">&lt;</span> <%= @previous_work.project_name -%></a></li>
            <li class="text-base"><a href="<%= work_path(id: @next_work.id) -%>"><span class="circle-border border border-black text-center">&gt;</span> <%= @next_work.project_name -%></a></li>
        </ol>
      </nav>
    </aside>
  </div>
</div>

<div class="w-full mx-auto sm:pt-4 md:pt-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 max-sm:px-4">
  <h2 class="xl:text-lg xxl:text-xl xxxl:text-2xl text-black6c">相关项目</h2>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 <%= @relative_works.count >= 4 ? 'lg:grid-cols-4' : "lg:grid-cols-#{@relative_works.count}" -%> gap-1 sm:gap-2 my-2 max-sm:px-4">
  <% @relative_works.each do |work| %>
    <div class="relative overflow-hidden bg-black">
      <a href="<%= work_path(id: work.id) -%>" class="cursor-pointer">
        <%= image_tag work.snapshot_jpg.url, class: 'grid-mask-image hover:scale-105' -%>
        <div class="absolute text-white left-6 bottom-2">
          <p class="text-left pb-1 font-semibold text-lg xl:text-xl"><%= I18n.with_locale(:cn) { work.project_name } -%></p>
          <p class="text-left font-medium text-sm"><%= I18n.with_locale(:en) { work.project_name } -%></p>
        </div>
      </a>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/footer' %>
</div>

