<%= render partial: 'shared/thape_nav' -%>

<div class="w-full relative">
  <div
    class="thape-slide"
    data-controller="carousel2"
    data-carousel2-item-data-type="slide-item"
    data-carousel2-active-class="active"
    data-carousel2-animation-class-base="animate"
    data-carousel2-animation-class-left-in="fade-in"
    data-carousel2-animation-class-left-out="fade-out"
    data-carousel2-animation-class-right-in="fade-in"
    data-carousel2-animation-class-right-out="fade-out"
    data-carousel2-animation-duration="500"
    data-carousel2-interval-time="5000"
    data-action="mouseenter->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay"
  >
    <div class="slide-images" data-action="animationstart->carousel2#itemAnimationStart animationend->carousel2#itemAnimationEnd" id="slide-images-container" style="padding-top: 50%;">
      <% @work.work_pictures.each_with_index do |work_picture, index| %>
      <div data-type="slide-item" class="image-item <%= index == 0 ? 'active' : '' -%>">
        <picture>
          <img style="width: 100%; height: auto;" src="<%= work_picture.album_jpg.url -%>" alt="" />
        </picture>
      </div>
      <% if index == 0 %>
      <script>
        (function(){
          const img = new Image();
          img.src = "<%= work_picture.album_jpg.url -%>";
          img.onload = function() {
            const elem = document.querySelector('#slide-images-container');
            if (elem) {
              elem.style.paddingTop = img.height / img.width * 100 + '%';
            }
          }
        })()
      </script>
      <% end %>
      <% end %>
    </div>
    <div class="action-area action-left" data-action="click->carousel2#toLast">
      <img class="w-8" src="<%= asset_pack_path('media/images/arrow_left.svg') -%>" alt="上一张" />
    </div>
    <div class="action-area action-right text-white" data-action="click->carousel2#toNext">
      <img class="w-8" src="<%= asset_pack_path('media/images/arrow_right.svg') -%>" alt="下一张" />
    </div>
  </div>
</div>

<div data-controller="<%= scroll_controller -%>"
     data-action="resize@window-><%= scroll_controller -%>#layout"
     data-scroll-offset="0.50">

<div class="w-full mx-auto clearfix sm:py-4 md:py-8 px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 scroller-step">
  <header class="relative py-3 leading-snug clearfix border-gray-200 border-solid border-b">
      <div class="block sm:inline-block">
        <h1 class="<%= fdsz("text-xl sm:#{smFzClass(1)}", "text-xl sm:#{xlFzClass(1)}") -%> font-bold text-black6c">
          <%= I18n.with_locale(:cn) { @work.project_name } -%>
        </h1>
        <h2 class="<%= fdsz("text-base sm:#{smFzClass(2)}", "text-base sm:#{xlFzClass(3)}") -%> font-semibold text-black6c">
          <%= I18n.with_locale(:en) { @work.project_name } -%>
        </h2>
      </div>
      <div class="sm:absolute sm:top-4 sm:right-0 <%= fdsz("text-sm sm:#{smFzClass(3)}", "text-sm sm:#{xlFzClass(4)}") -%>">
        <ol>
          <% @work.project_types.each do |project_type| %>
            <li class="header-item">
              <a href="<%= project_type_path(project_type) -%>" class="text-black6c"><%= project_type.cn_name -%>&nbsp;&nbsp;<%= project_type.en_name -%></a>
            </li>
          <% end %>
          <li class="header-item-last">
            <a href="<%= work_path(id: @work.city.url_name) -%>" class="text-black6c"><%= @work.city.name -%>&nbsp;&nbsp;<%= @work.city.url_name.upcase -%></a>
          </li>
        </ol>
      </div>
  </header>
  <div class="my-4 sm:my-8 clearfix <%= fdsz("text-sm sm:#{smFzClass(3)}", "text-sm sm:#{xlFzClass(4)}") -%>">
    <div class="sm:inline-block float-none sm:float-left space-y-2 m-0 sm:mr-8">
      <div>
        <label class="text-thape-copyright-gray">客户名称 CLIENT</label>
        <% @work.client.split("\n").each do |client| %>
          <p class="font-normal"><%= client %></p>
        <% end %>
      </div>
      <% if @work.design_completion.present? && !@work.design_completion.year.zero? %>
        <div>
          <label class="text-thape-copyright-gray">设计完成时间 DESIGN COMPLETION</label>
          <% if @work.design_completion_lines.present? %>
            <% @work.design_completion_lines.split("\n").each do |design_completion| %>
              <p class="font-normal"><%= design_completion %></p>
            <% end %>
          <% else %>
            <p class="font-normal"><%= @work.design_completion.year -%>年</p>
          <% end %>
        </div>
      <% end %>
      <% if @work.construction_completion.present? && !@work.construction_completion.year.zero?  %>
        <div>
          <label class="text-thape-copyright-gray">竣工时间 CONSTRUCTION COMPLETION</label>
          <% if @work.construction_completion_lines.present? %>
            <% @work.construction_completion_lines.split("\n").each do |construction_completion| %>
              <p class="font-normal"><%= construction_completion %></p>
            <% end %>
          <% else %>
            <p class="font-normal"><%= @work.construction_completion.year -%>年</p>
          <% end %>
        </div>
      <% end %>
      <% if @work.city.present? %>
        <div>
          <label class="text-thape-copyright-gray">所在城市 LOCATION</label>
          <p class="font-normal"><%= @work.city.name -%></p>
        </div>
      <% end %>
      <% if @work.planning_area.present? && !@work.planning_area.zero? %>
        <div>
          <label class="text-thape-copyright-gray">规划面积 PLANNING SIZE</label>
          <p class="font-normal"><%= @work.planning_area -%>k㎡</p>
        </div>
      <% end %>
      <% if @work.site_area.present? && !@work.site_area.zero? %>
        <div>
          <label class="text-thape-copyright-gray">用地面积 SITE SIZE</label>
          <p class="font-normal"><%= @work.site_area -%>㎡</p>
        </div>
      <% end %>
      <% if @work.architecture_area.present? && !@work.architecture_area.zero? %>
        <div>
          <label class="text-thape-copyright-gray">建筑面积 SIZE</label>
          <% if @work.architecture_area_lines.present? %>
            <% @work.architecture_area_lines.split("\n").each do |architecture_area| %>
              <p class="font-normal"><%= architecture_area %></p>
            <% end %>
          <% else %>
            <p class="font-normal"><%= @work.architecture_area -%>㎡</p>
          <% end %>
        </div>
      <% end %>
      <% if @work.services.present? %>
        <div>
          <label class="text-thape-copyright-gray">服务范围 SERVICE</label>
          <% @work.services.split("\n").each do |service| %>
            <p class="font-normal"><%= service %></p>
          <% end %>
        </div>
      <% end %>
      <% if @work.team.present? %>
        <div>
          <label class="text-thape-copyright-gray">设计团队 TEAM</label>
          <% @work.team.split("\n").each do |team| %>
            <p class="font-normal"><%= team %></p>
          <% end %>
        </div>
      <% end %>
      <% if @work.cooperation.present? %>
        <div>
          <label class="text-thape-copyright-gray">合作单位 COOPERATION</label>
          <% @work.cooperation.split("\n").each do |cooperation| %>
            <p class="font-normal"><%= cooperation %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @work.awards.present? %>
      <main class="inline-block">
        <div class="mb-4">
          <label class="text-thape-copyright-gray">获奖 AWARDS</label>
          <% @work.awards.split("\n").each do |award| %>
            <p><%= award %></p>
          <% end %>
        </div>
      </main>
    <% end %>
    <aside class="sm:inline-block w-full sm:w-80 float:none sm:float-right mt-4 sm:mt-0">
      <div class="space-y-4 pb-3 sm:pb-6 border-gray-200 border-solid border-b w-full sm:w-2/3">
        <h3 class="text-black6c <%= fdsz("#{smFzClass(2)}", "#{xlFzClass(3)}") -%>">推荐阅读</h3>
        <a href="<%= work_path(id: @first_work.id) -%>">
          <figure class="sm:space-y-1 flex sm:block my-2 sm:my-0">
            <div class="w-1/3 sm:w-auto flex-none sm:flex-initial">
            <%= image_tag @first_work.snapshot_jpg.url, class: 'w-full' -%>
            </div>
            <div class="w-2/3 sm:w-auto pl-2 sm:pl-0 flex-1 sm:flex-initial flex sm:block content-between sm:content-start flex-wrap sm:flex-no-wrap <%= fdsz("#{smFzClass(5)}", "#{xlFzClass(5)}") -%>">
              <figcaption class="p-0 sm:pt-2 text-black6c block w-full sm:w-auto flex-none sm:flex-initial"><%= @first_work.project_name -%></figcaption>
              <p class="text-gray1c block w-full sm:w-auto flex-none sm:flex-initial"><%= @first_work.construction_completion&.year == 0 ? '' : @first_work.construction_completion&.year %></p>
            </div>
          </figure>
        </a>
        <a href="<%= work_path(id: @second_work.id) -%>">
          <figure class="sm:space-y-1 flex sm:block my-2 sm:mt-4 sm:mb-2">
            <div class="w-1/3 sm:w-auto flex-none sm:flex-initial">
            <%= image_tag @second_work.snapshot_jpg.url, class: 'w-full' -%>
            </div>
            <div class="w-2/3 sm:w-auto pl-2 sm:pl-0 flex-1 sm:flex-initial flex sm:block content-between sm:content-start flex-wrap sm:flex-no-wrap <%= fdsz("#{smFzClass(5)}", "#{xlFzClass(5)}") -%>">
              <figcaption class="p-0 sm:pt-2 text-black6c block w-full sm:w-auto flex-none sm:flex-initial"><%= @second_work.project_name -%></figcaption>
              <p class="text-gray1c block w-full sm:w-auto flex-none sm:flex-initial"><%= @second_work.construction_completion&.year == 0 ? '' : @second_work.construction_completion&.year %></p>
            </div>
          </figure>
        </a>
      </div>
      <nav class="pt-6 w-full sm:w-2/3">
        <ol class="space-y-4 <%= fdsz("#{smFzClass(5)}", "#{xlFzClass(5)}") -%>">
            <li>
              <a class="flex items-center" href="<%= work_path(id: @previous_work.id) -%>">
                <span class="border border-black text-center flex-none mr-1 <%= fdsz("w-5 h-5 leading-5", "w-6 h-6 leading-6") -%>" style="border-radius: 50%;">&lt;</span>
                <span style="margin-top: 2px;"><%= @previous_work.project_name -%></span>
              </a>
            </li>
            <li>
              <a class="flex items-center" href="<%= work_path(id: @next_work.id) -%>">
                <span class="border border-black text-center flex-none mr-1 <%= fdsz("w-5 h-5 leading-5", "w-6 h-6 leading-6") -%>" style="border-radius: 50%;">&gt;</span>
                <span style="margin-top: 2px;"><%= @next_work.project_name -%></span>
              </a>
            </li>
        </ol>
      </nav>
    </aside>
  </div>
</div>

<div class="w-full mx-auto sm:pt-4 md:pt-8 px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <h2 class="<%= fdsz("#{smFzClass(2)}", "#{xlFzClass(3)}") -%> text-black6c">相关项目</h2>
</div>
<div class="flex-grid my-2">
  <div class="flex-grid-box flex-grid-cols-1-gap-1 sm:flex-grid-cols-1-gap-2 md:flex-grid-cols-2-gap-2 <%= @relative_works.count >= 4 ? 'lg:flex-grid-cols-4-gap-2' : "lg:flex-grid-cols-#{@relative_works.count}-gap-2" -%>">
  <% @relative_works.each do |work| %>
    <div class="grid-div">
      <a href="<%= work_path(id: work.id) -%>" class="cursor-pointer">
        <%= image_tag work.snapshot_jpg.url, class: 'grid-mask-image hover:scale-105' -%>
        <div class="absolute text-white left-4 bottom-2">
          <p class="<%= fdsz("text-lg sm:#{smFzClass(2)}", "text-lg sm:#{xlFzClass(3)}") -%> text-left pb-1 font-semibold leading-tight"><%= I18n.with_locale(:cn) { work.project_name } -%></p>
          <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(5)}") -%> text-left font-medium leading-tight"><%= I18n.with_locale(:en) { work.project_name } -%></p>
        </div>
      </a>
    </div>
  <% end %>
  </div>
</div>

</div>

<%= render partial: 'shared/footer' %>
