<div data-controller="scroll"
     data-action="resize@window->scroll#layout"
     data-scroll-offset="0.50"
     data-scroll-threshold="0.15"
     data-scroll-amplify_rate="3">
<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<div class="relative" x-data="{ activeSlide: 1, slides: [1, 2, 3], show_left_btn: false, show_right_btn: false }"
  data-controller="carousel"
  data-carousel-refresh-interval="5000">
  <%= image_pack_tag 'media/images/work-item-h1.jpg', 'x-show': 'activeSlide === 1' -%>
  <%= image_pack_tag 'media/images/work-item-h2.jpg', 'x-show': 'activeSlide === 2' -%>
  <%= image_pack_tag 'media/images/work-item-h3.jpg', 'x-show': 'activeSlide === 3' -%>

  <div class="absolute inset-0 w-full flex">
      <div class="w-1/4 flex justify-start items-center"
        x-on:mouseenter="show_left_btn = true"
        x-on:mouseleave="show_left_btn = false">
        <button
          x-on:click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1">
          <svg class="ml-2 pt-1 w-8 h-12 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            x-bind:class="{ 'text-gray-300': show_left_btn, 'text-black6c-t70': !show_left_btn }">
              <g transform="matrix(1,0,0,1,-136,-229)">
                  <path d="M158.061,231.969L140.029,250L158.061,268.031C158.646,268.617 158.646,269.567 158.061,270.153C157.475,270.738 156.525,270.738 155.939,270.153L136.847,251.061C136.262,250.475 136.262,249.525 136.847,248.939L155.939,229.847C156.525,229.262 157.475,229.262 158.061,229.847C158.646,230.433 158.646,231.383 158.061,231.969Z" />
              </g>
          </svg>
        </button>
      </div>
      <div class="w-2/4" data-action="mouseenter->carousel#stop_rotate mouseleave->carousel#start_rotate"></div>
      <div class="w-1/4 flex justify-end items-center"
        x-on:mouseenter="show_right_btn = true"
        x-on:mouseleave="show_right_btn = false">
        <button
          data-target="carousel.nextSlide"\
          x-on:click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1">
          <svg class="pt-1 w-8 h-12 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            x-bind:class="{ 'text-gray-300': show_right_btn, 'text-black6c-t70': !show_right_btn }">
              <g transform="matrix(1,0,0,1,-334,-229)">
                  <path d="M355.561,250.539L336.577,269.53C335.995,270.113 335.05,270.113 334.468,269.53C333.885,268.947 333.885,268.003 334.468,267.42L352.397,249.484L334.468,231.549C333.885,230.966 333.885,230.022 334.468,229.439C335.05,228.856 335.995,228.856 336.577,229.439L355.561,248.429C356.144,249.012 356.144,249.957 355.561,250.539Z" />
              </g>
          </svg>
        </button>
      </div>
  </div>
</div>

<div class="w-full mx-auto clearfix sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 scroller-step">
  <header class="py-3 leading-snug clearfix border-gray-200 border-solid border-b">
      <div class="inline-block">
        <h1 class="text-2xl xxl:text-3xl xxxl:text-4xl font-bold text-black6c">
          青岛协信环球金融中心
        </h1>
        <h2 class="text-1xl xxl:text-2xl xxxl:text-3xl font-semibold text-black6c">
          QINGDAO WORLD FINANCIAL CENTER 
        </h2>
      </div>
      <div class="inline-block w-80 float-right text-base">
        <ol>
          <li class="header-item">
            <a href="<%= root_path -%>" class="text-black6c">青岛 QINGDAO</a>
          </li>
          <li class="header-item-last">
            <a href="<%= works_path -%>" class="text-black6c">商务办公 OFFICE</a>
          </li>
        </ol>
      </div>
  </header>
  <div class="my-8 xl:text-lg xxl:text-xl xxxl:text-2xl">
    <div class="inline-block float-left space-y-4 mr-8">
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">客户名称 CLIENT</label>
        <p class="font-normal">青岛南信控股集团 </p>
      </div>
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">设计完成时间 DESIGN COMPLETION</label>
        <p class="font-normal">2018年10月 </p>
      </div>
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">竣工时间 CONSTRUCTION COMPLETION</label>
        <p class="font-normal">2018年10月 </p>
      </div>
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">所在城市 LOCATION</label>
        <p class="font-normal">青岛市崂山区金家岭金融商务区 </p>
      </div>
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">建筑面积 SIZE</label>
        <p class="font-normal">307400㎡ </p>
      </div>
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">服务范围 SERVICE</label>
        <p class="font-normal">概念-方案-扩初 </p>
      </div>
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">设计团队 TEAM</label>
        <p class="font-normal">上海天华建筑十所 </p>
      </div>
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">合作单位 COOPERATION</label>
        <p class="font-normal">如果空，也隐藏合作单位</p>
      </div>
    </div>
    <main class="inline-block">
      <div class="mb-4">
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">获奖 AWARDS</label>
        <p>2019 上海建筑学会建筑创作奖 佳作奖 </p>
        <p>2019 地产设计大奖·中国 优秀奖 </p>
        <p>2015 全国人居经典建筑 金奖</p>
      </div>
    </main>
    <aside class="inline-block w-80 sm:float-right">
      <div class="space-y-8 pb-6 border-gray-200 border-solid border-b">
        <h3>推荐阅读</h3>
        <figure class="space-y-2">
          <%= image_pack_tag 'media/images/aside-1.jpg', class: 'w-full' -%>
          <figcaption class="pt-2 text-black6c">合肥旭辉甜甜圈幼儿园  </figcaption>
          <p class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-gray1c">2019年12月28日</p>
        </figure>
        <figure class="space-y-2">
          <%= image_pack_tag 'media/images/aside-2.jpg', class: 'w-full' -%>
          <figcaption class="pt-2 text-black6c">合肥万科北城中央公园中小学  </figcaption>
          <p class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-gray1c">2019年12月28日</p>
        </figure>
      </div>
      <nav class="pt-6">
        <ol class="space-y-4">
            <li class="text-base"><a href="#"><span class="circle-border border border-black text-center">&lt;</span> 华润石家庄万象城</a></li>
            <li class="text-base"><a href="#"><span class="circle-border border border-black text-center">&gt;</span> 青岛WFC协信中心</a></li>
        </ol>
      </nav>
    </aside>
  </div>
</div>

<div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <h2 class="text-2xl font-bold text-black6c">相关项目</h2>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1 sm:gap-2 mt-4 mb-2">
  <div class="relative overflow-hidden bg-black">
    <%= image_pack_tag 'media/images/work-item-b1.jpg', class: 'grid-mask-image hover:scale-105' -%>
    <div class="grid-text-container bottom-2">
      <p class="text-left pb-1 font-semibold text-lg xl:text-xl">武汉龙湖葛洲坝国际广场 </p>
      <p class="text-left font-medium text-sm">WUHAN LONGFOR INTERNATIONAL PLAZA</p>
    </div>
  </div>
  <div class="relative overflow-hidden bg-black">
    <%= image_pack_tag 'media/images/work-item-b2.jpg', class: 'grid-mask-image hover:scale-105' -%>
    <div class="grid-text-container bottom-2">
      <p class="text-left pb-1 font-semibold text-lg xl:text-xl">南昌新力中心 </p>
      <p class="text-left font-medium">SINIC CENTER</p>
    </div>
  </div>
  <div class="relative overflow-hidden bg-black">
    <a href="<%= residential_rental_works_path -%>" class="cursor-pointer">
    <%= image_pack_tag 'media/images/work-item-b3.jpg', class: 'grid-mask-image hover:scale-105' -%>
    <div class="grid-text-container bottom-2">
      <p class="text-left pb-1 font-semibold text-lg xl:text-xl">济南万科望岳中心 </p>
      <p class="text-left font-medium text-sm">JINAN VANKE WANGYUE CENTRAL</p>
    </div>
    </a>
  </div>
  <div class="relative overflow-hidden bg-black">
    <a href="<%= residential_rental_works_path -%>" class="cursor-pointer">
    <%= image_pack_tag 'media/images/work-item-b4.jpg', class: 'grid-mask-image hover:scale-105' -%>
    <div class="grid-text-container bottom-2">
      <p class="text-left pb-1 font-semibold text-lg xl:text-xl">上海创智天地综合社区 </p>
      <p class="text-left font-medium text-sm">SHANGHAI KNOWLEDGE & INNOVATION COMMUNITY</p>
    </div>
    </a>
  </div>
</div>

<%= render partial: 'shared/footer' %>
</div>

