<div data-controller="scroll"
     data-action="resize@window->scroll#layout"
     data-scroll-nav_active_item="nav-works"
     data-scroll-offset="0.50"
     data-scroll-threshold="0.15">
<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<div class="relative" x-data="{ activeSlide: 1, slidesLength: <%= @work.work_pictures.size -%>, direction_to_right: true, show_left_btn: false, show_right_btn: false }"
  data-controller="carousel"
  data-carousel-refresh-interval="7000">
  <% @work.work_pictures.each_with_index do |work_picture, index| %>
    <%= image_tag work_picture.album_jpg.url, 'x-show': "activeSlide === #{index + 1} && direction_to_right",
          'x-bind:class': "{ '': activeSlide === 1, 'absolute inset-0 w-full': activeSlide !== #{index + 1} }",
          'x-transition:enter-start': 'opacity-0 transform -translate-x-1/2',
          'x-transition:enter': 'transition ease-linear duration-300',
          'x-transition:enter-end': 'opacity-100 transform translate-x-0',
          'x-transition:leave-start': 'opacity-100 transform translate-x-0',
          'x-transition:leave': 'transition ease-in duration-300',
          'x-transition:leave-end': 'opacity-50 transform translate-x-1/2' -%>
    <%= image_tag work_picture.album_jpg.url, 'x-show': "activeSlide === #{index + 1} && !direction_to_right",
          'x-bind:class': "{ '': activeSlide === 1, 'absolute inset-0 w-full': activeSlide !== #{index + 1} }",
          'x-transition:enter-start': 'opacity-0 transform translate-x-1/2',
          'x-transition:enter': 'transition ease-linear duration-300',
          'x-transition:enter-end': 'opacity-100 transform translate-x-0',
          'x-transition:leave-start': 'opacity-100 transform translate-x-0',
          'x-transition:leave': 'transition ease-in duration-300',
          'x-transition:leave-end': 'opacity-50 transform -translate-x-1/2' -%>
  <% end %>

  <div class="absolute inset-0 w-full flex">
      <div class="w-1/4 flex justify-start items-center"
        x-on:mouseenter="show_left_btn = true"
        x-on:mouseleave="show_left_btn = false">
        <button
          data-action="mouseenter->carousel#stop_rotate mouseleave->carousel#start_rotate"
          x-on:click="direction_to_right = false; activeSlide = activeSlide === 1 ? slidesLength : activeSlide - 1">
          <svg class="ml-4 pt-1 w-6 h-8 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            x-bind:class="{ 'text-gray-300': show_left_btn, 'text-black6c-t70': !show_left_btn }">
              <g transform="matrix(1,0,0,1,-35,-81)">
                  <path d="M50.061,84.04L39.101,95L50.061,105.96C50.646,106.546 50.646,107.496 50.061,108.081C49.475,108.667 48.525,108.667 47.939,108.081L35.919,96.061C35.333,95.475 35.333,94.525 35.919,93.939L47.939,81.919C48.525,81.333 49.475,81.333 50.061,81.919C50.646,82.504 50.646,83.454 50.061,84.04Z" />
              </g>
          </svg>
        </button>
      </div>
      <div class="w-2/4" data-action="mouseenter->carousel#stop_rotate mouseleave->carousel#start_rotate"></div>
      <div class="w-1/4 flex justify-end items-center"
        x-on:mouseenter="show_right_btn = true"
        x-on:mouseleave="show_right_btn = false">
        <button
          data-action="mouseenter->carousel#stop_rotate mouseleave->carousel#start_rotate"
          data-target="carousel.nextSlide"
          x-on:click="direction_to_right = true; activeSlide = activeSlide === slidesLength ? 1 : activeSlide + 1">
          <svg class="mr-4 pt-1 w-6 h-8 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            x-bind:class="{ 'text-gray-300': show_right_btn, 'text-black6c-t70': !show_right_btn }">
              <g transform="matrix(1,0,0,1,-125,-81)">
                <path d="M139.582,96.544L127.587,108.551C127.002,109.136 126.054,109.136 125.47,108.551C124.885,107.966 124.885,107.017 125.47,106.432L136.407,95.484L125.47,84.537C124.885,83.952 124.885,83.003 125.47,82.418C126.054,81.833 127.002,81.833 127.587,82.418L139.582,94.425C140.167,95.01 140.167,95.959 139.582,96.544Z" />
              </g>
          </svg>
        </button>
      </div>
  </div>
</div>

<div class="w-full mx-auto clearfix sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 scroller-step">
  <header class="py-3 leading-snug clearfix border-gray-200 border-solid border-b">
      <div class="inline-block">
        <h1 class="text-2xl xxl:text-3xl xxxl:text-4xl font-bold text-black6c">
          <%= I18n.with_locale(:cn) { @work.project_name } -%>
        </h1>
        <h2 class="text-1xl xxl:text-2xl xxxl:text-3xl font-semibold text-black6c">
          <%= I18n.with_locale(:en) { @work.project_name } -%>
        </h2>
      </div>
      <div class="inline-block w-80 float-right text-base">
        <ol>
          <li class="header-item">
            <a href="<%= root_path -%>" class="text-black6c">青岛 QINGDAO</a>
          </li>
          <li class="header-item-last">
            <a href="<%= works_path -%>" class="text-black6c">商务办公 OFFICE</a>
          </li>
        </ol>
      </div>
  </header>
  <div class="my-8 xl:text-lg xxl:text-xl xxxl:text-2xl">
    <div class="inline-block float-left space-y-4 mr-8">
      <div>
        <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">客户名称 CLIENT</label>
        <p class="font-normal"><%= @work.client -%></p>
      </div>
      <% if @work.design_completion.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">设计完成时间 DESIGN COMPLETION</label>
          <p class="font-normal"><%= @work.design_completion -%></p>
        </div>
      <% end %>
      <% if @work.construction_completion.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">竣工时间 CONSTRUCTION COMPLETION</label>
          <p class="font-normal"><%= @work.construction_completion -%></p>
        </div>
      <% end %>
      <% if @work.city.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">所在城市 LOCATION</label>
          <p class="font-normal"><%= @work.city.name -%></p>
        </div>
      <% end %>
      <% if @work.site_area.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">建筑面积 SIZE</label>
          <p class="font-normal"><%= @work.site_area -%>㎡ </p>
        </div>
      <% end %>
      <% if @work.services.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">服务范围 SERVICE</label>
          <p class="font-normal"><%= @work.services -%></p>
        </div>
      <% end %>
      <% if @work.team.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">设计团队 TEAM</label>
          <p class="font-normal"><%= @work.team -%></p>
        </div>
      <% end %>
      <% if @work.cooperation.present? %>
        <div>
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">合作单位 COOPERATION</label>
          <p class="font-normal"><%= @work.cooperation -%></p>
        </div>
      <% end %>
    </div>
    <% if @work.awards.present? %>
      <main class="inline-block">
        <div class="mb-4">
          <label class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-thape-copyright-gray">获奖 AWARDS</label>
          <% @work.awards.split("\n").each do |award| %>
            <p><%= award %></p>
          <% end %>
        </div>
      </main>
    <% end %>
    <aside class="inline-block w-80 sm:float-right">
      <div class="space-y-4 pb-6 border-gray-200 border-solid border-b w-2/3">
        <h3 class="text-black6c">推荐阅读</h3>
        <figure class="space-y-1">
          <%= image_pack_tag 'media/images/aside-1.jpg', class: 'w-full' -%>
          <figcaption class="text-sm pt-2 text-black6c">合肥旭辉甜甜圈幼儿园  </figcaption>
          <p class="text-xs text-gray1c">2019年12月28日</p>
        </figure>
        <figure class="space-y-1">
          <%= image_pack_tag 'media/images/aside-2.jpg', class: 'w-full' -%>
          <figcaption class="text-sm pt-2 text-black6c">合肥万科北城中央公园中小学  </figcaption>
          <p class="text-xs text-gray1c">2019年12月28日</p>
        </figure>
      </div>
      <nav class="pt-6">
        <ol class="space-y-4">
            <li class="text-base"><a href="#"><span class="circle-border border border-black text-center">&lt;</span> 华润石家庄万象城</a></li>
            <li class="text-base"><a href="#"><span class="circle-border border border-black text-center">&gt;</span> 青岛WFC协信中心</a></li>
        </ol>
      </nav>
    </aside>
  </div>
</div>

<div class="w-full mx-auto sm:pt-4 md:pt-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <h2 class="xl:text-lg xxl:text-xl xxxl:text-2xl text-black6c">相关项目</h2>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1 sm:gap-2 my-2">
  <div class="relative overflow-hidden bg-black">
    <%= image_pack_tag 'media/images/work-item-b1.jpg', class: 'grid-mask-image hover:scale-105' -%>
    <div class="absolute text-white left-6 bottom-2">
      <p class="text-left pb-1 font-semibold text-lg xl:text-xl">武汉龙湖葛洲坝国际广场 </p>
      <p class="text-left font-medium text-sm">WUHAN LONGFOR INTERNATIONAL PLAZA</p>
    </div>
  </div>
  <div class="relative overflow-hidden bg-black">
    <%= image_pack_tag 'media/images/work-item-b2.jpg', class: 'grid-mask-image hover:scale-105' -%>
    <div class="absolute text-white left-6 bottom-2">
      <p class="text-left pb-1 font-semibold text-lg xl:text-xl">南昌新力中心 </p>
      <p class="text-left font-medium">SINIC CENTER</p>
    </div>
  </div>
  <div class="relative overflow-hidden bg-black">
    <a href="<%= residential_rental_works_path -%>" class="cursor-pointer">
    <%= image_pack_tag 'media/images/work-item-b3.jpg', class: 'grid-mask-image hover:scale-105' -%>
    <div class="absolute text-white left-6 bottom-2">
      <p class="text-left pb-1 font-semibold text-lg xl:text-xl">济南万科望岳中心 </p>
      <p class="text-left font-medium text-sm">JINAN VANKE WANGYUE CENTRAL</p>
    </div>
    </a>
  </div>
  <div class="relative overflow-hidden bg-black">
    <a href="<%= residential_rental_works_path -%>" class="cursor-pointer">
    <%= image_pack_tag 'media/images/work-item-b4.jpg', class: 'grid-mask-image hover:scale-105' -%>
    <div class="absolute text-white left-6 bottom-2">
      <p class="text-left pb-1 font-semibold text-lg xl:text-xl">上海创智天地综合社区 </p>
      <p class="text-left font-medium text-sm">SHANGHAI KNOWLEDGE & INNOVATION COMMUNITY</p>
    </div>
    </a>
  </div>
</div>

<%= render partial: 'shared/footer' %>
</div>

