<%= render partial: 'shared/thape_nav', locals: { nav_background: 'white', show_debug: true } -%>

<div class="w-full mx-auto sm:py-2 md:py-4 px-2 md:px-6 lg:px-8 xl:px-12 xxl:px-24 xxxl:px-32">
  <header class="pt-12 pb-3 clearfix border-gray-200 border-solid border-b">
      <h1 class="inline-block text-3xl font-bold text-black6c">
        <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">
          <span class="pb-3 border-gray-900 border-solid border-b-4">所</span>有项目
        </a>
      </h1>
      <h2 class="inline-block text-2xl text-black6c">
        <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">PROJECTS</a>
      </h2>
      <div class="inline-block float-right">
        <form action="#" method="POST">
          <div class="inline-block mt-1 relative rounded-md shadow-sm">
            <select aria-label="Country" class="form-select relative block w-24 sm:w-28 rounded-md text-black6c-t70 transition ease-in-out duration-150">
              <option value="">类型</option>
              <option>建筑</option>
              <option>规划</option>
            </select>
          </div>
          <div class="inline-block mt-1 ml-2 relative rounded-md shadow-sm">
            <select aria-label="Country" class="form-select relative block w-24 sm:w-28 rounded-md text-black6c-t70 transition ease-in-out duration-150">
              <option value="">地区</option>
              <option>USA</option>
              <option>China</option>
            </select>
          </div>
          <div class="inline-block mt-1 ml-2 relative rounded-md shadow-sm">
            <input class="form-input block w-36 sm:w-40 pr-10" placeholder="关键词搜索" />
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <svg class="h-6 w-6 text-gray-400" fill="currentColor">
                <path fill-rule="evenodd" d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <div class="inline-block mt-1 ml-5 rounded-md shadow-sm">
            <input type="reset" class="inline-flex items-center px-4 py-2 border border-gray-400 text-sm leading-5 font-medium rounded-md text-thape-copyright-gray bg-white hover:text-black6c focus:outline-none focus:text-black6c transition ease-in-out duration-150"
              value="重置">
          </div>
        </form>
      </div>
  </header>

  <div class="grid grid-cols-2 lg:grid-cols-3 gap-2 mt-5">
    <div class="flex justify-center items-center bg-gray-200">
      <div class="m-auto w-3/4 text-black6c-t70 pointer-events-none">
        <p class="text-2xl text-center font-medium">创意与技术完美融合</p>
        <p class="text-xl text-center leading-snug">ENGINEERING POWERED. DESIGN ACHIEVED.</p>
      </div>
    </div>
    <div class="relative col-span-2 overflow-hidden">
      <%= image_pack_tag 'media/images/works-1-2w.jpg', class: 'w-full h-full transition duration-1000 ease-in-out transform hover:scale-105' -%>
      <div class="absolute bottom-4 left-6 text-white pointer-events-none">
        <p class="text-left pb-1 font-medium">居住</p>
        <p class="text-xl text-left leading-snug">RESIDENTIAL</p>
      </div>
    </div>
    <div class="relative overflow-hidden">
      <%= image_pack_tag 'media/images/works-2-1.jpg', class: 'w-full h-full transition duration-1000 ease-in-out transform hover:scale-105' -%>
      <div class="absolute bottom-4 left-6 text-white pointer-events-none" x-show="show_grid_2_4_text">
        <p class="text-left pb-1 font-medium">展示区/示范区</p>
        <p class="text-xl text-left leading-snug">DEMONSTRATION ZONE</p>
      </div>
    </div>
    <div class="relative overflow-hidden">
      <%= image_pack_tag 'media/images/works-2-2.jpg', class: 'w-full h-full transition duration-1000 ease-in-out transform hover:scale-105' -%>
      <div class="absolute bottom-4 left-6 text-white pointer-events-none" x-show="show_grid_2_4_text">
        <p class="text-left pb-1 font-medium">商务办公</p>
        <p class="text-xl text-left leading-snug">OFFICE</p>
      </div>
    </div>
    <div class="relative row-span-2 overflow-hidden">
      <%= image_pack_tag 'media/images/works-2-3l.jpg', class: 'w-full h-full transition duration-1000 ease-in-out transform hover:scale-105' -%>
      <div class="absolute bottom-4 left-6 text-white pointer-events-none">
        <p class="text-left pb-1 font-medium">超高层</p>
        <p class="text-xl text-left leading-snug">SUPERTALL</p>
      </div>
    </div>
    <div class="relative col-span-2 overflow-hidden">
      <%= image_pack_tag 'media/images/works-3-1w.jpg', class: 'w-full h-full transition duration-1000 ease-in-out transform hover:scale-105' -%>
      <div class="absolute bottom-4 left-6 text-white pointer-events-none">
        <p class="text-left pb-1 font-medium">综合体/TOD</p>
        <p class="text-xl text-left leading-snug">MIXED-USED/TOD</p>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
