<%= render partial: 'shared/thape_nav', locals: { nav_background: 'white', show_debug: false } -%>

<div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16"
  data-controller="works">
  <%- content_for :header_right do %>
    <div class="inline-block float-right">
      <%= render partial: 'search_form' %>
    </div>
  <% end %>
  <%= render partial: 'shared/header', locals: {
    c: @project_type.cn_name,
    e: @project_type.en_name,
    header_path: @self_path, header_class: 'pt-16', show_header_right: true } %>

  <ol class="pt-3">
    <li class="inline-block">
      <a href="<%= root_path -%>" class="text-black6c">首页</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= works_path -%>" class="text-black6c">所有项目</a>
    </li>
    <li class="breadcrumb-item" class="text-black6c">
      <a href="<%= @self_path -%>"><%= @project_type.cn_name -%></a>
    </li>
  </ol>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 sm:gap-2 mt-8 mb-4">
    <% if @works.present? %>
      <% @works.each do |work| %>
        <div class="relative overflow-hidden bg-black">
          <%= image_tag work.snapshot_jpg.url || '', class: 'grid-mask-image hover:scale-105' -%>
          <div class="absolute text-white left-6 bottom-4">
            <p class="text-xl text-left pb-1 font-medium"><%= I18n.with_locale(:cn) { work.project_name } -%></p>
            <p class="text-lg text-left leading-snug"><%= I18n.with_locale(:en) { work.project_name } -%></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render partial: 'shared/footer' %>
