<div class="bg-thape-footer-gray py-6">
  <div class="w-full mx-auto my-1 pt-6 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
    <nav class="relative flex items-center justify-between h-5 sm:h-10 md:justify-center">
      <div class="md:flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
        <div class="hidden md:flex items-left justify-between w-full md:w-auto">
          <a href="<%= root_path -%>">
            <%= render partial: 'shared/logo', locals: { className: 'fill-current text-black6c h-8 w-48 sm:h-10', svgId: 'thape-footer-logo' } -%>
          </a>
        </div>
      </div>
      <div class="flex text-sm sm:text-base md:absolute md:items-center md:justify-end md:inset-y-0 md:right-0 text-thape-copyright-gray cursor-pointer">
        <a href="<%= biz_map_path -%>" class="mr-2 xxl:text-lg sm:mr-3 md:font-medium hover:text-black6c focus:outline-none focus:text-black6c transition duration-150 ease-in-out">联系方式</a>|
        <a href="<%= statement_sites_path -%>" class="mx-2 xxl:text-lg sm:mx-3 md:font-medium hover:text-black6c focus:outline-none focus:text-black6c transition duration-150 ease-in-out">网站声明</a>|
        <a href="<%= privacy_sites_path -%>" class="mx-2 xxl:text-lg sm:mx-3 md:font-medium hover:text-black6c focus:outline-none focus:text-black6c transition duration-150 ease-in-out">隐私政策</a>|
        <a href="<%= disclaimer_sites_path -%>" class="mx-2 xxl:text-lg sm:mx-3 md:font-medium hover:text-black6c focus:outline-none focus:text-black6c transition duration-150 ease-in-out">免责条款</a>|
        <a href="#" class="ml-2 sm:ml-3 xxl:text-lg md:font-medium hover:text-black6c focus:outline-none focus:text-black6c transition duration-150 ease-in-out">职业发展</a>
      </div>
    </nav>
    <div class="h-2 sm:h-6 border-b border-gray-300"></div>
  </div>
  <div class="w-full flex justify-between px-2 sm:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
    <div class="text-thape-copyright-gray py-2 sm:py-4 my-2">
      <p>总机：021-64281588   设计项目接洽及投诉热线：400-8366606</p>
      <p class="leading-loose">© 2020 上海天华建筑设计有限公司，保留所有权利 沪ICP备08027138号-1 公安部备案号 31010402005733</p>
    </div>

    <div class="relative text-thape-icon-gray text-center sm:text-right pt-4 sm:pt-10 pb-8 sm:w-48" x-data="{ show_wechat_qr: false }">
      <%= image_pack_tag 'media/images/wechat-qr.png', class: 'absolute bottom-0 right-36', "x-show": 'show_wechat_qr' %>
      <a x-on:mouseenter="show_wechat_qr = true" x-on:mouseleave="show_wechat_qr = false"><%= image_pack_tag 'media/images/wechat.svg', class: 'inline-block h-7 mx-2 sm:mr-2 sm:ml-0' -%></a>
      <a href="http://weibo.com/thape" target="_blank"><%= image_pack_tag 'media/images/weibo.svg', class: 'inline-block h-7 mx-2' %></a>
      <a href="https://www.zhihu.com/org/tian-hua-jian-zhu/activities" target="_blank"><%= image_pack_tag 'media/images/zhihu.svg', class: 'inline-block h-7 mx-2 sm:ml-2 sm:mr-0' %></a>
    </div>
  </div>
</div>
