<header class="<%= header_class -%> pb-2 clearfix border-gray-200 border-solid border-b">
  <div class="flex items-end">
    <h1 class="max-sm:block block text-3xl font-bold text-black6c max-sm:mb-0 max-sm:text-xl">
      <a href="<%= header_path -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        <span class="h1-cap max-sm:hidden absolute" style="padding-bottom: .25rem">&emsp;</span>
        <%= c -%>
      </a>
    </h1>
    <h2 class="max-sm:block ml-2 block text-2xl text-black6c max-sm:text-base">
      <a href="<%= header_path -%>" class="hover:text-black6c-t70 focus:text-black6c-t70"><%= e -%></a>
    </h2>
  </div>
  <% if show_header_right %>
    <%= yield :header_right %>
  <% end %>
</header>
