<header class="<%= header_class -%> pb-2 flex items-center w-full flex-wrap border-gray-200 border-solid border-b lg:flex-no-wrap">
  <div class="flex flex-no-wrap items-end w-full flex-none md:w-auto md:flex-auto">
    <h1 class="block <%= fdsz("text-xl sm:#{smFzClass(1)}", "text-xl sm:#{xlFzClass(1)}") -%> font-bold text-black6c mb-0">
      <a href="<%= header_path -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        <span class="h1-cap hidden sm:inline absolute" style="padding-bottom: .25rem">&emsp;</span>
        <%= c -%>
      </a>
    </h1>
    <h2 class="block ml-2 <%= fdsz("text-base sm:#{smFzClass(2)}", "text-base sm:#{xlFzClass(2)}") -%> text-black6c">
      <a href="<%= header_path -%>" class="hover:text-black6c-t70 focus:text-black6c-t70"><%= e -%></a>
    </h2>
  </div>
  <% if show_header_right %>
    <%= yield :header_right %>
  <% end %>
</header>
