<header class="<%= header_class -%> pb-2 clearfix border-gray-200 border-solid border-b">
  <h1 class="inline-block text-3xl font-bold text-black6c">
    <a href="<%= header_path -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
      <span class="h1-cap"><%= c[0] -%></span><%= c[1..] %>
    </a>
  </h1>
  <h2 class="ml-2 inline-block text-2xl text-black6c">
    <a href="<%= header_path -%>" class="hover:text-black6c-t70 focus:text-black6c-t70"><%= e -%></a>
  </h2>
  <%= yield :header_right %>
</header>
