<header class="<%= header_class -%> pb-2 flex w-full flex-wrap border-gray-200 border-solid border-b lg:flex-no-wrap">
  <div class="flex flex-no-wrap items-end w-full flex-none md:w-auto md:flex-auto">
    <h1 class="max-sm:block block text-3xl font-bold text-black6c max-sm:mb-0 max-sm:text-xl">
      <a href="<%= header_path -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">
        <span class="h1-cap max-sm:hidden absolute" style="padding-bottom: .25rem">&emsp;</span>
        <%= c -%>
      </a>
    </h1>
    <h2 class="max-sm:block ml-2 block <%= fdsz('text-2xl max-sm:text-base') -%> text-black6c">
      <a href="<%= header_path -%>" class="hover:text-black6c-t70 focus:text-black6c-t70"><%= e -%></a>
    </h2>
  </div>
  <% if show_header_right %>
    <%= yield :header_right %>
  <% end %>
</header>
