<%
isAboutShow = controller.controller_name == 'abouts' && controller.action_name == 'show';
isCulture = controller.controller_name == 'abouts' && controller.action_name == 'culture';
isJtgg = controller.controller_name == 'leadership' && controller.action_name == 'index';
isQytd = controller.controller_name == 'leadership' && controller.action_name == 'show';
isAbout = isAboutShow || isCulture || isJtgg || isQytd;

isWorksIndex = controller.controller_name == 'works' && (controller.action_name != 'show' || @city.present?);
isWorksShow = controller.controller_name == 'works' && controller.action_name == 'show';
isWork = controller.controller_name == 'works';

isBuilding = controller.controller_name == 'services' && controller.action_name == 'building';
isInterior = controller.controller_name == 'services' && controller.action_name == 'interior';
isPlanning = controller.controller_name == 'services' && controller.action_name == 'planning';
isLandscape = controller.controller_name == 'services' && controller.action_name == 'landscape';
isVetting = controller.controller_name == 'services' && controller.action_name == 'vetting';
isConsluting = controller.controller_name == 'services' && controller.action_name == 'consluting';
isVrtech = controller.controller_name == 'services' && controller.action_name == 'vrtech';
isServices = isBuilding || isInterior || isPlanning || isLandscape || isVetting || isConsluting || isVrtech;

isNewsIndex = controller.controller_name == 'news' && controller.action_name != 'show';
isNewsShow = controller.controller_name == 'news' && controller.action_name == 'show';
isNews = isNewsIndex || isNewsShow;

isSites = controller.controller_name == 'sites';

isContact = controller.controller_name == 'biz_maps';

isSearch = controller.controller_name == 'search';

headerIsActive = isCulture || isJtgg || isQytd || isWorksIndex || isNewsIndex || isSearch || isSites;

isEnglish = I18n.locale == :en;

isBigFont = cookies['ts'] == 'big';
%>
<header
  class="thape-header thape-header-fixed flex-none <%= headerIsActive ? 'active' : '' -%> <%= isBigFont ? 'big-font' : '' -%> px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16"
  lang="<%= isEnglish ? 'en' : '' -%>"
  data-controller="header"
  data-header-is-active="<%= headerIsActive -%>"
>
  <div class="logo">
    <a href="<%= root_path -%>">
      <%= render partial: 'shared/logo', locals: { className: 'thape-logo-svg', svgId: 'thape-nav-logo' } -%>
    </a>
  </div>
  <nav class="level-1" id="nav_level_1" data-target="header.nav">
    <div class="nav-item">
      <a href="<%= about_path -%>" class="<%= isAbout ? 'active' : '' -%>"><%= t('menu.about.text') -%></a>
      <nav class="intro">
        <div class="nav-item">
          <a href="<%= about_path -%>" class="<%= isAboutShow ? 'active' : '' -%>"><%= t('menu.about.about') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= culture_path -%>" class="<%= isCulture ? 'active' : '' -%>"><%= t('menu.about.culture') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= leadership_index_path -%>" class="<%= isJtgg ? 'active' : '' -%>"><%= t('menu.about.leadership') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= leadership_path(id: 'shanghai') -%>" class="<%= isQytd ? 'active' : '' -%>"><%= t('menu.about.area_leadership') -%></a>
        </div>
      </nav>
    </div>
    <div class="nav-point">·</div>
    <div class="nav-item">
      <a href="<%= works_path -%>" class="<%= isWork ? 'active' : '' -%>"><%= t('menu.works.text') -%></a>
      <nav class="works">
        <div class="nav-item">
          <span><%= t('menu.works.project_type') -%></span>
          <div class="list">
            <div class="list-item">
              <div class="nav-item">
                <a href="<%= residential_works_path -%>"><%= t('menu.works.residential') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= demonstration_zone_works_path -%>"><%= t('menu.works.demonstration_zone') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= office_works_path -%>"><%= t('menu.works.office') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= mixed_used_tod_works_path -%>"><%= t('menu.works.mixed_used_tod') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= supertall_works_path -%>"><%= t('menu.works.supertall') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= hospitality_works_path -%>"><%= t('menu.works.hospitality') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= urban_planning_works_path -%>"><%= t('menu.works.urban_planning') -%></a>
              </div>
            </div>
            <div class="list-item">
              <div class="nav-item">
                <a href="<%= commercial_works_path -%>"><%= t('menu.works.commercial') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= cultural_works_path -%>"><%= t('menu.works.cultural') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= urban_design_works_path -%>"><%= t('menu.works.urban_design') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= education_works_path -%>"><%= t('menu.works.education') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= medical_care_works_path -%>"><%= t('menu.works.medical_care') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= landscape_works_path -%>"><%= t('menu.works.landscape') -%></a>
              </div>
              <div class="nav-item">
                <a href="<%= interior_works_path -%>"><%= t('menu.works.interior') -%></a>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-item">
          <span><%= t('menu.works.china_area_company') -%></span>
          <div class="list area">
            <div class="list-item" style="width: 25%;height: 11rem;">
              <div class="nav-item">
                <span><%= t('menu.works.china_east') -%></span>
                <nav>
                  <% City.where(china_area_name: '华东').limit(21).each do |city| %>
                    <div class="nav-item">
                      <a href="<%= work_path(id: city.url_name) -%>"><%= I18n.locale == :en ? city.url_name.upcase : city.name %></a>
                    </div>
                  <% end %>
                </nav>
              </div>
              <div class="nav-item">
                <span><%= t('menu.works.china_north') -%></span>
                <nav>
                  <% City.where(china_area_name: '华北').limit(7).each do |city| %>
                    <div class="nav-item">
                      <a href="<%= work_path(id: city.url_name) -%>"><%= I18n.locale == :en ? city.url_name.upcase : city.name %></a>
                    </div>
                  <% end %>
                </nav>
              </div>
              <div class="nav-item">
                <span><%= t('menu.works.china_south') -%></span>
                <nav>
                  <% City.where(china_area_name: '华南').limit(7).each do |city| %>
                    <div class="nav-item">
                      <a href="<%= work_path(id: city.url_name) -%>"><%= I18n.locale == :en ? city.url_name.upcase : city.name %></a>
                    </div>
                  <% end %>
                </nav>
              </div>
              <div class="nav-item">
                <span><%= t('menu.works.china_centre') -%></span>
                <nav>
                  <% City.where(china_area_name: '华中').limit(7).each do |city| %>
                    <div class="nav-item">
                      <a href="<%= work_path(id: city.url_name) -%>"><%= I18n.locale == :en ? city.url_name.upcase : city.name %></a>
                    </div>
                  <% end %>
                </nav>
              </div>
              <div class="nav-item">
                <span><%= t('menu.works.china_south_west') -%></span>
                <nav>
                  <% City.where(china_area_name: '西南').limit(7).each do |city| %>
                    <div class="nav-item">
                      <a href="<%= work_path(id: city.url_name) -%>"><%= I18n.locale == :en ? city.url_name.upcase : city.name %></a>
                    </div>
                  <% end %>
                </nav>
              </div>
              <div class="nav-item">
                <span><%= t('menu.works.china_north_west') -%></span>
                <nav>
                  <% City.where(china_area_name: '西北').limit(7).each do |city| %>
                    <div class="nav-item">
                      <a href="<%= work_path(id: city.url_name) -%>"><%= I18n.locale == :en ? city.url_name.upcase : city.name %></a>
                    </div>
                  <% end %>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="nav-point">·</div>
    <div class="nav-item">
      <a href="<%= building_path -%>" class="<%= isServices ? 'active' : '' -%>"><%= t('menu.service.text') -%></a>
      <nav class="service">
        <div class="nav-item">
          <a href="<%= building_path -%>" class="<%= isBuilding ? 'active' : '' -%>"><%= t('menu.service.architecture') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= interior_path -%>" class="<%= isInterior ? 'active' : '' -%>"><%= t('menu.service.interior') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= planning_path -%>" class="<%= isPlanning ? 'active' : '' -%>"><%= t('menu.service.urban_planning') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= landscape_path -%>" class="<%= isLandscape ? 'active' : '' -%>"><%= t('menu.service.landscape') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= vetting_path -%>" class="<%= isVetting ? 'active' : '' -%>"><%= t('menu.service.drawing_review') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= consluting_path -%>" class="<%= isConsluting ? 'active' : '' -%>"><%= t('menu.service.consultation') -%></a>
        </div>
        <div class="nav-item">
          <a href="<%= vr_tech_path -%>" class="<%= isVrtech ? 'active' : '' -%>"><%= t('menu.service.vr_technology') -%></a>
        </div>
      </nav>
    </div>
    <div class="nav-point">·</div>
    <div class="nav-item">
      <a href="<%= news_index_path -%>" class="<%= isNews ? 'active' : '' -%>"><%= t('menu.news.text') -%></a>
    </div>
    <div class="nav-point">·</div>
    <div class="nav-item">
      <a target="_blank" rel="nofollow" rel="noreferrer" href="https://tianhua.gllue.com/portal/AllPosition"><%= t('menu.careers.text') -%></a>
    </div>
    <div class="nav-point">·</div>
    <div class="nav-item">
      <a href="<%= biz_map_path -%>" class="<%= isContact ? 'active' : '' -%>"><%= t('menu.contact.text') -%></a>
    </div>
    <div class="nav-item">
      <a href="javascript:void(0)" data-action="click->header#showForm">
        <svg class="fill-current h-6 w-6" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
          <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
        </svg>
      </a>
    </div>
    <div class="nav-item">
      <% if I18n.locale == :cn %>
        <%= link_to '?locale=en' do %>
          <svg class="fill-current h-6 w-18" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-791,-523)">
              <g id="cn">
                <g transform="matrix(1,0,0,1,795.87,543.475)">
                    <path d="M0,-19C-1.93,-19 -3.5,-17.43 -3.5,-15.5L-3.5,-3.5C-3.5,-1.57 -1.93,0 0,0L62,0C63.93,0 65.5,-1.57 65.5,-3.5L65.5,-15.5C65.5,-17.43 63.93,-19 62,-19L0,-19ZM62,1L0,1C-2.481,1 -4.5,-1.019 -4.5,-3.5L-4.5,-15.5C-4.5,-17.981 -2.481,-20 0,-20L62,-20C64.481,-20 66.5,-17.981 66.5,-15.5L66.5,-3.5C66.5,-1.019 64.481,1 62,1" />
                </g>
                <g transform="matrix(1,0,0,1,804.839,529.59)">
                    <path d="M0,8.77C0.885,8.761 1.72,8.361 2.28,7.677L3.15,8.699C2.366,9.656 1.187,10.203 -0.05,10.184C-2.65,10.184 -4.64,8.252 -4.64,4.875C-4.64,1.514 -2.59,-0.503 0.01,-0.503C1.126,-0.5 2.189,-0.028 2.94,0.797L2.06,1.834C1.547,1.255 0.813,0.92 0.04,0.91C-1.74,0.91 -2.97,2.395 -2.97,4.818C-2.97,7.271 -1.82,8.77 0,8.77M12.27,10.003L8.85,3.924L7.77,1.766L7.7,1.766C7.78,2.831 7.91,4.021 7.91,5.142L7.91,10.003L6.37,10.003L6.37,-0.308L8.03,-0.308L11.45,5.743L12.53,7.928L12.6,7.928C12.52,6.864 12.39,5.618 12.39,4.496L12.39,-0.304L13.93,-0.304L13.93,10.006L12.271,10.006L12.27,10.003ZM-8.97,-5.615L22.061,-5.615L22.061,14.385L-8.97,14.385C-11.179,14.385 -12.97,12.594 -12.97,10.385L-12.97,-1.615C-12.97,-3.824 -11.179,-5.615 -8.97,-5.615" />
                </g>
                <g transform="matrix(1,0,0,1,835.513,539.737)">
                    <path d="M0,-10.31L6.093,-10.31L6.093,-8.952L1.624,-8.952L1.624,-6.08L5.406,-6.08L5.406,-4.707L1.624,-4.707L1.624,-1.373L6.247,-1.373L6.247,0L0,0L0,-10.31Z" />
                </g>
                <g transform="matrix(1,0,0,1,843.912,539.737)">
                    <path d="M0,-10.31L1.667,-10.31L5.085,-4.258L6.163,-2.074L6.233,-2.074C6.149,-3.138 6.023,-4.385 6.023,-5.505L6.023,-10.31L7.564,-10.31L7.564,0L5.897,0L2.479,-6.08L1.4,-8.237L1.331,-8.237C1.415,-7.172 1.541,-5.982 1.541,-4.861L1.541,0L0,0L0,-10.31Z" />
                </g>
              </g>
            </g>
          </svg>
        <% end %>
      <% else %>
        <%= link_to '?locale=cn' do %>
          <svg class="fill-current h-6 w-18" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-791,-564)">
              <g>
                <g transform="matrix(1,0,0,1,795.87,584.606)">
                    <path d="M0,-19C-1.93,-19 -3.5,-17.43 -3.5,-15.5L-3.5,-3.5C-3.5,-1.57 -1.93,0 0,0L62,0C63.93,0 65.5,-1.57 65.5,-3.5L65.5,-15.5C65.5,-17.43 63.93,-19 62,-19L0,-19ZM62,1L0,1C-2.481,1 -4.5,-1.019 -4.5,-3.5L-4.5,-15.5C-4.5,-17.981 -2.481,-20 0,-20L62,-20C64.481,-20 66.5,-17.981 66.5,-15.5L66.5,-3.5C66.5,-1.019 64.481,1 62,1" />
                </g>
                <g transform="matrix(1,0,0,1,817.109,570.415)">
                    <path d="M0,10.309L-3.42,4.23L-4.5,2.072L-4.57,2.072C-4.49,3.136 -4.36,4.327 -4.36,5.448L-4.36,10.309L-5.9,10.309L-5.9,-0.003L-4.24,-0.003L-0.82,6.048L0.26,8.234L0.33,8.234C0.25,7.169 0.12,5.923 0.12,4.801L0.12,0.001L1.66,0.001L1.66,10.312L0,10.312L0,10.309Z" />
                </g>
                <g transform="matrix(1,0,0,1,804.839,571.65)">
                    <path d="M0,7.84C0.885,7.831 1.72,7.431 2.28,6.747L3.15,7.769C2.366,8.726 1.187,9.273 -0.05,9.254C-2.65,9.254 -4.64,7.322 -4.64,3.945C-4.64,0.584 -2.59,-1.433 0.01,-1.433C1.126,-1.43 2.189,-0.958 2.94,-0.133L2.06,0.904C1.547,0.325 0.813,-0.011 0.04,-0.02C-1.74,-0.02 -2.97,1.465 -2.97,3.888C-2.97,6.341 -1.82,7.84 0,7.84" />
                </g>
                <g transform="matrix(1,0,0,1,851.477,569.395)">
                    <path d="M0,11.472L-1.667,11.472L-5.085,5.393L-6.164,3.236L-6.233,3.236C-6.149,4.3 -6.023,5.491 -6.023,6.612L-6.023,11.472L-7.564,11.472L-7.564,1.162L-5.897,1.162L-2.479,7.214L-1.401,9.399L-1.331,9.399C-1.415,8.334 -1.541,7.087 -1.541,5.967L-1.541,1.162L0,1.162L0,11.472ZM-9.717,11.472L-15.964,11.472L-15.964,1.162L-9.871,1.162L-9.871,2.521L-14.34,2.521L-14.34,5.393L-10.558,5.393L-10.558,6.765L-14.34,6.765L-14.34,10.099L-9.717,10.099L-9.717,11.472ZM6.523,-4.264L-24.577,-4.264L-24.577,15.736L6.523,15.736C8.732,15.736 10.523,13.945 10.523,11.736L10.523,-0.264C10.523,-2.474 8.732,-4.264 6.523,-4.264" />
                </g>
              </g>
            </g>
          </svg>
        <% end %>
      <% end %>
    </div>
    <div class="nav-item">
      <% if cookies['ts'] == 'big' %>
        <%= link_to '?ts=sm' do %>
          <svg class="fonticon h-6" xmlns="http://www.w3.org/2000/svg" width="36" height="24" viewBox="0 0 36 24">
            <rect class="fonticon-rect" x="0.5" y="0.5" width="35" height="20" rx="4" ry="4" style="fill: none; stroke: currentColor; stroke-width: 1px;"/>
            <path class="fonticon-big" d="M2329,513v-2h9v2h-9Zm5.5,9h-2v-9h2v9Z" transform="translate(-2318.5 -505.5)" style="fill: currentColor; fill-opacity: <%= fdsz('.5','1') -%>; fill-rule: evenodd;"/>
            <path class="fonticon-small" d="M2341.5,516v6h-2v-6H2337v-2h7v2h-2.5Z" transform="translate(-2318.5 -505.5)" style="fill: currentColor; fill-opacity: <%= fdsz('1','.5') -%>; fill-rule: evenodd;"/>
          </svg>
        <% end %>
      <% else %>
        <%= link_to '?ts=big' do %>
          <svg class="fonticon h-6" xmlns="http://www.w3.org/2000/svg" width="36" height="24" viewBox="0 0 36 24">
            <rect class="fonticon-rect" x="0.5" y="0.5" width="35" height="20" rx="4" ry="4" style="fill: none; stroke: currentColor; stroke-width: 1px;"/>
            <path class="fonticon-big" d="M2329,513v-2h9v2h-9Zm5.5,9h-2v-9h2v9Z" transform="translate(-2318.5 -505.5)" style="fill: currentColor; fill-opacity: <%= fdsz('.5','1') -%>; fill-rule: evenodd;"/>
            <path class="fonticon-small" d="M2341.5,516v6h-2v-6H2337v-2h7v2h-2.5Z" transform="translate(-2318.5 -505.5)" style="fill: currentColor; fill-opacity: <%= fdsz('1','.5') -%>; fill-rule: evenodd;"/>
          </svg>
        <% end %>
      <% end %>
    </div>
  </nav>
  <form action="<%= search_path -%>" method="GET" id="header-search-form" data-target="header.form">
    <input type="text" autofocus name="q" placeholder="<%= t('ui.keyword_search') -%>" value="<%= params[:q] -%>" data-target="header.formInput" data-action="blur->header#hideForm" />
    <button type="submit">
      <svg class="h-6 w-6" fill="currentColor">
        <path fill-rule="evenodd" d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z" clip-rule="evenodd" />
      </svg>
    </button>
  </form>
  <button type="button" class="aside-menu-button" id="aside-menu-button" data-action="click->header#toggleAsideMenu">
    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
  <div class="aside-menu" style="display: none;" id="aside-menu" data-target="header.asideMenu" data-action="click->header#toggleAsideMenu">
    <div class="aside-menu-container" id="aside-menu-container" data-action="click->header#menuItemClick">
      <div class="aside-menu-item">
        <a href="javascrpt:void(0)"><%= t('menu.about.text') -%></a>
        <div class="aside-menu-children" style="display:none;">
          <div class="aside-menu-item">
            <a href="<%= about_path -%>"><%= t('menu.about.about') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= culture_path -%>"><%= t('menu.about.culture') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= leadership_index_path -%>"><%= t('menu.about.leadership') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= leadership_path(id: 'shanghai') -%>"><%= t('menu.about.area_leadership') -%></a>
          </div>
        </div>
      </div>
      <div class="aside-menu-item">
        <a href="<%= works_path -%>"><%= t('menu.works.text') -%></a>
      </div>
      <div class="aside-menu-item">
        <a href="javascrpt:void(0)"><%= t('menu.service.text') -%></a>
        <div class="aside-menu-children" style="display:none;">
          <div class="aside-menu-item">
            <a href="<%= building_path -%>"><%= t('menu.service.architecture') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= interior_path -%>"><%= t('menu.service.interior') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= planning_path -%>"><%= t('menu.service.urban_planning') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= landscape_path -%>"><%= t('menu.service.landscape') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= vetting_path -%>"><%= t('menu.service.drawing_review') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= consluting_path -%>"><%= t('menu.service.consultation') -%></a>
          </div>
          <div class="aside-menu-item">
            <a href="<%= vr_tech_path -%>"><%= t('menu.service.vr_technology') -%></a>
          </div>
        </div>
      </div>
      <div class="aside-menu-item">
        <a href="<%= news_index_path -%>"><%= t('menu.news.text') -%></a>
      </div>
      <div class="aside-menu-item">
        <a target="_blank" rel="nofollow" rel="noreferrer" href="https://tianhua.gllue.com/portal/AllPosition"><%= t('menu.careers.text') -%></a>
      </div>
      <div class="aside-menu-item">
        <a href="<%= biz_map_path -%>"><%= t('menu.contact.text') -%></a>
      </div>
    </div>
  </div>
</header>

<% if headerIsActive %>
<header class="thape-header flex-none"></header>
<% end %>