<%
a_link_class = if nav_background == 'white'
  'hover:text-black6c focus:outline-none focus:text-black6c transition duration-150 ease-in-out'
else
  'hover:text-white focus:outline-none focus:text-white transition duration-150 ease-in-out'
end
%>

<div class="fixed z-50 w-screen <%= nav_background == 'white' ? 'nav-background-white' : 'nav-background-initial' -%>"
  x-data="{ aside_menu_open: false, show_about_menu: false, show_works_menu: false, show_service_menu: false }"
  id="thape-nav-bar">

  <div class="w-full mx-auto py-1 xxl:py-2 xxxl:py-3 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 <%= nav_background == 'white' ? 'border-gray-200 border-solid border-b' : '' -%>">
    <nav class="relative flex items-center justify-between h-10 md:justify-center">
      <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
        <div class="flex items-left justify-between w-full md:w-auto">
          <a href="<%= root_path -%>">
            <%= render partial: 'shared/logo', locals: { className: nav_background == 'white' ? 'fill-current text-black6c hover:text-black6c-t70 focus:text-black6c-t70 h-8 w-48 h-10' : 'fill-current text-thape-white-t80 hover:text-white focus:text-white h-8 w-48 h-10', svgId: 'thape-nav-logo' } -%>
          </a>
          <div class="-mr-2 flex items-center md:hidden">
            <button @click="aside_menu_open = true" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <% if show_debug %>
        <p id="debug-progress"></p>
      <% end %>
      <%= render partial: 'shared/thape_nav_container', locals: { nav_background: nav_background, a_link_class: a_link_class }-%>
    </nav>
  </div>

  <%# 介绍子菜单 %>
  <div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16"
    x-on:mouseleave="show_about_menu = false; show_works_menu = false; show_service_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnTransparent();' -%>"
    x-transition:enter="transition ease-out delay-150 duration-200"
    x-transition:enter-start="opacity-0 -translate-y-4"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-show="show_about_menu">
    <nav class="relative flex items-center justify-between h-14 md:justify-center">
      <div id="thape-about-container" class="<%= nav_background == 'white' ? 'text-thape-copyright-gray' : 'text-thape-white-t80' -%> hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0 cursor-pointer xxl:text-lg">
        <a href="<%= about_path -%>" class="mr-4 font-medium <%= a_link_class -%>">关于天华</a>
        <a href="<%= culture_path -%>" class="mx-4 font-medium <%= a_link_class -%>">企业文化</a>
        <a href="<%= leadership_index_path -%>" class="mx-4 font-medium <%= a_link_class -%>">集团高管</a>
        <a href="<%= leadership_path(id: 'shanghai') -%>" class="ml-4 mr-45x xxl:mr-51x font-medium <%= a_link_class -%>">区域团队</a>
      </div>
    </nav>
  </div>

  <%# 作品子菜单 %>
  <div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16"
    x-on:mouseleave="show_about_menu = false; show_works_menu = false; show_service_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnTransparent();' -%>"
    x-transition:enter="transition ease-out delay-150 duration-200"
    x-transition:enter-start="opacity-0 -translate-y-4"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-show="show_works_menu">
    <div id="thape-works-container" class="<%= nav_background == 'white' ? 'text-thape-copyright-gray' : 'text-thape-white-t80' -%> pt-4 pb-3 hidden md:flex md:justify-end cursor-pointer">
      <nav>
        <p class="px-2 xxl:px-4 pb-1"><a href="<%= building_path -%>" class="font-medium <%= a_link_class -%>">类型</a></p>
        <div class="flex justify-between">
          <dl class="px-2 xxl:px-4">
              <dt>居住</dt>
              <dt>展示区 / 示范区</dt>
              <dt>商务办公</dt>
              <dt>综合体 / TOD</dt>
              <dt>超高层</dt>
          </dl>
          <dl class="pr-2 xxl:pr-4">
              <dt>商业空间</dt>
              <dt>文化空间</dt>
              <dt>城市设计 / 更新</dt>
              <dt>教育</dt>
              <dt>医疗康养</dt>
          </dl>
          <dl class="pr-2 xxl:pr-4">
              <dt>旅居 / 酒店</dt>
              <dt>城市规划</dt>
              <dt>景观</dt>
              <dt>室内</dt>
          </dl>
        </div>
      </nav>
      <nav>
        <p class="px-6 xxl:px-10 pb-1"><a href="<%= planning_path -%>" class="font-medium <%= a_link_class -%>">地区</a></p>
        <div class="flex justify-between">
          <dl class="pl-6 pr-3 xxl:px-10">
              <dt>华东</dt>
              <dt>华北</dt>
              <dt>华南</dt>
              <dt>华中</dt>
              <dt>西南</dt>
              <dt>西北</dt>
          </dl>
          <dl class="pl-6 text-right">
              <dt>上海</dt>
              <dt>杭州</dt>
              <dt>南京</dt>
              <dt>合肥</dt>
              <dt>济南</dt>
              <dt>青岛</dt>
          </dl>
        </div>
      </nav>
    </div>
  </div>

  <%# 服务子菜单 %>
  <div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16"
    x-on:mouseleave="show_about_menu = false; show_service_menu = false; show_works_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnTransparent();' -%>"
    x-transition:enter="transition ease-out delay-150 duration-200"
    x-transition:enter-start="opacity-0 -translate-y-4"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-show="show_service_menu">
    <nav class="relative flex items-center justify-between h-14 md:justify-center">
      <div id="thape-services-container" class="<%= nav_background == 'white' ? 'text-thape-copyright-gray' : 'text-thape-white-t80' -%> hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0 cursor-pointer xxl:text-lg">
        <a href="<%= building_path -%>" class="mr-3 font-medium <%= a_link_class -%>">建筑</a>
        <a href="<%= interior_path -%>" class="ml-2 mr-3 xxl:mx-3 font-medium <%= a_link_class -%>">室内</a>
        <a href="<%= planning_path -%>" class="ml-2 mr-3 xxl:mx-3 font-medium <%= a_link_class -%>">规划</a>
        <a href="<%= landscape_path -%>" class="ml-2 mr-3 xxl:mx-3 font-medium <%= a_link_class -%>">景观</a>
        <a href="<%= vetting_path -%>" class="ml-2 mr-3 xxl:mx-3 font-medium <%= a_link_class -%>">审图</a>
        <a href="<%= consluting_path -%>" class="mx-2 font-medium <%= a_link_class -%>">技术咨询</a>
        <a href="<%= vr_tech_path -%>" class="ml-2 xxl:ml-3 font-medium <%= a_link_class -%>">可视化</a>
      </div>
    </nav>
  </div>

  <div x-show="aside_menu_open" style="display: none;" class="absolute top-0 inset-x-0 p-2 md:hidden">
    <div class="rounded-lg shadow-md transition transform origin-top-right" x-show="aside_menu_open" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95">
      <div class="rounded-lg bg-white shadow-xs overflow-hidden">
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <img class="h-6 w-auto" src="<%= asset_pack_path('media/images/logo.svg') -%>" alt="" />
          </div>
          <div class="-mr-2">
            <button @click="aside_menu_open = false" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="px-2 pt-2 pb-3">
          <a href="<%= about_path -%>" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">介绍</a>
          <a href="<%= works_path -%>" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">作品</a>
          <a href="<%= building_path -%>" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">服务</a>
          <a href="<%= news_index_path -%>" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">新闻</a>
          <a target="_blank" rel="nofollow" href="https://tianhua.gllue.com/portal/AllPosition" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">招聘</a>
          <a href="<%= biz_map_path -%>" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">联系我们</a>
        </div>
      </div>
    </div>
  </div>
</div>
