<div id="thape-nav-container" class="<%= nav_background == 'white' ? 'text-thape-copyright-gray' : 'text-thape-white-t80' -%> hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0 cursor-pointer xxl:text-lg">
  <a href="<%= about_path -%>" class="mr-3 xxl:mr-4 <%= controller_name == 'leadership' || controller_name == 'abouts' ? 'font-semibold' : 'font-normal' -%> <%= (controller_name == 'abouts' || controller_name == 'leadership') ? 'text-black6c' : '' -%> <%= a_link_class -%>"
    x-on:mouseenter="show_about_menu = true; show_works_menu = false; show_service_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnWhite();' -%>">介绍</a>·
  <a href="<%= works_path -%>" class="mx-3 xxl:mx-4 <%= controller_name == 'works' ? 'font-semibold' : 'font-normal' -%> <%= controller.controller_name == 'works' && controller.action_name != 'show' ? 'text-black6c' : '' -%> <%= a_link_class -%>"
    x-on:mouseenter="show_works_menu = true; show_about_menu = false; show_service_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnWhite();' -%>">作品</a>·
  <a href="<%= building_path -%>" class="mx-3 xxl:mx-4 <%= controller_name == 'services' ? 'font-semibold' : 'font-normal' -%> <%= a_link_class -%>"
    x-on:mouseenter="show_service_menu = true; show_about_menu = false; show_works_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnWhite();' -%>">服务</a>·
  <a href="<%= news_index_path -%>" class="mx-3 xxl:mx-4 <%= controller_name == 'news' ? 'font-semibold' : 'font-normal' -%> <%= controller_name == 'news' && controller.action_name != 'show' ? 'text-black6c' : '' -%> <%= a_link_class -%>"
    x-on:mouseenter="show_about_menu = false; show_works_menu = false; show_service_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnWhite();' -%>">新闻</a>·
  <a target="_blank" rel="nofollow" href="https://tianhua.gllue.com/portal/AllPosition" class="mx-3 xxl:mx-4 font-normal <%= a_link_class -%>"
    x-on:mouseenter="show_about_menu = false; show_works_menu = false; show_service_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnWhite();' -%>">招聘</a>·
  <a href="<%= biz_map_path -%>" class="mx-3 xxl:mx-4 <%= controller_name == 'biz_maps' ? 'font-semibold' : 'font-normal' -%> <%= a_link_class -%>"
    x-on:mouseenter="show_about_menu = false; show_works_menu = false; show_service_menu = false; <%= nav_background == 'white' ? '' : 'nav_menu.turnWhite();' -%>">联系我们</a>
  <svg class="mx-3 xxl:mx-4 fill-current h-6 w-6 <%= a_link_class -%>" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
  </svg>
  <div class="<%= nav_background == 'white' ? 'text-thape-guest-gray' : '' -%>" id="thape-nav-langswitch">
    <svg class="ml-3 fill-current h-6 w-18 <%= a_link_class -%>" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
      <g transform="matrix(1,0,0,1,-791,-523)">
          <g id="cn">
              <g transform="matrix(1,0,0,1,795.87,543.475)">
                  <path d="M0,-19C-1.93,-19 -3.5,-17.43 -3.5,-15.5L-3.5,-3.5C-3.5,-1.57 -1.93,0 0,0L62,0C63.93,0 65.5,-1.57 65.5,-3.5L65.5,-15.5C65.5,-17.43 63.93,-19 62,-19L0,-19ZM62,1L0,1C-2.481,1 -4.5,-1.019 -4.5,-3.5L-4.5,-15.5C-4.5,-17.981 -2.481,-20 0,-20L62,-20C64.481,-20 66.5,-17.981 66.5,-15.5L66.5,-3.5C66.5,-1.019 64.481,1 62,1" />
              </g>
              <g transform="matrix(1,0,0,1,804.839,529.59)">
                  <path d="M0,8.77C0.885,8.761 1.72,8.361 2.28,7.677L3.15,8.699C2.366,9.656 1.187,10.203 -0.05,10.184C-2.65,10.184 -4.64,8.252 -4.64,4.875C-4.64,1.514 -2.59,-0.503 0.01,-0.503C1.126,-0.5 2.189,-0.028 2.94,0.797L2.06,1.834C1.547,1.255 0.813,0.92 0.04,0.91C-1.74,0.91 -2.97,2.395 -2.97,4.818C-2.97,7.271 -1.82,8.77 0,8.77M12.27,10.003L8.85,3.924L7.77,1.766L7.7,1.766C7.78,2.831 7.91,4.021 7.91,5.142L7.91,10.003L6.37,10.003L6.37,-0.308L8.03,-0.308L11.45,5.743L12.53,7.928L12.6,7.928C12.52,6.864 12.39,5.618 12.39,4.496L12.39,-0.304L13.93,-0.304L13.93,10.006L12.271,10.006L12.27,10.003ZM-8.97,-5.615L22.061,-5.615L22.061,14.385L-8.97,14.385C-11.179,14.385 -12.97,12.594 -12.97,10.385L-12.97,-1.615C-12.97,-3.824 -11.179,-5.615 -8.97,-5.615" />
              </g>
              <g transform="matrix(1,0,0,1,835.513,539.737)">
                  <path d="M0,-10.31L6.093,-10.31L6.093,-8.952L1.624,-8.952L1.624,-6.08L5.406,-6.08L5.406,-4.707L1.624,-4.707L1.624,-1.373L6.247,-1.373L6.247,0L0,0L0,-10.31Z" />
              </g>
              <g transform="matrix(1,0,0,1,843.912,539.737)">
                  <path d="M0,-10.31L1.667,-10.31L5.085,-4.258L6.163,-2.074L6.233,-2.074C6.149,-3.138 6.023,-4.385 6.023,-5.505L6.023,-10.31L7.564,-10.31L7.564,0L5.897,0L2.479,-6.08L1.4,-8.237L1.331,-8.237C1.415,-7.172 1.541,-5.982 1.541,-4.861L1.541,0L0,0L0,-10.31Z" />
              </g>
          </g>
      </g>
    </svg>
  </div>
</div>
