<div class="<%= person_class -%>">
  <a href="<%= leadership_path(id: person.url_name.presence || person.id) -%>">
    <% if person.avatar.url.present? %>
      <%= image_tag person.avatar.url, class: 'w-full h-full object-cover scale-img' -%>
    <% else %>
      <%= image_pack_tag 'images/default_avatar.jpg', class: "w-full h-full object-cover scale-img" -%>
    <% end %>
    <div class="absolute text-white inset-x-0 bottom-0 pt-1 sm:pt-2 card-title-mask">
      <p class="<%= fdsz("text-base sm:#{I18n.locale == :en ? "text-base" : "text-lg"}", "text-base sm:text-2xl") -%> text-center font-medium"><%= person.name -%></p>
      <% titles = person_titles(person, city) %>
      <p class="<%= fdsz("text-xs sm:#{I18n.locale == :en ? "text-xs" : "text-sm"}", "text-xs sm:text-base") -%> text-center font-light leading-tight sm:px-4"><%= titles.first -%></p>
      <% if titles.length > 1 %>
        <p class="<%= fdsz("#{I18n.locale == :en ? "text-xs" : "text-sm"}", "text-xs sm:text-base") -%> text-center font-light leading-none relative" style="top: -0.5rem;">...</p>
      <% else %>
        <p class="<%= fdsz("text-xs sm:#{I18n.locale == :en ? "text-xs" : "text-sm"}", "text-xs sm:text-base") -%> text-center font-light leading-none">&nbsp;</p>
      <% end %>
    </div>
  </a>
</div>
