<div class="<%= person_class -%>">
  <a href="<%= leadership_path(id: person.url_name) -%>">
    <% if person.avatar.url.present? %>
      <%= image_tag person.avatar.url, class: 'grid-image grid-mask-image' -%>
    <% else %>
      <%= image_pack_tag 'media/images/default_avatar.jpg', class: "grid-image grid-mask-image" -%>
    <% end %>
    <div class="absolute text-white inset-x-0 bottom-0">
      <p class="<%= fdsz("#{smFzClass(2)}", "#{xlFzClass(3)}") -%> text-center font-medium"><%= person.name -%></p>
      <% titles = person_titles(person, city) %>
      <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(5)}") -%> text-center font-light leading-tight"><%= titles.first -%></p>
      <% if titles.length > 1 %>
        <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(5)}") -%> text-center font-light leading-none">...</p>
      <% else %>
        <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(5)}") -%> text-center font-light leading-none">&nbsp</p>
      <% end %>
    </div>
  </a>
</div>
