<%= render partial: 'shared/thape_nav'  -%>

<div class="relative">
  <%= image_pack_tag 'media/images/people-banner.jpg', class: "pt-12 max-sm:hidden" -%>
  <%= image_pack_tag 'media/images/people-banner-mobile-2.jpg', class: "max-sm:block hidden pt-12" -%>
  <div class="max-sm:hidden absolute inset-0 w-full flex justify-center items-center pt-12">
    <%= image_pack_tag 'media/images/people-title.png', class: 'h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64' -%>
  </div>
  <div class="max-sm:hidden absolute inset-0 w-full flex flex-col justify-center items-center pt-12">
    <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-white text-center font-medium tracking-widest -ml-32">引领生活方式</h1>
    <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-white text-center font-medium tracking-widest -mr-32">助力城市发展</h1>
  </div>
</div>

<div class="relative">
  <%= render partial: 'area_search_form', locals: { search_url: leadership_path(id: params[:id])} %>

  <% if @management_people.present? %>
    <div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
      <%= render partial: 'shared/header', locals: { c: "#{c}管理团队", e: "#{e} TIANHUA MANAGEMENT",
        header_path: leadership_path(id: e.downcase), header_class: 'pt-0', show_header_right: false } %>
    </div>

    <div class="w-full mx-auto px-1 md:px-3 lg:px-4 xl:px-5 xxl:px-6 xxxl:px-8 <%= @speciality_people.blank? ? 'pb-1 md:pb-3 lg:pb-4 xl:pb-5 xxl:pb-6 xxxl:pb-8' : '' %>">
      <div class="<%= dual_class_in_ie('grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xxl:grid-cols-6 gap-1 sm:gap-2', 'flex items-center justify-between flex-wrap') -%>">
        <% @management_people.each do |person| %>
          <%= render partial: 'person_square',
            locals: { person: person, person_class: dual_class_in_ie('grid-div', 'flex-1'), city: city } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @speciality_people.present? %>
    <div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
      <%= render partial: 'shared/header', locals: { c: "#{c}专业团队", e: "#{e} TIANHUA PROFESSIONAL",
        header_path: leadership_path(id: e.downcase), header_class: 'pt-0', show_header_right: false } %>
    </div>

    <div class="w-full mx-auto px-1 md:px-3 lg:px-4 xl:px-5 xxl:px-6 xxxl:px-8 pb-1 md:pb-3 lg:pb-4 xl:pb-5 xxl:pb-6 xxxl:pb-8">
      <div class="<%= dual_class_in_ie('grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xxl:grid-cols-6 gap-1 sm:gap-2', 'flex items-center justify-between flex-wrap') -%>">
        <% @speciality_people.each do |person| %>
          <%= render partial: 'person_square',
            locals: { person: person, person_class: dual_class_in_ie('grid-div', 'flex-1'), city: city } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @management_people.blank? && @speciality_people.blank? %>
    <div class="flex max-sm:mt-0 pt-32 pb-12 justify-center flex-wrap max-sm:pt-20">
      <img class="flex-none" style="margin-left: 1rem" src="<%= asset_pack_path('media/images/no-data.png') -%>">
      <p class="w-full flex-none text-center mt-3" style="color: #b2b2b2;">暂无搜索结果</p>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/footer' %>
