<%= render partial: 'shared/thape_nav'  -%>

<div>
<div class="w-full sm:w-3/4 mx-0 sm:mx-auto flex px-4 sm:px-0 pt-16 sm:pt-28 flex-wrap sm:flex-no-wrap">
  <div class="w-full sm:w-1/3 text-center sm:text-left">
    <% if @person.photo.url.present? %>
      <%= image_tag(@person.photo.url, class: 'w-full sm:w-3/4 inline-block sm:block') %>
    <% else %>
      <%= image_pack_tag 'media/images/default_avatar.jpg', class: "w-full sm:w-3/4 inline-block sm:block" -%>
    <% end %>
    <div class="pt-10 w-3/4 hidden sm:block">
      <% if @infos.present? %>
        <h3 class="text-black6c <%= fdsz("#{smFzClass(2)}", "#{xlFzClass(3)}") -%>">相关阅读</h3>
        <% @infos.each do |info| %>
          <figure class="flex mt-1 mb-4 xxxl:mt-3 xxxl:mb-6">
            <div class="w-1/2">
              <%= image_tag info.snapshot.url -%>
            </div>
            <div class="w-1/2 flex flex-col justify-between <%= fdsz("text-xs sm:#{smFzClass(5)}", "text-xs sm:#{xlFzClass(5)}") -%>">
              <figcaption class="ml-2 text-gray-700 text-justify"><%= info.title -%></figcaption>
              <p class="ml-2 font-light text-gray-700"><%= info.created_at.to_date -%></p>
            </div>
          </figure>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="w-full sm:w-2/3 mx-0 sm:ml-20 mt-4 sm:mt-0 pb-12">
    <h1 class="font-medium <%= fdsz("text-2xl sm:#{smFzClass(1)}", "text-2xl sm:#{xlFzClass(1)}") -%>"><%= @person.name %></h1>
    <h2 class="pt-2 sm:pt-3 pb-4 sm:pb-7 <%= fdsz("text-base sm:#{smFzClass(2)}", "text-base sm:#{xlFzClass(3)}") -%>"><%= simple_format @person.title %></h2>
    <div class="<%= fdsz("text-sm sm:#{smFzClass(4)}", "text-sm sm:#{xlFzClass(4)}") -%>">
      <%= raw @person.introduce %>
    </div>
  </div>
  <div class="w-full block sm:hidden">
    <% if @infos.present? %>
      <h3 class="text-black6c <%= fdsz("#{smFzClass(2)}", "#{xlFzClass(3)}") -%>">相关阅读</h3>
      <% @infos.each do |info| %>
        <figure class="flex mt-1 mb-4 xxxl:mt-3 xxxl:mb-6">
          <div class="w-1/3">
            <%= image_tag info.snapshot.url -%>
          </div>
          <div class="w-2/3 flex flex-col justify-between <%= fdsz("text-xs sm:#{smFzClass(5)}", "text-xs sm:#{xlFzClass(5)}") -%>">
            <figcaption class="ml-2 -%> text-gray-700 text-justify"><%= info.title -%></figcaption>
            <p class="ml-2 font-light -%> text-gray-700"><%= info.created_at.to_date -%></p>
          </div>
        </figure>
      <% end %>
    <% end %>
  </div>
</div>
</div>

<%= render partial: 'shared/footer' %>
