<%= render partial: 'shared/thape_nav', locals: { nav_background: 'white', show_debug: false } -%>

<div class="w-3/4 mx-auto flex pt-28">
  <div class="w-1/3">
    <%= image_tag(@person.photo.url), class: 'w-full' %>
    <div class="pt-10">
      <% if @infos.present? %>
          <h3 class="text-black6c text-sm">相关阅读</h3>
          <% @infos.each do |info| %>
            <figure class="flex mt-1 mb-4">
              <div class="w-1/2">
                <%= image_tag info.snapshot.url -%>
              </div>
              <div class="w-1/2 flex flex-col justify-between">
                <figcaption class="ml-2 text-xs text-gray-700 text-justify"><%= info.title -%></figcaption>
                <p class="ml-2 font-light text-xs text-gray-700"><%= info.created_at.to_date -%></p>
              </div>
            </figure>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="w-2/3 ml-20 pb-12">
    <h1 class="font-medium text-3xl"><%= @person.name %></h1>
    <h2 class="text-xl pt-3 pb-7"><%= simple_format @person.title %></h2>
    <%= raw @person.introduce %>
  </div>
</div>

<%= render partial: 'shared/footer' %>
