<div class="relative overflow-hidden border border-thape-guest-gray-t50" x-data="{ show_text: false }" x-on:mouseenter="show_text = true" x-on:mouseleave="show_text = false">
  <img src="<%= asset_pack_path(news_image) -%>" class="w-full h-full" x-bind:class="{ 'filter-blur': show_text }" />
  <div class="absolute bg-thape-white-t95 top-0 left-0 h-full flex flex-col justify-between w-2/3 pointer-events-none"
    x-show="show_text"
    x-transition:enter="transition ease-linear duration-200"
    x-transition:enter-start="opacity-0 transform -translate-x-1/2"
    x-transition:enter-end="opacity-100 transform translate-x-0"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-start="opacity-100 transform translate-x-0"
    x-transition:leave-end="opacity-0 transform -translate-x-1/2"
  >
    <div class="my-6 mx-6">
      <p class="text-3xl text-justify font-medium"><%= Date::ABBR_MONTHNAMES[news_date.month] -%></p>
      <p class="text-5xl text-justify tracking-widest font-medium leading-9"><%= news_date.day -%></p>
    </div>
    <div class="mb-10 mx-6">
      <p class="font-medium text-2xl text-left pb-1 leading-snug text-justify"><%= title -%></p>
      <p class="font-light text-left leading-6 mt-2"><%= sub_title -%></p>
    </div>
  </div>
</div>
