<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 sm:gap-2">
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_1.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item',
    work: @tail_home.work_1,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_4.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item md:hidden',
    work: @tail_home.work_4,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_3w.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item col-span-2 lg:hidden',
    work: @tail_home.work_3,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_2l.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item row-span-2',
    work: @tail_home.work_2,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_5.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item md:hidden',
    work: @tail_home.work_5,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_6.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item md:hidden',
    work: @tail_home.work_6,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_3w.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item col-span-2 hidden lg:block',
    work: @tail_home.work_3,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_4.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item hidden md:block',
    work: @tail_home.work_4,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_5.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item hidden md:block',
    work: @tail_home.work_5,
  } %>
  <%= render partial: 'project_square', locals: {
    prj_image: @tail_home.new_project_photo_6.url(thumb: "?x-oss-process=image/resize,w_1000"),
    prj_webp: '',
    prj_class: 'home-project-item hidden md:block',
    work: @tail_home.work_6,
  } %>
</div>
