<div>
  <table class="table-fixed">
    <tbody>
      <tr>
        <%= render partial: 'project_square_ie11', locals: {
          prj_image: @tail_home.new_project_photo_1.url(thumb: "?x-oss-process=image/resize,w_500"),
          prj_webp: '',
          prj_class: 'w-1/4',
          row_col_span: '',
          work: @tail_home.work_1,
        } %>
        <%= render partial: 'project_square_ie11', locals: {
          prj_image: @tail_home.new_project_photo_4.url(thumb: "?x-oss-process=image/resize,w_500"),
          prj_webp: '',
          prj_class: 'w-1/4',
          row_col_span: "rowspan=2",
          work: @tail_home.work_4,
        } %>
        <%= render partial: 'project_square_ie11', locals: {
          prj_image: @tail_home.new_project_photo_3w.url(thumb: "?x-oss-process=image/resize,w_500"),
          prj_webp: '',
          prj_class: 'w-1/2',
          row_col_span: "colspan=2",
          work: @tail_home.work_3,
        } %>
      </tr>
      <tr>
        <%= render partial: 'project_square_ie11', locals: {
          prj_image: @tail_home.new_project_photo_2l.url(thumb: "?x-oss-process=image/resize,w_500"),
          prj_webp: '',
          prj_class: 'w-1/4',
          row_col_span: '',
          work: @tail_home.work_2,
        } %>
        <%= render partial: 'project_square_ie11', locals: {
          prj_image: @tail_home.new_project_photo_5.url(thumb: "?x-oss-process=image/resize,w_500"),
          prj_webp: '',
          prj_class: 'w-1/4',
          row_col_span: '',
          work: @tail_home.work_5,
        } %>
        <%= render partial: 'project_square_ie11', locals: {
          prj_image: @tail_home.new_project_photo_6.url(thumb: "?x-oss-process=image/resize,w_500"),
          prj_webp: '',
          prj_class: 'w-1/4',
          row_col_span: '',
          work: @tail_home.work_6,
        } %>
      </tr>
    </tbody>
  </table>
</div>
