<div class="<%= prj_class -%>">
  <a href="<%= work_path(id: work.id) -%>">
    <picture>
      <% if prj_webp.present? %>
        <source srcset="<%= prj_webp -%>" type="image/webp">
      <% end %>
      <source srcset="<%= prj_image -%>" type="image/jpeg">
      <img class="cover object-cover w-full h-full" src="<%= prj_image -%>">
    </picture>
  </a>
  <div class="description absolute text-white left-0 bottom-0 w-full px-2 sm:px-6 py-2 sm:py-4">
    <p class="<%= fdsz("text-xs sm:text-sm leading-snug sm:leading-tight", "text-xs sm:text-2xl leading-snug sm:leading-tight") -%> text-left pb-1 font-medium"><%= link_to work.project_types.first["#{I18n.locale}_name"], project_type_path(work.project_types.first) -%></p>
    <p class="<%= fdsz("text-sm sm:text-lg leading-snug sm:leading-tight", "text-sm sm:text-3xl leading-snug sm:leading-tight") -%> text-left"><%= link_to work.project_name, work_path(id: work.id) -%></p>
  </div>
</div>
