<div class="<%= prj_class -%>"
  x-data="{ show_grid_text: false }"
  x-on:mouseenter="show_grid_text = true"
  x-on:mouseleave="show_grid_text = false">
  <picture class="grid-image hover:mask hover:scale-105">
    <% if prj_webp.present? %>
      <source srcset="<%= asset_pack_path(prj_webp) -%>" type="image/webp">
    <% end %>
    <source srcset="<%= asset_pack_path(prj_image) -%>" type="image/jpeg">
    <img src="<%= asset_pack_path(prj_image) -%>" class="grid-image hover:mask hover:scale-105">
  </picture>
  <div class="absolute text-white left-6 bottom-4 pointer-events-none"
    x-transition:enter="transition ease-linear duration-200"
    x-transition:enter-start="opacity-0 transform translate-y-4"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-start="opacity-100 transform translate-y-0"
    x-transition:leave-end="opacity-0 transform translate-y-4"
    x-show="show_grid_text">
    <p class="text-left pb-1 font-medium"><%= title -%></p>
    <p class="text-xl text-left leading-snug"><%= sub_title -%></p>
  </div>
</div>
