<div data-controller="<%= home_controller -%>"
     data-action="resize@window-><%= home_controller -%>#layout"
     data-home-offset="0.75"
     data-home-amplify_rate="2.8"
     data-home-threshold="0.05"
     data-<%= home_controller -%>-wallpapers="<%= @wallpapers.to_json -%>"
     data-<%= home_controller -%>-refresh-interval="5000">

<%= render partial: 'shared/thape_nav' -%>

<% @wallpapers.each do |preload_image| %>
  <link rel="preload" as="image" href="<%= preload_image -%>">
<% end %>

<div class="h-screen relative" x-data="{ show_left_btn: false, show_right_btn: false }">
  <div class="absolute inset-0 w-full flex">
    <div class="w-1/4 flex justify-start items-center"
      x-on:mouseenter="show_left_btn = true"
      x-on:mouseleave="show_left_btn = false">
      <button data-action="click-><%= home_controller -%>#prev_slide mouseenter-><%= home_controller -%>#stop_rotate mouseleave-><%= home_controller -%>#start_rotate">
        <svg class="ml-4 pt-1 w-6 h-8 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
          x-bind:class="{ 'text-gray-300': show_left_btn, 'text-black6c-t70': !show_left_btn }">
            <g transform="matrix(1,0,0,1,-35,-81)">
                <path d="M50.061,84.04L39.101,95L50.061,105.96C50.646,106.546 50.646,107.496 50.061,108.081C49.475,108.667 48.525,108.667 47.939,108.081L35.919,96.061C35.333,95.475 35.333,94.525 35.919,93.939L47.939,81.919C48.525,81.333 49.475,81.333 50.061,81.919C50.646,82.504 50.646,83.454 50.061,84.04Z" />
            </g>
        </svg>
      </button>
    </div>
    <div class="w-2/4" data-action="mouseenter-><%= home_controller -%>#stop_rotate mouseleave-><%= home_controller -%>#start_rotate"></div>
    <div class="w-1/4 flex justify-end items-center"
      x-on:mouseenter="show_right_btn = true"
      x-on:mouseleave="show_right_btn = false">
      <button data-action="click-><%= home_controller -%>#next_slide mouseenter-><%= home_controller -%>#stop_rotate mouseleave-><%= home_controller -%>#start_rotate">
        <svg class="mr-4 pt-1 w-6 h-8 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
          x-bind:class="{ 'text-gray-300': show_right_btn, 'text-black6c-t70': !show_right_btn }">
            <g transform="matrix(1,0,0,1,-125,-81)">
              <path d="M139.582,96.544L127.587,108.551C127.002,109.136 126.054,109.136 125.47,108.551C124.885,107.966 124.885,107.017 125.47,106.432L136.407,95.484L125.47,84.537C124.885,83.952 124.885,83.003 125.47,82.418C126.054,81.833 127.002,81.833 127.587,82.418L139.582,94.425C140.167,95.01 140.167,95.959 139.582,96.544Z" />
            </g>
        </svg>
      </button>
    </div>
  </div>
</div>

<%# 最新项目 %>
<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-white scroller-step" style="opacity: 0.001;" id="thape-fadein">
  <header>
    <div class="w-full pt-10 pb-4 clearfix">
      <h1 class="inline-block pl-4 sm:pl-6 xl:pl-0 text-3xl font-bold text-black6c">
        <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">最新项目</a>
      </h1>
      <h2 class="ml-2 inline-block text-2xl text-black6c">
        <a href="#" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">NEW PROJECTS</a>
      </h2>
      <a class="inline-block float-right py-1 md:py-2 px-5 m-2 xl:m-0 border border-black text-sm font-medium rounded-full text-black bg-thape-white-t80 shadow-sm active:bg-black6c-t70 hover:bg-black6c focus:text-black6c hover:text-white focus:text-white transition duration-150 ease-in-out" href="#">
        MORE+
      </a>
    </div>
  </header>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 sm:gap-2">
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-1-1.jpg', prj_webp: 'media/images/grid-1-1.webp', prj_class: 'grid-div',
                work: @home_page_content.work_1 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-2-1.jpg', prj_webp: 'media/images/grid-2-1.webp', prj_class: 'grid-div md:hidden',
                work: @home_page_content.work_2 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-1-3.jpg', prj_webp: 'media/images/grid-1-3.webp', prj_class: 'grid-div col-span-2 lg:hidden',
                work: @home_page_content.work_3 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-1-2.jpg', prj_webp: 'media/images/grid-1-2.webp', prj_class: 'grid-div row-span-2',
                work: @home_page_content.work_4 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-2-3.jpg', prj_webp: 'media/images/grid-2-3.webp', prj_class: 'grid-div md:hidden',
                work: @home_page_content.work_5 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-2-4.jpg', prj_webp: 'media/images/grid-2-4.webp', prj_class: 'grid-div md:hidden',
                work: @home_page_content.work_6 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-1-3.jpg', prj_webp: 'media/images/grid-1-3.webp', prj_class: 'grid-div col-span-2 hidden lg:block',
                work: @home_page_content.work_3 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-2-1.jpg', prj_webp: 'media/images/grid-2-1.webp', prj_class: 'grid-div hidden md:block',
                work: @home_page_content.work_2 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-2-3.jpg', prj_webp: 'media/images/grid-2-3.webp', prj_class: 'grid-div hidden md:block',
                work: @home_page_content.work_5 } %>
    <%= render partial: 'project_square',
      locals: { prj_image: 'media/images/grid-2-4.jpg', prj_webp: 'media/images/grid-2-4.webp', prj_class: 'grid-div hidden md:block',
                work: @home_page_content.work_6 } %>
  </div>
</div>

<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-white scroller-step">
  <%# 天华新闻 %>
  <div>
    <header>
      <div class="w-full pt-10 pb-4 clearfix">
        <h1 class="inline-block pl-4 sm:pl-6 xl:pl-0 text-3xl font-bold text-black6c">
          <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">天华新闻</a>
        </h1>
        <h2 class="ml-2 inline-block text-2xl text-black6c">
          <a href="#" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">NEWS</a>
        </h2>
        <a class="inline-block float-right py-1 md:py-2 px-5 m-2 xl:m-0 border border-black text-sm font-medium rounded-full text-black bg-thape-white-t80 shadow-sm active:bg-black6c-t70 hover:bg-black6c focus:text-black6c hover:text-white focus:text-white transition duration-150 ease-in-out" href="#">
          MORE+
        </a>
      </div>
    </header>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-1 sm:gap-2">
      <%= render partial: 'new_square',
        locals: { news_image: 'media/images/news_r1.jpg', info: @home_page_content.news_1 } %>
      <%= render partial: 'new_square',
        locals: { news_image: 'media/images/news_r2.jpg', info: @home_page_content.news_2 } %>
      <%= render partial: 'new_square',
        locals: { news_image: 'media/images/news_r3.jpg', info: @home_page_content.news_3 } %>
    </div>
  </div>
</div>

<%# 访客留言 %>
<%= render partial: 'shared/guest_form' %>

<%= render partial: 'shared/footer' %>

</div>
