<div data-controller="home-scroll"
     data-action="resize@window->home-scroll#layout">
<div x-data="{ open: false }" class="fixed z-50 py-1 lg:py-2 xl:py-3 xxl:py-4 w-screen nav-background-initial" data-target="home-scroll.navBar">
  <div class="w-full mx-auto px-4 sm:px-6">
    <nav class="relative flex items-center justify-between sm:h-10 md:justify-center">
      <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
        <div class="flex items-left justify-between w-full md:w-auto">
          <a href="#">
            <%= render partial: 'shared/logo', locals: { className: 'fill-current text-white h-8 w-48 sm:h-10', svgId: 'thape-nav-logo' } -%>
          </a>
          <div class="-mr-2 flex items-center md:hidden">
            <button @click="open = true" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <% if browser.platform.windows? %>
        <%= render partial: 'shared/thape_nav_container_win' -%>
      <% else %>
        <%= render partial: 'shared/thape_nav_container' -%>
      <% end %>
    </nav>
  </div>

  <div x-show="open" style="display: none;" class="absolute top-0 inset-x-0 p-2 md:hidden">
    <div class="rounded-lg shadow-md transition transform origin-top-right" x-show="open" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95">
      <div class="rounded-lg bg-white shadow-xs overflow-hidden">
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <img class="h-6 w-auto" src="<%= asset_pack_path('media/images/logo.svg') -%>" alt="" />
          </div>
          <div class="-mr-2">
            <button @click="open = false" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="px-2 pt-2 pb-3">
          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">介绍</a>
          <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">作品</a>
          <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">服务</a>
          <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">新闻</a>
          <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">招聘</a>
          <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">联系我们</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-screen h-screen bg-fixed bg-cover bg-no-repeat" style="background-image: url('<%= asset_pack_path('media/images/01_background.jpg') -%>')">
</div>

<div class="scroller-step w-full mx-auto lg:p4 xl:p-6" id="thape-new-projects">
  <header class="bg-white">
    <div class="max-w-7xl py-10">
      <h1 class="pl-4 sm:pl-6 xl:pl-0 text-3xl font-bold text-gray-900">
        最新项目
      </h1>
    </div>
  </header>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
    <div><%= image_pack_tag 'media/images/grid-1-1.jpg', class: 'w-full h-full' -%></div>
    <div class="md:hidden lg:hidden xl:hidden"><%= image_pack_tag 'media/images/grid-2-1.jpg', class: 'w-full h-full' -%></div>
    <div class="col-span-2 sm:block md:block lg:hidden xl:hidden"><%= image_pack_tag 'media/images/grid-1-3.jpg', class: 'w-full h-full' -%></div>
    <div class="row-span-2"><%= image_pack_tag 'media/images/grid-1-2.jpg', class: 'w-full h-full' -%></div>
    <div class="md:hidden lg:hidden xl:hidden"><%= image_pack_tag 'media/images/grid-2-3.jpg', class: 'w-full h-full' -%></div>
    <div class="md:hidden lg:hidden xl:hidden"><%= image_pack_tag 'media/images/grid-2-4.jpg', class: 'w-full h-full' -%></div>
    <div class="col-span-2 hidden sm:hidden md:hidden lg:block xl:block"><%= image_pack_tag 'media/images/grid-1-3.jpg', class: 'w-full h-full' -%></div>
    <div class="hidden sm:hidden md:block lg:block xl:block"><%= image_pack_tag 'media/images/grid-2-1.jpg', class: 'w-full h-full' -%></div>
    <div class="hidden sm:hidden md:block lg:block xl:block"><%= image_pack_tag 'media/images/grid-2-3.jpg', class: 'w-full h-full' -%></div>
    <div class="hidden sm:hidden md:block lg:block xl:block"><%= image_pack_tag 'media/images/grid-2-4.jpg', class: 'w-full h-full' -%></div>
  </div>

  <header class="bg-white">
    <div class="max-w-7xl pt-12 pb-20 mt-7 mb-7">
      <h1 class="pl-4 sm:pl-6 xl:pl-0 text-3xl font-bold text-gray-900">
        天华新闻
      </h1>
    </div>
  </header>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
    <div class="relative bg-cover bg-no-repeat" style="background-image: url('<%= asset_pack_path('media/images/news_r1.jpg') -%>')">
      <div class="w-32 p-6 ">
        <p class="text-3xl text-justify font-medium">Dec</p>
        <p class="text-5xl text-justify tracking-widest font-medium leading-9">31</p>
      </div>
      <div class="w-72 p-6 absolute bottom-0 left-0">
        <p class="text-2xl text-left pb-1">我们的2019@天华</p>
        <p class="text-left leading-snug">我们的2019，在传承中发展， 在感恩中前行。</p>
      </div>
    </div>
    <div><%= image_pack_tag 'media/images/news_r2.jpg', class: 'w-full h-full' -%></div>
    <div><%= image_pack_tag 'media/images/news_r3.jpg', class: 'w-full h-full' -%></div>
  </div>

  <div class="p-4 sm:p-8 md:p-12 lg:p-16 xl:p-24">
    <div class="px-4 py-5 sm:px-6 mt-28">
      <h1 class="text-3xl font-bold text-gray-900">
        访客留言
      </h1>
    </div>
    <div class="px-4 py-5 sm:p-6">

      <form action="#" method="POST">
          <div class="grid grid-cols-4 gap-7 xl:gap-10">
            <div class="col-span-4 sm:col-span-2 row-span-3">
              <div class="max-w-lg w-full flex rounded-md">
                <textarea id="comment" rows="10" placeholder="请填写您的留言" class="p-3 rounded-xl form-textarea resize-none block w-full hover:shadow-xl focus:shadow-lg focus:shadow-lg focus:border-gray-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"></textarea>
              </div>
            </div>

            <div class="col-span-2 sm:col-span-1">
              <div class="w-full flex rounded-md">
                <input id="last_name" placeholder="请填写您的姓名" class="form-input block w-full py-3 px-6 rounded-full border border-gray-300 rounded-md hover:shadow-lg focus:shadow focus:border-gray-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
              </div>
            </div>

            <div class="col-span-2 sm:col-span-1">
              <div class="w-full flex rounded-md">
                <input id="last_name" placeholder="请填写您的公司" class="form-input block w-full py-3 px-6 rounded-full border border-gray-300 rounded-md hover:shadow-lg focus:shadow focus:border-gray-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
              </div>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <div class="w-full flex rounded-md">
                <input id="last_name" placeholder="请填写您的联系方式" class="form-input block w-full py-3 px-6 rounded-full border border-gray-300 rounded-md hover:shadow-lg focus:shadow focus:border-gray-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
              </div>
            </div>

            <div class="col-span-4 sm:col-span-2">
              <div class="w-full flex rounded-md">
                <button class="mt-6 xl:mt-2 py-3 px-6 border border-transparent text-sm leading-5 font-medium rounded-full text-black bg-gray-100 shadow-sm hover:bg-white hover:shadow-lg focus:outline-none focus:shadow-outline-gray active:bg-white transition duration-150 ease-in-out">
                  确认提交
                </button>
              </div>
            </div>
          </div>
      </form>

    </div>
  </div>
</div>

<div class="bg-gray-200 py-4">
  <div class="w-full mx-auto py-6 px-4 sm:px-6 border-b border-gray-300">
    <nav class="relative flex items-center justify-between sm:h-10 md:justify-center">
      <div class="md:flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
        <div class="hidden md:flex items-left justify-between w-full md:w-auto">
          <a href="#">
            <%= render partial: 'shared/logo', locals: { className: 'fill-current text-black h-8 w-48 sm:h-10', svgId: 'thape-footer-logo' } -%>
          </a>
        </div>
      </div>
      <div class="flex text-sm sm:text-base md:absolute md:items-center md:justify-end md:inset-y-0 md:right-0 text-black  cursor-pointer">
        <a href="#" class="mr-2 sm:mr-3 md:font-medium hover:text-gray-700 focus:outline-none focus:text-gray-700 transition duration-150 ease-in-out">联系方式</a>|
        <a href="#" class="mx-2 sm:mx-3 md:font-medium hover:text-gray-700 focus:outline-none focus:text-gray-700 transition duration-150 ease-in-out">网站声明</a>|
        <a href="#" class="mx-2 sm:mx-3 md:font-medium hover:text-gray-700 focus:outline-none focus:text-gray-700 transition duration-150 ease-in-out">隐私政策</a>|
        <a href="#" class="mx-2 sm:mx-3 md:font-medium hover:text-gray-700 focus:outline-none focus:text-gray-700 transition duration-150 ease-in-out">免责条款</a>|
        <a href="#" class="ml-2 sm:ml-3 md:font-medium hover:text-gray-700 focus:outline-none focus:text-gray-700 transition duration-150 ease-in-out">职业发展</a>
      </div>
    </nav>
  </div>
  <div class="flex justify-between">
    <div class="text-gray-700 px-4 py-4 m-2">
      <p>总机：021-64281588   设计项目接洽及投诉热线：400-8366606</p>
      <p class="leading-loose">© 2019 天华集团，保留所有权利 沪ICP备08027138号-1 公安部备案号 31010402005733</p>
    </div>

    <div class="text-gray-700 text-center sm:text-right px-1 md:px-6 pt-10 pb-8 sm:w-48">
      <%= image_pack_tag 'media/images/wechat.svg', class: 'inline-block h-8 mx-2 sm:mr-2 sm:ml-0' %>
      <%= image_pack_tag 'media/images/weibo.svg', class: 'inline-block h-8 mx-2' %>
      <%= image_pack_tag 'media/images/zhihu.png', class: 'inline-block h-8 mx-2 sm:ml-2 sm:mr-0' %>
    </div>
  </div>
</div>
</div>
