<%= render partial: 'shared/thape_nav' -%>

<div
     class="w-full"
     data-controller="<%= home_controller -%>"
     data-action="resize@window-><%= home_controller -%>#layout"
     data-home-offset="0.75"
     data-home-amplify_rate="2.8"
     data-home-threshold="0.05"
     data-<%= home_controller -%>-refresh-interval="5000">

<div class="fixed w-full h-screen left-0 top-0" style="z-index: 0;">
  <div
    class="thape-slide"
    data-controller="carousel2"
    data-carousel2-item-data-type="slide-item"
    data-carousel2-active-class="active"
    data-carousel2-animation-class-base="animate"
    data-carousel2-animation-class-left-in="fade-in"
    data-carousel2-animation-class-left-out="fade-out"
    data-carousel2-animation-class-right-in="fade-in"
    data-carousel2-animation-class-right-out="fade-out"
    data-carousel2-animation-duration="500"
    data-carousel2-interval-time="3000"
    data-action="mouseenter->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay"
  >
    <div class="slide-images" data-action="animationstart->carousel2#itemAnimationStart animationend->carousel2#itemAnimationEnd">
      <div data-type="slide-item" class="image-item active">
        <picture>
          <source srcSet="<%= asset_pack_path('media/images/01_background_mobile.jpg') -%>" media="(max-width: 768px)" type="image/jpeg" />
          <img src="<%= asset_pack_path('media/images/01_background.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <source srcSet="<%= asset_pack_path('media/images/02_background_mobile.jpg') -%>" media="(max-width: 768px)" type="image/jpeg" />
          <img src="<%= asset_pack_path('media/images/02_background.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <source srcSet="<%= asset_pack_path('media/images/03_background_mobile.jpg') -%>" media="(max-width: 768px)" type="image/jpeg" />
          <img src="<%= asset_pack_path('media/images/03_background.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <source srcSet="<%= asset_pack_path('media/images/04_background_mobile.jpg') -%>" media="(max-width: 768px)" type="image/jpeg" />
          <img src="<%= asset_pack_path('media/images/04_background.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <source srcSet="<%= asset_pack_path('media/images/05_background_mobile.jpg') -%>" media="(max-width: 768px)" type="image/jpeg" />
          <img src="<%= asset_pack_path('media/images/05_background.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <source srcSet="<%= asset_pack_path('media/images/06_background_mobile.jpg') -%>" media="(max-width: 768px)" type="image/jpeg" />
          <img src="<%= asset_pack_path('media/images/06_background.jpg') -%>" alt="" />
        </picture>
      </div>
    </div>
    <div class="action-area action-left" data-action="click->carousel2#toLast">
      <img class="w-8" src="<%= asset_pack_path('media/images/arrow_left.svg') -%>" alt="下一张" />
    </div>
    <div data-type="action-to-next" class="action-area action-right text-white" data-action="click->carousel2#toNext">
      <img class="w-8" src="<%= asset_pack_path('media/images/arrow_right.svg') -%>" alt="下一张" />
    </div>
  </div>
</div>

<div class="relative" style="margin-top: 100vh; z-index: 1;">
<%# 最新项目 %>
<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-white scroller-step" style="opacity: 0.001;" id="thape-new-projects">
  <header>
    <div class="flex w-full pt-10 pb-4 justify-between items-center max-sm:px-2 max-sm:py-4">
      <div class="flex items-end">
        <h1 class="pl-4 sm:pl-6 xl:pl-0 text-3xl font-bold text-black6c max-sm:text-xl max-sm:p-0">
          <a href="<%= works_path(locale: 'cn', anchor: 'thape-new-projects') -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">最新项目</a>
        </h1>
        <h2 class="ml-2 text-2xl text-black6c max-sm:text-base">
          <a href="<%= works_path(locale: 'en', anchor: 'thape-new-projects') -%>" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">NEW PROJECTS</a>
        </h2>
      </div>
      <a class="py-1 md:py-2 px-5 border border-black text-sm font-medium rounded-full text-black bg-thape-white-t80 shadow-sm active:bg-black6c-t70 hover:bg-black6c focus:text-black6c hover:text-white focus:text-white transition duration-150 ease-in-out max-sm:text-sm max-sm:px-2 max-sm:leading-snug" href="<%= works_path -%>">
        MORE+
      </a>
    </div>
  </header>
  <% if browser.ie? %>
    <%= render partial: 'new_projects_ie11' %>
  <% else %>
    <%= render partial: 'new_projects' %>
  <% end %>
</div>

<div class="relative w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-white scroller-step" id="thape-home-news">
  <%# 天华新闻 %>
  <header>
    <div class="flex w-full pt-10 pb-4 justify-between items-center max-sm:px-2 max-sm:py-4">
      <div class="flex items-end">
        <h1 class="pl-4 sm:pl-6 xl:pl-0 text-3xl font-bold text-black6c max-sm:text-xl max-sm:p-0">
          <a href="<%= news_index_path(locale: 'cn', anchor: 'thape-home-news') -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">天华新闻</a>
        </h1>
        <h2 class="ml-2 text-2xl text-black6c max-sm:text-base">
          <a href="<%= news_index_path(locale: 'en', anchor: 'thape-home-news') -%>" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">NEWS</a>
        </h2>
      </div>
      <a class="py-1 md:py-2 px-5 border border-black text-sm font-medium rounded-full text-black bg-thape-white-t80 shadow-sm active:bg-black6c-t70 hover:bg-black6c focus:text-black6c hover:text-white focus:text-white transition duration-150 ease-in-out max-sm:text-sm max-sm:px-2 max-sm:leading-snug" href="<%= news_index_path -%>">
        MORE+
      </a>
    </div>
  </header>
  <div class="flex-grid">
    <div class="flex-grid-box flex-grid-cols-1-gap-1 sm:flex-grid-cols-2-gap-2 lg:flex-grid-cols-3-gap-2">
    <%= render partial: 'new_square',
      locals: { news_image: 'media/images/news_r1.jpg', info: @home_page_content.news_1, padding_y: 'sm:pr-2 lg:pr-4 max-sm:pr-1' } %>
    <%= render partial: 'new_square',
      locals: { news_image: 'media/images/news_r2.jpg', info: @home_page_content.news_2, padding_y: 'sm:px-1 lg:px-2 max-sm:px-1' } %>
    <%= render partial: 'new_square',
      locals: { news_image: 'media/images/news_r3.jpg', info: @home_page_content.news_3, padding_y: 'sm:pl-2 lg:pl-4 max-sm:pl-1' } %>
    </div>
  </div>
</div>

<%# 访客留言 %>
<%= render partial: 'shared/guest_form' %>

<%= render partial: 'shared/footer' %>

</div>
</div>
