<%= render partial: 'shared/thape_nav' -%>

<div class="fixed w-full h-full z-0">
  <div
    class="thape-slide"
    data-controller="carousel2"
    data-carousel2-item-data-type="slide-item"
    data-carousel2-active-class="active"
    data-carousel2-animation-class-base="animate"
    data-carousel2-animation-class-left-in="fade-in"
    data-carousel2-animation-class-left-out="fade-out"
    data-carousel2-animation-class-right-in="fade-in"
    data-carousel2-animation-class-right-out="fade-out"
    data-carousel2-animation-duration="500"
    data-carousel2-interval-time="5000"
  >
    <div class="slide-images" data-action="animationstart->carousel2#itemAnimationStart animationend->carousel2#itemAnimationEnd">
      <div data-type="slide-item" class="image-item active">
        <a href="<%= @tail_home.background_1_link %>" class="block w-full h-full" target="_blank">
          <picture>
            <source srcSet="<%= @tail_home.background_1_mobile.url -%>" media="(max-width: 768px)" type="image/jpeg" />
            <img src="<%= @tail_home.background_1.url -%>" alt="" />
          </picture>
        </a>
        <div class="absolute text-white bottom-0 left-0 right-0 break-all px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 py-3 md:py-10">
          <p class="<%= fdsz("text-base sm:text-lg lg:text-2xl", "text-base sm:text-2xl lg:text-3xl") -%> text-left pb-1 font-medium leading-none sm:leading-tight"><%= @tail_home.background_1_title %></p>
          <p class="<%= fdsz("text-xs sm:text-base lg:text-lg", "text-xs sm:text-xl lg:text-2xl") -%> text-left leading-none md:leading-snug tracking-tight sm:tracking-normal" style="word-break: keep-all;"><%= @tail_home.background_1_subtitle %></p>
        </div>
      </div>
      <div data-type="slide-item" class="image-item">
        <a href="<%= @tail_home.background_2_link %>" class="block w-full h-full" target="_blank">
          <picture>
            <source srcSet="<%= @tail_home.background_2_mobile.url -%>" media="(max-width: 768px)" type="image/jpeg" />
            <img src="<%= @tail_home.background_2.url -%>" alt="" />
          </picture>
        </a>
        <div class="absolute text-white bottom-0 left-0 right-0 break-all px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 py-3 md:py-10">
          <p class="<%= fdsz("text-base sm:text-lg lg:text-2xl", "text-base sm:text-2xl lg:text-3xl") -%> text-left pb-1 font-medium leading-none sm:leading-tight"><%= @tail_home.background_2_title %></p>
          <p class="<%= fdsz("text-xs sm:text-base lg:text-lg", "text-xs sm:text-xl lg:text-2xl") -%> text-left leading-none md:leading-snug tracking-tight sm:tracking-normal" style="word-break: keep-all;"><%= @tail_home.background_2_subtitle %></p>
        </div>
      </div>
      <div data-type="slide-item" class="image-item">
        <a href="<%= @tail_home.background_3_link %>" class="block w-full h-full" target="_blank">
          <picture>
            <source srcSet="<%= @tail_home.background_3_mobile.url -%>" media="(max-width: 768px)" type="image/jpeg" />
            <img src="<%= @tail_home.background_3.url -%>" alt="" />
          </picture>
        </a>
        <div class="absolute text-white bottom-0 left-0 right-0 break-all px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 py-3 md:py-10">
          <p class="<%= fdsz("text-base sm:text-lg lg:text-2xl", "text-base sm:text-2xl lg:text-3xl") -%> text-left pb-1 font-medium leading-none sm:leading-tight"><%= @tail_home.background_3_title %></p>
          <p class="<%= fdsz("text-xs sm:text-base lg:text-lg", "text-xs sm:text-xl lg:text-2xl") -%> text-left leading-none md:leading-snug tracking-tight sm:tracking-normal" style="word-break: keep-all;"><%= @tail_home.background_3_subtitle %></p>
        </div>
      </div>
      <div data-type="slide-item" class="image-item">
        <a href="<%= @tail_home.background_4_link %>" class="block w-full h-full" target="_blank">
          <picture>
            <source srcSet="<%= @tail_home.background_4_mobile.url -%>" media="(max-width: 768px)" type="image/jpeg" />
            <img src="<%= @tail_home.background_4.url -%>" alt="" />
          </picture>
        </a>
        <div class="absolute text-white bottom-0 left-0 right-0 break-all px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 py-3 md:py-10">
          <p class="<%= fdsz("text-base sm:text-lg lg:text-2xl", "text-base sm:text-2xl lg:text-3xl") -%> text-left pb-1 font-medium leading-none sm:leading-tight"><%= @tail_home.background_4_title %></p>
          <p class="<%= fdsz("text-xs sm:text-base lg:text-lg", "text-xs sm:text-xl lg:text-2xl") -%> text-left leading-none md:leading-snug tracking-tight sm:tracking-normal" style="word-break: keep-all;"><%= @tail_home.background_4_subtitle %></p>
        </div>
      </div>
      <div data-type="slide-item" class="image-item">
        <a href="<%= @tail_home.background_5_link %>" class="block w-full h-full" target="_blank">
          <picture>
            <source srcSet="<%= @tail_home.background_5_mobile.url -%>" media="(max-width: 768px)" type="image/jpeg" />
            <img src="<%= @tail_home.background_5.url -%>" alt="" />
          </picture>
        </a>
        <div class="absolute text-white bottom-0 left-0 right-0 break-all px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 py-3 md:py-10">
          <p class="<%= fdsz("text-base sm:text-lg lg:text-2xl", "text-base sm:text-2xl lg:text-3xl") -%> text-left pb-1 font-medium leading-none sm:leading-tight"><%= @tail_home.background_5_title %></p>
          <p class="<%= fdsz("text-xs sm:text-base lg:text-lg", "text-xs sm:text-xl lg:text-2xl") -%> text-left leading-none md:leading-snug tracking-tight sm:tracking-normal" style="word-break: keep-all;"><%= @tail_home.background_5_subtitle %></p>
        </div>
      </div>
      <div data-type="slide-item" class="image-item">
        <a href="<%= @tail_home.background_6_link %>" class="block w-full h-full" target="_blank">
          <picture>
            <source srcSet="<%= @tail_home.background_6_mobile.url -%>" media="(max-width: 768px)" type="image/jpeg" />
            <img src="<%= @tail_home.background_6.url -%>" alt="" />
          </picture>
        </a>
        <div class="absolute text-white bottom-0 left-0 right-0 break-all px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 py-3 md:py-10">
          <p class="<%= fdsz("text-base sm:text-lg lg:text-2xl", "text-base sm:text-2xl lg:text-3xl") -%> text-left pb-1 font-medium leading-none sm:leading-tight"><%= @tail_home.background_6_title %></p>
          <p class="<%= fdsz("text-xs sm:text-base lg:text-lg", "text-xs sm:text-xl lg:text-2xl") -%> text-left leading-none md:leading-snug tracking-tight sm:tracking-normal" style="word-break: keep-all;"><%= @tail_home.background_6_subtitle %></p>
        </div>
      </div>
    </div>
    <div class="action-area action-left" data-action="click->carousel2#toLast mouseenter->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay">
      <img class="w-4 lg:w-8" src="<%= asset_pack_path('media/images/arrow_left.svg') -%>" alt="上一张" />
    </div>
    <div class="action-area action-right" data-action="click->carousel2#toNext mouseenter->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay">
      <img class="w-4 lg:w-8" src="<%= asset_pack_path('media/images/arrow_right.svg') -%>" alt="下一张" />
    </div>
  </div>
</div>

<div data-controller="<%= home_controller -%>"
     data-action="resize@window-><%= home_controller -%>#layout"
     data-home-offset="0.75"
     data-home-amplify_rate="2.3">

<div class="relative" style="margin-top: 100vh; z-index: 1;" <%= raw(
home_controller == 'home-ie11' ? 'style="opacity: 0;"' : '') -%> id="thape-home-waypoint">
<%# 最新项目 %>
<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-white scroller-step" <%= raw(
home_controller == 'home' ? 'style="opacity: 0.001;"' : '') -%> id="thape-new-projects">
  <header>
    <div class="flex w-full pt-4 pb-2 sm:pt-10 sm:pb-4 justify-between items-center">
      <div class="flex items-end">
        <h1 class="p-0 <%= fdsz("text-lg sm:text-2xl", "text-xl sm:text-4xl") -%> font-bold text-black6c">
          <a href="<%= works_path(locale: 'cn', anchor: 'thape-new-projects') -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">最新项目</a>
        </h1>
        <h2 class="ml-2 <%= fdsz("text-sm sm:text-lg", "text-base sm:text-3xl") -%> text-black6c">
          <a href="<%= works_path(locale: 'en', anchor: 'thape-new-projects') -%>" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">NEW PROJECTS</a>
        </h2>
      </div>
      <a class="py-1 md:py-2 px-2 sm:px-5 border border-black <%= fdsz('text-sm') -%> font-medium rounded-full text-black bg-thape-white-t80 shadow-sm active:bg-black6c-t70 hover:bg-black6c focus:text-black6c hover:text-white focus:text-white transition duration-150 ease-in-out leading-snug sm:leading-normal" href="<%= works_path -%>">
        MORE+
      </a>
    </div>
  </header>
  <% if browser.ie? %>
    <%= render partial: 'new_projects_ie11' %>
  <% else %>
    <%= render partial: 'new_projects' %>
  <% end %>
</div>

<div class="relative w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-white scroller-step" id="thape-home-news">
  <%# 天华新闻 %>
  <header>
    <div class="flex w-full pt-4 pb-2 sm:pt-10 sm:pb-4 justify-between items-center">
      <div class="flex items-end">
        <h1 class="p-0 <%= fdsz("text-lg sm:text-2xl", "text-xl sm:text-4xl") -%> font-bold text-black6c">
          <a href="<%= news_index_path(locale: 'cn', anchor: 'thape-home-news') -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">天华新闻</a>
        </h1>
        <h2 class="ml-2 <%= fdsz("text-sm sm:text-lg", "text-base sm:text-3xl") -%> text-black6c">
          <a href="<%= news_index_path(locale: 'en', anchor: 'thape-home-news') -%>" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">NEWS</a>
        </h2>
      </div>
      <a class="py-1 md:py-2 px-2 sm:px-5 border border-black <%= fdsz('text-sm') -%> font-medium rounded-full text-black bg-thape-white-t80 shadow-sm active:bg-black6c-t70 hover:bg-black6c focus:text-black6c hover:text-white focus:text-white transition duration-150 ease-in-out leading-snug sm:leading-normal" href="<%= news_index_path -%>">
        MORE+
      </a>
    </div>
  </header>
  <div class="flex-grid">
    <div class="flex-grid-box flex-grid-cols-1-gap-1 sm:flex-grid-cols-2-gap-2 lg:flex-grid-cols-3-gap-2">
    <%= render partial: 'new_square',
      locals: { news_image_url: @tail_home.info_1_photo.url, info: @tail_home.news_1, padding_y: 'pr-1 sm:pr-2 lg:pr-4' } %>
    <%= render partial: 'new_square',
      locals: { news_image_url: @tail_home.info_2_photo.url, info: @tail_home.news_2, padding_y: 'px-1 sm:px-1 lg:px-2' } %>
    <%= render partial: 'new_square',
      locals: { news_image_url: @tail_home.info_3_photo.url, info: @tail_home.news_3, padding_y: 'pl-1 sm:pl-2 lg:pl-4' } %>
    </div>
  </div>
</div>

<%# 访客留言 %>
<div class="bg-white sm:py-8">
<%= render partial: 'shared/guest_form' %>
</div>

</div>
</div>
<%= render partial: 'shared/footer' %>
