<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full mx-auto sm:pb-4 md:pb-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <%= render partial: 'shared/header', locals: { c: '新闻中心', e: 'NEWS',
    header_path: news_index_path, header_class: 'border-gray-200 border-solid border-b', show_header_right: false } %>
</div>

<% if params[:page].blank? %>
  <a href="<%= news_path(id: @tail_home.hero_news_id) -%>">
    <div class="w-full relative">
      <% if @tail_home.hero_news_photo_mobile.present? %>
        <%= image_tag @tail_home.hero_news_photo.url, class: 'w-full hidden sm:block' %>
        <%= image_tag @tail_home.hero_news_photo_mobile.url, class: 'w-full block sm:hidden' %>
      <% else %>
        <%= image_tag @tail_home.hero_news_photo.url, class: 'w-full' %>
      <% end %>
      <div class="absolute inset-y-0 right-0 bg-thape-white-t80 w-1/2 lg:w-1/3 xl:w-1/4">
        <div class="my-0 sm:mt-12 md:mt-24 lg:mt-32 xl:mt-40 xxl:mt-48 xxxl:mt-56 mx-2 sm:mx-10 xxl:mx-12 xxxl:mx-16 flex sm:block items-center sm:item-start flex-wrap sm:flex-no-wrap h-full sm:h-auto">
          <p class="font-medium <%= fdsz("text-base sm:#{smFzClass(1)}", "text-base sm:#{xlFzClass(2)}") -%> text-left pb-1 leading-loose sm:text-justify">
            <% if @tail_home.hero_news_title_cap.present? %>
            <span class="h1-cap" style="border-bottom-width: 2px;"><%= @tail_home.hero_news.title[0..@tail_home.hero_news_title_cap - 1] -%></span><%= @tail_home.hero_news.title[@tail_home.hero_news_title_cap..] %>
            <% else %>
              <%= @tail_home.hero_news.title %>
            <% end %>
          </p>

          <p class="<%= fdsz("text-xs sm:#{smFzClass(3)}", "text-xs sm:#{xlFzClass(4)}") -%> font-light text-left leading-4 sm:leading-6 m-0 sm:mt-4 md:mt-12 sm:text-justify w-full sm:w-auto"><%= @tail_home.hero_news.sub_title -%></p>
        </div>
      </div>
    </div>
  </a>
<% end %>
<div class="w-full mx-auto p-2 md:p-6 lg:p-8 xl:p-10 xxl:p-12 xxxl:p-16">
  <div class="flex-grid mb-4">
    <div class="flex-grid-box flex-grid-cols-2-gap-1 sm:flex-grid-cols-2-gap-2 md:flex-grid-cols-3-gap-2 lg:flex-grid-cols-4-gap-2">
    <% @infos.each do |info| %>
      <%= render partial: 'news_square',
        locals: { info: info, news_class: 'grid-div' } %>
    <% end %>
    </div>
  </div>


  <%= paginate @infos %>


</div>

<%= render partial: 'shared/footer' %>
