<% provide(:title, @seo.home_title) %>
<% provide(:meta_title, @seo.home_title) %>

<%= render partial: 'shared/thape_nav' -%>

<%= image_tag @tail_home.hero_news_photo.url -%>

<div class="w-full mx-auto sm:pb-4 md:pb-8 px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 scroller-step">
  <div class="my-6 flex flex-wrap sm:flex-no-wrap">
    <main class="w-full md:w-9/12 px-0 sm:pr-4">
      <div class="max-w-screen-md xxl:max-w-screen-lg md:mx-auto news-img">
        <header class="flex mb-10">
          <div class="hidden sm:block bg-thape-dark-gray w-20 flex-none">
            <div class="relative w-full" style="padding-top: 100%;">
              <div class="absolute w-full h-full p-1 top-0 left-0">
                <div class="flex flex-col justify-between h-full">
                  <p class="px-3 text-black6c-t70 <%= fdsz('text-3xl') -%> text-justify font-semibold tracking-widest leading-none"><%= @info.created_at.day -%></p>
                  <p class="px-3 text-black6c-t70 <%= fdsz('text-sm') -%> text-justify font-normal tracking-wider leading-none"><%= Date::ABBR_MONTHNAMES[@info.created_at.month] -%></p>
                  <p class="py-1 px-3 text-black6c-t70 <%= fdsz('text-sm') -%> text-justify font-medium tracking-wider leading-none"><%= @info.created_at.year -%></p>
                </div>
              </div>
            </div>
          </div>
          <div class="m-0 sm:mx-2 flex flex-col justify-between order-first sm:order-none">
            <% if @info.sub_title.present? %>
              <h1 class="px-0 sm:px-1 <%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-3xl") -%> text-left sm:text-justify font-bold break-all leading-tight pt-1">
                <%= @info.title -%>
              </h1>
              <h2 class="px-0 sm:px-1 <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> text-thape-copyright-gray text-left sm:text-justify">
                <%= @info.sub_title -%>
              </h2>
            <% else %>
              <h1 class="px-0 sm:px-1 <%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-3xl") -%> text-left sm:text-justify font-bold break-all leading-tight">
                <%= @info.title -%>
              </h1>
            <% end %>
            <time class="block sm:hidden <%= fdsz('text-sm') %> text-thape-copyright-gray"><%= @info.created_at.to_date -%></time>
          </div>

        </header>
        <%= raw @info.content %>
      </div>
    </main>
    <aside class="w-full sm:w-3/12 block sm:hidden md:block float-none md:float-right <%= fdsz('xl:text-lg xxl:text-xl xxxl:text-2xl') -%> mt-4 sm:mt-0">
      <div class="sm:space-y-8 w-full sm:w-2/3 pb-3 sm:pb-6 border-gray-200 border-solid border-">
        <h3 class="<%= fdsz("text-lg", "text-2xl") -%>">推荐阅读</h3>
        <figure class="space-y-2 flex sm:block my-2 sm:my-0">
          <div class="w-1/3 sm:w-auto flex-none sm:flex-initial block">
          <%= image_tag @first_work.snapshot_jpg.url, class: 'w-full' -%>
          </div>
          <div class="w-2/3 sm:w-auto pl-2 sm:pl-0 flex sm:block content-bewteen sm:content-start flex-wrap sm:flex-no-wrap <%= fdsz("text-xs", "text-base") -%>">
            <figcaption class="p-0 sm:pt-2 text-black6c block w-full sm:w-auto flex-none sm:flex-initial"><%= link_to @first_work.project_name, work_path(id: @first_work.id) -%></figcaption>
            <p class="text-gray1c block w-full sm:w-auto flex-none sm:flex-initial"><%= @first_work.construction_completion&.year == 0 ? '' : @first_work.construction_completion&.year %></p>
          </div>
        </figure>
        <figure class="space-y-2 flex sm:block my-2 sm:my-0">
          <div class="w-1/3 sm:w-auto flex-none sm:flex-initial block">
          <%= image_tag @second_work.snapshot_jpg.url, class: 'w-full' -%>
          </div>
          <div class="w-2/3 sm:w-auto pl-2 sm:pl-0 flex sm:block content-bewteen sm:content-start flex-wrap sm:flex-no-wrap <%= fdsz("text-xs", "text-base") -%>">
            <figcaption class="p-0 sm:pt-2 text-black6c block w-full sm:w-auto flex-none flex-initial"><%= link_to @second_work.project_name, work_path(id: @second_work.id) -%></figcaption>
            <p class="text-gray1c block w-full sm:w-auto flex-none sm:flex-initial"><%= @second_work.construction_completion&.year == 0 ? '' : @second_work.construction_completion&.year %></p>
          </div>
        </figure>
      </div>
      <nav class="pt-6 w-full sm:w-2/3">
        <ol class="space-y-4 <%= fdsz("text-xs", "text-base") -%>">
          <li>
            <a class="flex" href="<%= news_path(id: @previous_info.id) -%>">
              <span class="border border-black text-center flex-none mr-1 <%= fdsz("w-5 h-5 leading-5", "w-6 h-6 leading-6") -%>" style="border-radius: 50%;">&lt;</span>
              <span style="margin-top: 2px;"><%= @previous_info.title -%></span>
            </a>
          </li>
          <li>
            <a class="flex" href="<%= news_path(id: @next_info.id) -%>">
              <span class="border border-black text-center flex-none mr-1 <%= fdsz("w-5 h-5 leading-5", "w-6 h-6 leading-6") -%>" style="border-radius: 50%;">&gt;</span>
              <span style="margin-top: 2px;"><%= @next_info.title -%></span>
            </a>
          </li>
        </ol>
      </nav>
    </aside>
  </div>
</div>

<%= render partial: 'shared/footer' %>
