<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<%= image_pack_tag 'media/images/article-banner.jpg' -%>

<div class="w-full mx-auto clearfix sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 scroller-step">
  <div class="my-6">
    <main class="inline-block">
      正文
    </main>
    <aside class="inline-block w-80 sm:float-right xl:text-lg xxl:text-xl xxxl:text-2xl">
      <div class="space-y-8 pb-6 border-gray-200 border-solid border-b">
        <h3>推荐阅读</h3>
        <figure class="space-y-2">
          <%= image_pack_tag 'media/images/aside-1.jpg', class: 'w-full' -%>
          <figcaption class="pt-2 text-black6c">合肥旭辉甜甜圈幼儿园  </figcaption>
          <p class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-gray1c">2019年12月28日</p>
        </figure>
        <figure class="space-y-2">
          <%= image_pack_tag 'media/images/aside-2.jpg', class: 'w-full' -%>
          <figcaption class="pt-2 text-black6c">合肥万科北城中央公园中小学  </figcaption>
          <p class="text-sm xl:text-base xxl:text-lg xxxl:text-xl text-gray1c">2019年12月28日</p>
        </figure>
      </div>
      <nav class="pt-6">
        <ol class="space-y-4">
          <li class="text-base"><a href="#"><span class="circle-border border border-black text-center">&lt;</span> 华润石家庄万象城</a></li>
          <li class="text-base"><a href="#"><span class="circle-border border border-black text-center">&gt;</span> 青岛WFC协信中心</a></li>
        </ol>
      </nav>
    </aside>
  </div>
</div>

<%= render partial: 'shared/footer' %>
