<div data-controller="<%= scroll_controller -%>"
     data-action="resize@window-><%= scroll_controller -%>#layout"
     data-scroll-offset="0.45">
<%= render partial: 'shared/thape_nav' -%>

<%= image_pack_tag 'media/images/article-banner.jpg' -%>

<div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 scroller-step">
  <div class="my-6">
    <aside class="w-3/12 hidden md:block md:float-right xl:text-lg xxl:text-xl xxxl:text-2xl">
      <div class="space-y-8 w-2/3 pb-6 border-gray-200 border-solid border-b">
        <h3>推荐阅读</h3>
        <figure class="space-y-2">
          <%= image_pack_tag 'media/images/aside-1.jpg', class: 'w-full' -%>
          <figcaption class="text-sm pt-2 text-black6c">合肥旭辉甜甜圈幼儿园  </figcaption>
          <p class="text-xs text-gray1c">2019年12月28日</p>
        </figure>
        <figure class="space-y-2">
          <%= image_pack_tag 'media/images/aside-2.jpg', class: 'w-full' -%>
          <figcaption class="text-sm pt-2 text-black6c">合肥万科北城中央公园中小学  </figcaption>
          <p class="text-xs text-gray1c">2019年12月28日</p>
        </figure>
      </div>
      <nav class="pt-6">
        <ol class="space-y-4">
          <li class="text-base"><a href="#"><span class="circle-border border border-black text-center">&lt;</span> 华润石家庄万象城</a></li>
          <li class="text-base"><a href="#"><span class="circle-border border border-black text-center">&gt;</span> 青岛WFC协信中心</a></li>
        </ol>
      </nav>
    </aside>
    <main class="w-full md:w-9/12 pr-4">
      <div class="max-w-screen-md xxl:max-w-screen-lg md:mx-auto">
        <header class="flex mb-10">
          <div class="bg-thape-dark-gray w-24 h-20">
            <p class="px-3 text-black6c-t70 text-5xl text-justify font-semibold tracking-widest leading-none">31</p>
            <p class="px-3 text-black6c-t70 text-sm text-justify font-normal tracking-wider leading-none"><%= Date::ABBR_MONTHNAMES[@info.created_at.month] -%></p>
            <p class="py-1 px-3 text-black6c-t70 text-sm text-justify font-normal tracking-wider leading-none"><%= @info.created_at.year -%></p>
          </div>
          <div class="mx-2 flex flex-col justify-between ">
            <% if @info.seo_description.present? %>
              <h1 class="px-1 text-2xl xxxl:text-3xl text-justify font-bold break-all leading-tight">
                <%= @info.title -%>
              </h1>
              <h2 class="px-1 text-lg text-thape-copyright-gray xxxl:text-xl text-justify">
                <%= @info.seo_description -%>
              </h2>
            <% else %>
              <h1 class="px-1 text-3xl xxxl:text-4xl text-justify font-bold break-all leading-tight">
                <%= @info.title -%>
              </h1>
            <% end %>
          </div>

        </header>
        <%= raw @info.content %>
      </div>
    </main>
  </div>
</div>

<%= render partial: 'shared/footer' %>
</div>
