<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
    <%= prev_page_tag %>
    <div class="hidden md:flex">
    <% each_page do |page| -%>
      <% if page.display_tag? -%>
        <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>
    </div>
    <% unless current_page.out_of_range? %>
      <%= next_page_tag  %>
    <% end %>
  </nav>
<% end -%>
