<div class="relative overflow-hidden bg-black" x-data="{ show_g: false }" x-on:mouseenter="show_g = true" x-on:mouseleave="show_g = false">
  <%= image_pack_tag g_image, class: 'grid-mask-image' -%>
  <div class="absolute text-white left-6 bottom-4" x-show="!show_g">
    <h1 class="text-xl text-left pb-1 font-medium max-sm:text-xl"><%= h1 -%></h1>
    <h2 class="text-lg text-left leading-snug max-sm:text-base"><%= h2 -%></h2>
  </div>
  <div class="absolute inset-0 bg-black6c-t70 text-white flex content-center justify-left" x-show="show_g"
    x-transition:enter="transition ease-linear duration-200"
    x-transition:enter-start="opacity-0 transform -translate-x-1/2"
    x-transition:enter-end="opacity-100 transform translate-x-0"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-start="opacity-100 transform translate-x-0"
    x-transition:leave-end="opacity-0 transform -translate-x-1/2">
    <div class="flex items-center pl-10 pr-36 max-sm:w-full max-sm:px-2">
      <div>
        <h1 class="text-2xl xl:text-3xl text-left pb-1 font-semibold max-sm:text-xl max-sm:leading-none"><%= h1 -%></h1>
        <h2 class="text-xl xl:text-2xl text-left leading-snug max-sm:text-base"><%= h2 -%></h2>
        <% h3s.each_with_index do |h3, index| %>
          <h3 class="<%= index == 0 ? 'mt-3 max-sm:mt-1' : '' -%> text-base xl:text-lg xxxl:text-xl font-semibold text-left max-sm:text-sm max-sm:leading-tight"><%= h3 -%></h3>
        <% end %>
        <% ps.each_with_index do |p, index| %>
          <p class="mt-2 <%= index > 0 ? 'max-sm:mt-1' : '' -%> text-xs xl:text-sm xxxl:text-base text-justify max-sm:text-xs max-sm:leading-tight"><%= p -%></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
