<div class="relative overflow-hidden" x-data="{ show_g: false }" x-on:mouseenter="show_g = true" x-on:mouseleave="show_g = false">
  <%= image_pack_tag g_image -%>
  <div class="absolute text-white w-full left-0 bottom-0 px-6 py-4 card-title-mask" x-show="!show_g">
    <h1 class="text-xl <%= fdsz("sm:text-2xl", "sm:text-4xl") -%> text-left pb-1 leading-none font-medium"><%= h1 -%></h1>
    <h2 class="text-sm <%= fdsz("sm:text-lg", "sm:text-2xl") -%> text-left leading-snug"><%= h2 -%></h2>
  </div>
  <div class="absolute inset-0 bg-black6c-t70 text-white flex content-center justify-left" x-show="show_g"
    x-transition:enter="transition ease-linear duration-200"
    x-transition:enter-start="opacity-0 transform -translate-x-1/2"
    x-transition:enter-end="opacity-100 transform translate-x-0"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-start="opacity-100 transform translate-x-0"
    x-transition:leave-end="opacity-0 transform -translate-x-1/2">
    <div class="flex items-center px-2 sm:pl-10 sm:pr-36 w-full sm:w-auto">
      <div>
        <h1 class="<%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-4xl") -%> text-left pb-1 leading-none font-semibold"><%= h1 -%></h1>
        <h2 class="<%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> text-left leading-snug"><%= h2 -%></h2>
        <% h3s.each_with_index do |h3, index| %>
          <h3 class="<%= index == 0 ? 'mt-1 sm:mt-3' : '' -%> <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%> leading-none sm:leading-snug sm:font-semibold text-lef"><%= h3 -%></h3>
        <% end %>
        <% ps.each_with_index do |p, index| %>
          <p class="<%= index == 0 ? 'mt-1 sm:mt-2' : '' -%> <%= fdsz("text-xs sm:text-sm", "text-xs sm:text-xl") -%> text-justify leading-none sm:leading-relaxed"><%= p -%></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
