<% provide(:title, "企业文化") %>
<% provide(:meta_title, "企业文化") %>

<%= render partial: 'shared/thape_nav' -%>

<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 flex flex-col content-center">
  <%= render partial: 'shared/header', locals: { c: '企业文化', e: 'CORPORATE CULTURE',
    header_path: culture_path, header_class: 'border-gray-200 border-solid border-b', show_header_right: true } %>
</div>

<div class="flex flex-col items-center justify-center px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 py-2 md:py-6 lg:py-8 xl:py-10 xxl:py-12 xxxl:py-16"
  x-data="alpineSlideShow([1,2,3,4,5])"
  x-init="setup()"
  data-controller="culture"
  data-culture-img-width-value='1080'
  data-culture-img-height-value='720'>
  <div class="relative max-w-full overflow-hidden" data-culture-target="sliders">
    <img class="w-full h-full" src="<%= asset_pack_path('static/culture_1.png') -%>"
      :x-transition:enter="transitions('enter')"
      :x-transition:enter-start="transitions('enter-start')"
      :x-transition:enter-end="transitions('enter-end')"
      :x-transition:leave="transitions('leave')"
      :x-transition:leave-start="transitions('leave-start')"
      :x-transition:leave-end="transitions('leave-end')"
      x-show="state.currentSlide === 1" />

    <img class="w-full h-full" src="<%= asset_pack_path('static/culture_2.png') -%>"
      :x-transition:enter="transitions('enter')"
      :x-transition:enter-start="transitions('enter-start')"
      :x-transition:enter-end="transitions('enter-end')"
      :x-transition:leave="transitions('leave')"
      :x-transition:leave-start="transitions('leave-start')"
      :x-transition:leave-end="transitions('leave-end')"
      x-show="state.currentSlide === 2" />

    <img class="w-full h-full" src="<%= asset_pack_path('static/culture_3.png') -%>"
      :x-transition:enter="transitions('enter')"
      :x-transition:enter-start="transitions('enter-start')"
      :x-transition:enter-end="transitions('enter-end')"
      :x-transition:leave="transitions('leave')"
      :x-transition:leave-start="transitions('leave-start')"
      :x-transition:leave-end="transitions('leave-end')"
      x-show="state.currentSlide === 3" />

    <img class="w-full h-full" src="<%= asset_pack_path('static/culture_4.png') -%>"
      :x-transition:enter="transitions('enter')"
      :x-transition:enter-start="transitions('enter-start')"
      :x-transition:enter-end="transitions('enter-end')"
      :x-transition:leave="transitions('leave')"
      :x-transition:leave-start="transitions('leave-start')"
      :x-transition:leave-end="transitions('leave-end')"
      x-show="state.currentSlide === 4" />

    <img class="w-full h-full" src="<%= asset_pack_path('static/culture_5.png') -%>"
      :x-transition:enter="transitions('enter')"
      :x-transition:enter-start="transitions('enter-start')"
      :x-transition:enter-end="transitions('enter-end')"
      :x-transition:leave="transitions('leave')"
      :x-transition:leave-start="transitions('leave-start')"
      :x-transition:leave-end="transitions('leave-end')"
      x-show="state.currentSlide === 5" />
  </div>
  <div class="flex items-center justify-center" data-culture-target="dots">
      <button
        class="mx-2 text-white inline-flex items-center justify-center bg-gray-200 hover:bg-gray-500 w-2 h-2 p-0 my-2 rounded-full"
        :class="{
          'bg-gray-500' : state.currentSlide === 1
        }"
        @click="stopAutoplay();updateCurrent(1)">
      </button>
      <button
        class="mx-2 text-white inline-flex items-center justify-center bg-gray-200 hover:bg-gray-500 w-2 h-2 p-0 my-2 rounded-full"
        :class="{
          'bg-gray-500' : state.currentSlide === 2
        }"
        @click="stopAutoplay();updateCurrent(2)">
      </button>
      <button
        class="mx-2 text-white inline-flex items-center justify-center bg-gray-200 hover:bg-gray-500 w-2 h-2 p-0 my-2 rounded-full"
        :class="{
          'bg-gray-500' : state.currentSlide === 3
        }"
        @click="stopAutoplay();updateCurrent(3)">
      </button>
      <button
        class="mx-2 text-white inline-flex items-center justify-center bg-gray-200 hover:bg-gray-500 w-2 h-2 p-0 my-2 rounded-full"
        :class="{
          'bg-gray-500' : state.currentSlide === 4
        }"
        @click="stopAutoplay();updateCurrent(4)">
      </button>
      <button
        class="mx-2 text-white inline-flex items-center justify-center bg-gray-200 hover:bg-gray-500 w-2 h-2 p-0 my-2 rounded-full"
        :class="{
          'bg-gray-500' : state.currentSlide === 5
        }"
        @click="stopAutoplay();updateCurrent(5)">
      </button>
  </div>
</div>

<%= render partial: 'shared/footer' %>
