<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full mx-auto sm:py-4 md:py-8 pt-6 sm:pt-0 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 flex flex-col content-center">
  <%= render partial: 'shared/header', locals: { c: '企业文化', e: 'CORPORATE CULTURE',
    header_path: culture_path, header_class: 'pt-12', show_header_right: true } %>
</div>

<div class="w-full mx-auto p-2 md:p-6 lg:p-8 xl:p-10 xxl:p-12 xxxl:p-16">

  <div class="relative max-w-screen-lg mx-auto">
    <%= image_pack_tag 'media/images/culture_1.jpg', class: 'w-full' -%>
    <div class="absolute text-black6c left-0 top-0">
      <p class="<%= fdsz("text-md sm:text-lg md:text-xl lg:text-2xl", "text-lg sm:text-xl md:text-2xl lg:text-3xl") -%> text-left pb-1 font-medium leading-none sm:leading-tight">天华价值主张</p>
    </div>
    <div class="flex absolute inset-0 w-full flex-col justify-center items-center">
      <h1 class="<%= fdsz('text-lg sm:text-xl md:text-2xl lg:text-3xl','text-xl sm:text-2xl md:text-3xl lg:text-4xl') -%> text-black6c text-center font-medium tracking-widest">价值导向的</h1>
      <h2 class="<%= fdsz('text-xs sm:text-sm md:text-base lg:text-lg', 'text-sm sm:text-base md:text-lg') -%> text-black6c text-center font-medium tracking-widest">VALUE-ORIENTED</h2>

      <h1 class="<%= fdsz('text-lg sm:text-xl md:text-2xl lg:text-3xl','text-xl sm:text-2xl md:text-3xl lg:text-4xl') -%> text-black6c text-center font-medium tracking-widest mt-2">具有行业影响力的</h1>
      <h2 class="<%= fdsz('text-xs sm:text-sm md:text-base lg:text-lg', 'text-sm sm:text-base md:text-lg') -%> text-black6c text-center font-medium tracking-widest">INFLUENTIAL</h2>

      <h1 class="<%= fdsz('text-lg sm:text-xl md:text-2xl lg:text-3xl','text-xl sm:text-2xl md:text-3xl lg:text-4xl') -%> text-black6c text-center font-medium tracking-widest mt-2">国际标准的</h1>
      <h2 class="<%= fdsz('text-xs sm:text-sm md:text-base lg:text-lg', 'text-sm sm:text-base md:text-lg') -%> text-black6c text-center font-medium tracking-widest">INTERNATIONAL STANDARD</h2>

      <h1 class="<%= fdsz('text-lg sm:text-xl md:text-2xl lg:text-3xl','text-xl sm:text-2xl md:text-3xl lg:text-4xl') -%> text-black6c text-center font-medium tracking-widest mt-2">开放并互动的</h1>
      <h2 class="<%= fdsz('text-xs sm:text-sm md:text-base lg:text-lg', 'text-sm sm:text-base md:text-lg lg:text-xl') -%> text-black6c text-center font-medium tracking-widest">OPEN</h2>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
