<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full mx-auto sm:py-4 md:py-8 pt-6 sm:pt-0 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 flex flex-col content-center">
  <%= render partial: 'shared/header', locals: { c: '企业文化', e: 'CORPORATE CULTURE',
    header_path: culture_path, header_class: 'pt-12', show_header_right: true } %>
</div>

<div class="w-full max-w-screen-xl mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 flex flex-col content-center">
  <%= image_pack_tag 'media/images/c1.png', class: "h-full w-full" -%>
  <%= image_pack_tag 'media/images/c2.png', class: "h-full w-full"-%>
  <%= image_pack_tag 'media/images/c3.png', class: "h-full w-full"-%>
  <%= image_pack_tag 'media/images/c4.png', class: "h-full w-full"-%>
  <%= image_pack_tag 'media/images/c5.png', class: "h-full w-full"-%>
  <%= image_pack_tag 'media/images/c6.png', class: "h-full w-full"-%>
  <%= image_pack_tag 'media/images/c7.png', class: "h-full w-full"-%>
  <%= image_pack_tag 'media/images/c8.png', class: "h-full w-full"-%>
  <%= image_pack_tag 'media/images/c9.png', class: "h-full w-full"-%>
  <%= image_pack_tag 'media/images/c10.png', class: "h-full w-full" -%>
  <%= image_pack_tag 'media/images/c11.png', class: "h-full w-full" -%>
</div>

<%= render partial: 'shared/footer' %>
