<%= render partial: 'shared/thape_nav', locals: { nav_background: 'white', show_debug: false } -%>

<div class="relative" x-data="{ activeSlide: 1, slides: [1, 2, 3, 4, 5, 6], show_left_btn: false, show_right_btn: false }"
  data-controller="carousel"
  data-carousel-refresh-interval="5000">
  <%= image_pack_tag 'media/images/about-h1.jpg', 'x-show': 'activeSlide === 1', class: "pt-12" -%>
  <%= image_pack_tag 'media/images/about-h2.jpg', 'x-show': 'activeSlide === 2', class: "pt-12" -%>
  <%= image_pack_tag 'media/images/about-h3.jpg', 'x-show': 'activeSlide === 3', class: "pt-12" -%>
  <%= image_pack_tag 'media/images/about-h4.jpg', 'x-show': 'activeSlide === 4', class: "pt-12" -%>
  <%= image_pack_tag 'media/images/about-h5.jpg', 'x-show': 'activeSlide === 5', class: "pt-12" -%>
  <%= image_pack_tag 'media/images/about-h6.jpg', 'x-show': 'activeSlide === 6', class: "pt-12" -%>

  <div class="absolute inset-0 w-full flex">
      <div class="w-1/4 flex justify-start items-center"
        x-on:mouseenter="show_left_btn = true"
        x-on:mouseleave="show_left_btn = false">
        <button
          x-on:click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1">
          <svg class="ml-4 pt-1 w-10 h-12 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            x-bind:class="{ 'text-gray-300': show_left_btn, 'text-black6c-t70': !show_left_btn }">
              <g transform="matrix(1,0,0,1,-136,-229)">
                  <path d="M158.061,231.969L140.029,250L158.061,268.031C158.646,268.617 158.646,269.567 158.061,270.153C157.475,270.738 156.525,270.738 155.939,270.153L136.847,251.061C136.262,250.475 136.262,249.525 136.847,248.939L155.939,229.847C156.525,229.262 157.475,229.262 158.061,229.847C158.646,230.433 158.646,231.383 158.061,231.969Z" />
              </g>
          </svg>
        </button>
      </div>
      <div class="w-2/4" data-action="mouseenter->carousel#stop_rotate mouseleave->carousel#start_rotate"></div>
      <div class="w-1/4 flex justify-end items-center"
        x-on:mouseenter="show_right_btn = true"
        x-on:mouseleave="show_right_btn = false">
        <button
          data-target="carousel.nextSlide"\
          x-on:click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1">
          <svg class="pt-1 w-10 h-12 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            x-bind:class="{ 'text-gray-300': show_right_btn, 'text-black6c-t70': !show_right_btn }">
              <g transform="matrix(1,0,0,1,-334,-229)">
                  <path d="M355.561,250.539L336.577,269.53C335.995,270.113 335.05,270.113 334.468,269.53C333.885,268.947 333.885,268.003 334.468,267.42L352.397,249.484L334.468,231.549C333.885,230.966 333.885,230.022 334.468,229.439C335.05,228.856 335.995,228.856 336.577,229.439L355.561,248.429C356.144,249.012 356.144,249.957 355.561,250.539Z" />
              </g>
          </svg>
        </button>
      </div>
  </div>
  <div class="absolute bottom-0 inset-x-0 bg-white h-56 opacity-75" data-target="service.introDiv">
    <div class="sm:flex px-10 sm:px-20 md:px-32 lg:px-40 xl:px-48 xxl:px-56 xxxl:px-64">
      <dt class="w-1/3 font-medium text-black6c p-4">
        <h1 class="text-3xl font-bold whitespace-no-wrap">创意与技术完美融合</h1>
        <h2 class="text-xl font-medium whitespace-no-wrap">ENGINEERING POWERED. </h2>
        <h2 class="text-xl font-medium whitespace-no-wrap">DESIGN ACHIEVED.</h2>
      </dt>
      <dd class="w-2/3 text-sm font-light text-black6c text-justify p-4">
        <p>上海天华建筑设计有限公司（以下简称天华）创立于1997年，由上海天祥实业有限公司控股，是中国首批甲级民营建筑设计公司之一，专注于提供城市建设领域的专业服务，为政府和企业客户等提供全面而专业的综合解决方案与全程卓越客户体验。 </p>
        <p>天华，服务范围涵盖城市规划、建筑设计、室内设计、景观设计、技术咨询到建筑审图、可视化、BIM正向设计等全方位服务。科学统筹“咨询、设计、技术、管理”互联的高效服务模式，因地制宜地为不同城市建设项目提供具有创新性和经济性的解决方案。目前，天华35个子公司遍布于全国22个城市，汇聚了5600多位优秀人才。我们与客户，上下游合作伙伴一起，助力城市持续发展。 </p>
        <p>天华以客户需求和前沿发展理念及技术为驱动力，将富有特色的方案与强大的技术相结合，致力于对设计高品质完美实现的追求，打造“创意与技术完美融合”的品牌理念。  </p>
      </dd>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
