<%= render partial: 'shared/thape_nav' -%>

<div class="w-full relative">
  <div class="thape-slide"
    data-controller="carousel2"
    data-carousel2-item-data-type="slide-item"
    data-carousel2-active-class="active"
    data-carousel2-animation-class-base="animate"
    data-carousel2-animation-class-left-in="fade-in"
    data-carousel2-animation-class-left-out="fade-out"
    data-carousel2-animation-class-right-in="fade-in"
    data-carousel2-animation-class-right-out="fade-out"
    data-carousel2-animation-duration="500"
    data-carousel2-interval-time="3000"
    data-action="mouseover->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay">
    <div class="slide-images" data-action="animationstart->carousel2#itemAnimationStart animationend->carousel2#itemAnimationEnd" style="padding-top: 51%;">
      <div data-type="slide-item" class="image-item active">
        <picture>
          <img style="width: 100%; height: auto;" src="<%= asset_pack_path('media/images/about-h1.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <img style="width: 100%; height: auto;" src="<%= asset_pack_path('media/images/about-h2.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <img style="width: 100%; height: auto;" src="<%= asset_pack_path('media/images/about-h3.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <img style="width: 100%; height: auto;" src="<%= asset_pack_path('media/images/about-h4.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <img style="width: 100%; height: auto;" src="<%= asset_pack_path('media/images/about-h5.jpg') -%>" alt="" />
        </picture>
      </div>
      <div data-type="slide-item" class="image-item">
        <picture>
          <img style="width: 100%; height: auto;" src="<%= asset_pack_path('media/images/about-h6.jpg') -%>" alt="" />
        </picture>
      </div>
    </div>
    <div class="action-area action-left" data-action="click->carousel2#toLast">
      <img class="w-8" src="<%= asset_pack_path('media/images/arrow_left.svg') -%>" alt="下一张" />
    </div>
    <div data-type="action-to-next" class="action-area action-right text-white" data-action="click->carousel2#toNext">
      <img class="w-8" src="<%= asset_pack_path('media/images/arrow_right.svg') -%>" alt="下一张" />
    </div>
  </div>
  <div class="absolute bottom-0 inset-x-0 bg-white bg-opacity-75 hidden lg:block" style="background-color: rgba(255, 255, 255, .75)">
    <div class="lg:flex justify-between px-0 md:px-12 lg:px-16 xl:px-32 xxl:px-56 xxxl:px-64">
      <div class="flex">
        <dt class="block font-medium text-black6c py-4">
          <h1 class="<%= fdsz('text-3xl') -%> font-bold whitespace-no-wrap">创意与技术完美融合</h1>
          <h2 class="<%= fdsz('text-xl') -%> font-medium whitespace-no-wrap">ENGINEERING POWERED.</h2>
          <h2 class="<%= fdsz('text-xl') -%> font-medium whitespace-no-wrap">DESIGN ACHIEVED.</h2>
        </dt>
        <dd class="ml-4 text-black6c font-normal text-justify <%= fdsz('text-base xxxl:text-lg') -%> p-5">
          <p>上海天华建筑设计有限公司（以下简称天华）创立于1997年，由上海天祥实业有限公司控股，是中国首批甲级民营建筑设计公司之一，现拥有建筑工程、城乡规划双甲级资质，风景园林乙级资质，获ISO质量体系认证，专注于提供城市建设领域的专业服务，为政府和企业客户等提供全面而专业的综合解决方案与全程卓越客户体验。</p>
          <p>天华业务范围涵盖城市规划、建筑设计、室内设计、景观设计、技术咨询、建筑审图、可视化技术等全方位专业服务。目前，天华35个子公司遍布于全国22个城市，汇聚了5600多位优秀人才，以客户需求和前沿发展理念及技术为驱动力，致力于追求高品质设计的完美实现，打造“创意与技术完美融合”的品牌理念。</p>
          <p>天华通过科学统筹“咨询、设计、技术、管理”互联的高效服务模式，与广大客户及行业合作伙伴携手并进，助力城市持续发展。</p>
        </dd>
      </div>
    </div>
  </div>
</div>

<div data-controller="<%= scroll_controller -%>"
     data-action="resize@window-><%= scroll_controller -%>#layout"
     data-scroll-offset="0.65">

<div class="bg-white bg-opacity-75 block p-4 lg:hidden">
  <div class="flex flex-wrap">
    <dt class="block font-medium text-black6c py-2 flex-none">
      <h1 class="<%= fdsz('text-2xl') -%> font-bold whitespace-no-wrap">创意与技术完美融合</h1>
      <h2 class="<%= fdsz('text-base') -%> font-medium whitespace-no-wrap">ENGINEERING POWERED.</h2>
      <h2 class="<%= fdsz('text-base') -%> font-medium whitespace-no-wrap">DESIGN ACHIEVED.</h2>
    </dt>
    <dd class="text-black6c font-normal <%= fdsz('text-sm') -%> flex-none w-full">
      <p>上海天华建筑设计有限公司（以下简称天华）创立于1997年，由上海天祥实业有限公司控股，是中国首批甲级民营建筑设计公司之一，专注于提供城市建设领域的专业服务，为政府和企业客户等提供全面而专业的综合解决方案与全程卓越客户体验。</p>
      <p>天华服务范围涵盖城市规划、建筑设计、室内设计、景观设计等，以及技术咨询、建筑审图、可视化技术等全方位专业服务，通过科学统筹“咨询、设计、技术、管理”互联的高效服务模式，因地制宜地为不同城市建设项目提供具有创新性和经济性的解决方案。</p>
      <p>天华以客户需求和前沿发展理念及技术为驱动力，致力于追求高品质设计的完美实现，打造“创意与技术完美融合”的品牌理念。目前，天华35个子公司遍布于全国22个城市，汇聚了5600多位优秀人才，与广大客户及行业合作伙伴携手并进，助力城市持续发展。</p>
    </dd>
  </div>
</div>
<div class="flex-grid my-2 scroller-step">
  <div class="flex-grid-box flex-grid-cols-1-gap-1 sm:flex-grid-cols-1-gap-2 md:flex-grid-cols-2-gap-2">
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g1.jpg',
    h1: '研究', h2: 'RESEARCH', h3s: ['技术赋能设计——基于创新的研究'],
    ps: [
      '基于社会责任感和对设计品质的执着追求，立足于城市的可持续发展，天华前瞻性地成立了八大研究中心，组建天华专家团队，发挥大型综合设计企业的优势，策略和实践双轮驱动，积极探索和研发相关课题，并与境内外高校联合展开多项探索性研究，在应对城市问题的解决方案和相关专业领域积累了丰富的策略、技术和实践成果。'
    ] } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g2.jpg',
    h1: 'THDL', h2: 'TIANHUA DESIGN LAB', h3s: ['Tianhua Design Lab (THDL) ——关于设计与人的研究室、实验室和孵化器', '国际人才聚集 TALENTS', '设计创意探索 CREATIVITY'],
    ps: [
      'THDL是专门为青年建筑师量身打造的研究型设计工作室与孵化器，为优秀的国际化青年人才架设梦想与现实之间的桥梁，让创新的理想与专业的提升相辅相成。THDL通过拥抱新的技术、新的语言和新的工作方式在传统建筑类型基础上，试图寻找建筑在中国城市面貌中的新价值。',
    ] } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g3.jpg',
    h1: 'T+', h2: 'T Plus', h3s: ['集专业与创意的高端公建综合设计平台','体验 Experience','整合 Integration','细节建构 Tectonic','体系标准 Standard'],
    ps: [
      '严肃而又长期的承诺：追求建筑设计在漫长的使用过程中无论体验还是功能都能经得起时间的考验。',
      '综合设计的完整实现：对项目全程的参与和对最新建造把控，满足建筑和空间的完整性与完成度。',
      '研发驱动创新体验设计：以研究用户需求和前沿发展理念及技术为驱动力，将富有特色的方案与强大的技术相结合，不断增强创新体验的设计能力。'
    ] } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g4.jpg',
    h1: '黑标住宅', h2: 'PERFECTION PURSUER', h3s: ['空间体验 Experience','秩序 Order / Precise','整合 Integration','建构 Tectonic','材料细节 Detail+','可持续 Sustainability','标准 Upgrade Standard','责任制 Workshop'],
    ps: [
      '通过全球视野与本地文化的融会贯通在天华建筑设计品牌的积淀下成立的集专业与创意的高端居住产品线。'
    ] } %>
  </div>
</div>

<%= render partial: 'shared/footer' %>
</div>

