<div data-controller="<%= scroll_controller -%>"
     data-action="resize@window-><%= scroll_controller -%>#layout"
     data-scroll-offset="0.65">

<%= render partial: 'shared/thape_nav' -%>


<div class="relative" x-data="{ activeSlide: 1, slides: [1, 2, 3, 4, 5, 6], direction_to_right: true, show_left_btn: false, show_right_btn: false }"
  data-controller="carousel"
  data-carousel-refresh-interval="7000">

  <% [1, 2, 3, 4, 5, 6].each do |slide| %>
    <%= image_pack_tag "media/images/about-h#{slide}.jpg", 'x-show': "activeSlide === #{slide} && direction_to_right",
          'x-bind:class': "{ '': activeSlide === 1, 'absolute inset-0 w-full': activeSlide !== #{slide} }",
          'x-transition:enter-start': 'opacity-0 transform -translate-x-1/2',
          'x-transition:enter': 'transition ease-linear duration-300',
          'x-transition:enter-end': 'opacity-100 transform translate-x-0',
          'x-transition:leave-start': 'opacity-100 transform translate-x-0',
          'x-transition:leave': 'transition ease-in duration-300',
          'x-transition:leave-end': 'opacity-50 transform translate-x-1/2' -%>
    <%= image_pack_tag "media/images/about-h#{slide}.jpg", 'x-show': "activeSlide === #{slide} && !direction_to_right",
          'x-bind:class': "{ '': activeSlide === 1, 'absolute inset-0 w-full': activeSlide !== #{slide} }",
          'x-transition:enter-start': 'opacity-0 transform translate-x-1/2',
          'x-transition:enter': 'transition ease-linear duration-300',
          'x-transition:enter-end': 'opacity-100 transform translate-x-0',
          'x-transition:leave-start': 'opacity-100 transform translate-x-0',
          'x-transition:leave': 'transition ease-in duration-300',
          'x-transition:leave-end': 'opacity-50 transform -translate-x-1/2' -%>
  <% end %>

  <div class="absolute inset-0 w-full flex">
      <div class="w-1/4 flex justify-start items-center"
        x-on:mouseenter="show_left_btn = true"
        x-on:mouseleave="show_left_btn = false">
        <button
          data-action="mouseenter->carousel#stop_rotate mouseleave->carousel#start_rotate"
          x-on:click="direction_to_right = false; activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1">
          <svg class="ml-4 pt-1 w-6 h-8 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            x-bind:class="{ 'text-gray-300': show_left_btn, 'text-black6c-t70': !show_left_btn }">
              <g transform="matrix(1,0,0,1,-35,-81)">
                  <path d="M50.061,84.04L39.101,95L50.061,105.96C50.646,106.546 50.646,107.496 50.061,108.081C49.475,108.667 48.525,108.667 47.939,108.081L35.919,96.061C35.333,95.475 35.333,94.525 35.919,93.939L47.939,81.919C48.525,81.333 49.475,81.333 50.061,81.919C50.646,82.504 50.646,83.454 50.061,84.04Z" />
              </g>
          </svg>
        </button>
      </div>
      <div class="w-2/4" data-action="mouseenter->carousel#stop_rotate mouseleave->carousel#start_rotate"></div>
      <div class="w-1/4 flex justify-end items-center"
        x-on:mouseenter="show_right_btn = true"
        x-on:mouseleave="show_right_btn = false">
        <button
          data-action="mouseenter->carousel#stop_rotate mouseleave->carousel#start_rotate"
          data-target="carousel.nextSlide"
          x-on:click="direction_to_right = true; activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1">
          <svg class="mr-4 pt-1 w-6 h-8 fill-current" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            x-bind:class="{ 'text-gray-300': show_right_btn, 'text-black6c-t70': !show_right_btn }">
              <g transform="matrix(1,0,0,1,-125,-81)">
                <path d="M139.582,96.544L127.587,108.551C127.002,109.136 126.054,109.136 125.47,108.551C124.885,107.966 124.885,107.017 125.47,106.432L136.407,95.484L125.47,84.537C124.885,83.952 124.885,83.003 125.47,82.418C126.054,81.833 127.002,81.833 127.587,82.418L139.582,94.425C140.167,95.01 140.167,95.959 139.582,96.544Z" />
              </g>
          </svg>
        </button>
      </div>
  </div>

  <div class="absolute bottom-0 inset-x-0 bg-white bg-opacity-75">
    <div class="sm:flex justify-between px-10 sm:px-20 md:px-32 lg:px-40 xl:px-48 xxl:px-56 xxxl:px-64">
      <div class="flex">
        <dt class="block font-medium text-black6c py-3">
          <h1 class="text-3xl font-bold whitespace-no-wrap">创意与技术完美融合</h1>
          <h2 class="text-xl font-medium whitespace-no-wrap">ENGINEERING POWERED.</h2>
          <h2 class="text-xl font-medium whitespace-no-wrap">DESIGN ACHIEVED.</h2>
        </dt>
        <dd class="ml-4 text-black6c font-normal text-justify xxxl:text-lg text-base p-3">
          <p>上海天华建筑设计有限公司（以下简称天华）创立于1997年，由上海天祥实业有限公司控股，是中国首批甲级民营建筑设计公司之一，专注于提供城市建设领域的专业服务，为政府和企业客户等提供全面而专业的综合解决方案与全程卓越客户体验。</p>
          <p>天华服务范围涵盖城市规划、建筑设计、室内设计、景观设计等，以及技术咨询、建筑审图、可视化技术等全方位专业服务，通过科学统筹“咨询、设计、技术、管理”互联的高效服务模式，因地制宜地为不同城市建设项目提供具有创新性和经济性的解决方案。</p>
          <p>天华以客户需求和前沿发展理念及技术为驱动力，致力于追求高品质设计的完美实现，打造“创意与技术完美融合”的品牌理念。目前，天华35个子公司遍布于全国22个城市，汇聚了5600多位优秀人才，与广大客户及行业合作伙伴携手并进，助力城市持续发展。</p>
        </dd>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-1 md:gap-2 my-2 scroller-step">
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g1.jpg',
    h1: '研究', h2: 'RESEARCH', h3s: ['技术赋能设计——基于创新的研究'],
    p1: '基于社会责任感和对设计品质的执着追求，立足于城市的可持续发展，天华前瞻性地成立了八大研究中心，组建天华专家团队，发挥大型综合设计企业的优势，策略和实践双轮驱动，积极探索和研发相关课题，并与境内外高校联合展开多项探索性研究，在应对城市问题的解决方案和相关专业领域积累了丰富的策略、技术和实践成果。',
    p2: '' } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g2.jpg',
    h1: 'THDL', h2: 'TIANHUA DESIGN LAB', h3s: ['Tianhua Design Lab (THDL) ——关于设计与人的研究室、实验室和孵化器'],
    p1: 'THDL是专门为青年建筑师量身打造的平台，为他们架起梦想与现实之间的桥，呵护他们的锐气和对建筑的热情，也让他们的梦想和创新与扎实的专业能力提升相辅相成，不会成为脱离市场需求的空中楼阁。',
    p2: '建筑设计有很多只可意会不可言传的隐性知识的传承，而世界正以从未有过的速度日新月异地变化，60后到90后的成员结构，是THDL的黄金组合。' } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g3.jpg',
    h1: 'T+', h2: 'T Plus', h3s: ['技术赋能设计；综合设计+创意','体验 Experience','整合 Integration','细节建构 Tectonic','体系标准 Standard'],
    p1: 'T+的目标：综合设计的完整实现+研发驱动创新体验设计。',
    p2: 'T+的核心：以公司VP为核心的工作方式+雄厚的人才储备（70%名校精英）+一流国际事务所认可的专业水平，在天华建筑设计品牌的积淀下成立的集专业与创意的高端公建综合设计平台。' } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g4.jpg',
    h1: '黑标住宅', h2: 'PERFECTION PURSUER', h3s: ['空间体验 Experience','秩序 Order / Precise','整合 Integration','建构 Tectonic','材料细节 Detail+','可持续 Sustainability','标准 Upgrade Standard','责任制 Workshop'],
    p1: '通过全球视野与本地文化的融会贯通在天华建筑设计品牌的积淀下成立的集专业与创意的高端居住产品线。',
    p2: '' } %>
</div>

<%= render partial: 'shared/footer' %>
</div>

