<% provide(:title, "关于天华") %>
<% provide(:meta_title, "关于天华") %>

<%= render partial: 'shared/thape_nav' -%>

<div class="w-full relative">
  <div class="thape-slide"
    data-controller="carousel2"
    data-carousel2-item-data-type="slide-item"
    data-carousel2-active-class="active"
    data-carousel2-animation-class-base="animate"
    data-carousel2-animation-class-left-in="fade-in"
    data-carousel2-animation-class-left-out="fade-out"
    data-carousel2-animation-class-right-in="fade-in"
    data-carousel2-animation-class-right-out="fade-out"
    data-carousel2-animation-duration="500"
    data-carousel2-interval-time="5000"
  >
    <div class="slide-images" data-action="animationstart->carousel2#itemAnimationStart animationend->carousel2#itemAnimationEnd" style="padding-top: 51%;">
      <% [[@about_page.about_h1, @about_page.about_h1_mobile],
          [@about_page.about_h2, @about_page.about_h2_mobile],
          [@about_page.about_h3, @about_page.about_h3_mobile],
          [@about_page.about_h4, @about_page.about_h4_mobile],
          [@about_page.about_h5, @about_page.about_h5_mobile],
          [@about_page.about_h6, @about_page.about_h6_mobile],
          [@about_page.about_h7, @about_page.about_h7_mobile],
          ].each_with_index do |urls, index| %>
        <div data-type="slide-item" class="image-item <%= index == 0 ? 'active' : '' -%>">
          <% if urls.second.present? %>
            <picture>
              <img class="w-full h-auto hidden sm:block" src="<%= urls.first.url -%>" alt="" />
              <img class="w-full h-auto block sm:hidden" src="<%= urls.second.url -%>" alt="" />
            </picture>
          <% else %>
            <picture>
              <img class="w-full h-auto" src="<%= urls.first.url -%>" alt="" />
            </picture>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="action-area action-left" data-action="click->carousel2#toLast mouseover->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay">
      <img class="w-4 lg:w-8" src="<%= asset_pack_path('media/images/arrow_left.svg') -%>" alt="上一张" />
    </div>
    <div class="action-area action-right" data-action="click->carousel2#toNext mouseover->carousel2#stopAutoPlay mouseleave->carousel2#startAutoPlay">
      <img class="w-4 lg:w-8" src="<%= asset_pack_path('media/images/arrow_right.svg') -%>" alt="下一张" />
    </div>
  </div>
  <div class="absolute bottom-0 inset-x-0 bg-white bg-opacity-75 hidden lg:block" style="background-color: rgba(255, 255, 255, .75)">
    <div class="lg:flex justify-between px-0 md:px-12 lg:px-16 xl:px-32 xxl:px-56 xxxl:px-64">
      <div class="flex">
        <dt class="block font-medium text-black6c py-4">
          <h1 class="<%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-4xl") -%> font-bold whitespace-no-wrap">创意与技术完美融合</h1>
          <h2 class="<%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> font-medium whitespace-no-wrap">ENGINEERING POWERED.</h2>
          <h2 class="<%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> font-medium whitespace-no-wrap">DESIGN ACHIEVED.</h2>
        </dt>
        <dd class="ml-4 text-black6c font-normal text-justify <%= fdsz("text-sm", "text-xl") -%> p-5">
          <% @about_page.thape_intro.split("\n").each do |p| %>
            <p><%= p -%></p>
          <% end %>
        </dd>
      </div>
    </div>
  </div>
</div>

<div data-controller="<%= scroll_controller -%>"
     data-action="resize@window-><%= scroll_controller -%>#layout"
     data-scroll-offset="0.65">

<div class="bg-white bg-opacity-75 block p-4 lg:hidden">
  <div class="flex flex-wrap">
    <dt class="block font-medium text-black6c py-2 flex-none">
      <h1 class="<%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-4xl") -%> font-bold whitespace-no-wrap"><%= t('abouts.intro.title') %></h1>
      <% t('abouts.intro.subtitle').each |item| %>
      <h2 class="<%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> font-medium whitespace-no-wrap"><%= item %></h2>
      <% end %>
    </dt>
    <dd class="text-black6c font-normal <%= fdsz("text-sm", "text-xl") -%> flex-none w-full">
      <% @about_page.thape_intro.split("\n").each do |p| %>
        <p><%= p -%></p>
      <% end %>
    </dd>
  </div>
</div>
<div class="flex-grid my-2 scroller-step">
  <div class="flex-grid-box flex-grid-cols-1-gap-1 sm:flex-grid-cols-1-gap-2 lg:flex-grid-cols-2-gap-2">
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g1.jpg',
    h1: t('abouts.research.title'), h2: t('abouts.research.subtitle'), h3s: t('abouts.research.content_title'),
    ps: t('abouts.research.content') } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g2.jpg',
    h1: t('abouts.design_lab.title'), h2: t('abouts.design_lab.subtitle'), h3s: t('abouts.design_lab.content_title'),
    ps: t('abouts.design_lab.content') } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g3.jpg',
    h1: t('abouts.t_plus.title'), h2: t('abouts.t_plus.subtitle'), h3s: t('abouts.t_plus.content_title'),
    ps: t('abouts.t_plus.content') } %>
  <%= render partial: 'about_div', locals: { g_image: 'media/images/about-g4.jpg',
    h1: t('abouts.perfection_pursuer.title'), h2: t('abouts.perfection_pursuer.subtitle'), h3s: t('abouts.perfection_pursuer.content_title'),
    ps: t('abouts.perfection_pursuer.content') } %>
  </div>
</div>

</div>

<%= render partial: 'shared/footer' %>
