<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16" x-show="show_city == '<%= c -%>'">
  <div class="p-4 sm:px-8 md:px-12 lg:px-16 xl:px-24">
    <header class="px-4 pt-2 pb-1 sm:px-6">
      <h1 class="inline-block <%= fdsz('text-2xl sm:text-3xl') -%> font-bold text-black6c">
        <span class="hover:text-black6c-t70"><%= c -%></span>
      </h1>
      <h2 class="ml-2 inline-block <%= fdsz('text-xl sm:text-2xl') -%> text-black6c">
        <span class="font-medium hover:text-black6c-t70"><%= e -%></span>
      </h2>
    </header>
    <div class="flex flex-wrap px-4 sm:px-6">
      <%= render partial: 'office_address', locals: { m: m1 } %>
      <% if m2.present? %>
        <%= render partial: 'office_address', locals: { m: m2 } %>
      <% end %>
    </div>
  </div>
</div>
