<div style="display: none;" x-show="show_city == '<%= c -%>'">
  <header class="pt-2 pb-1">
    <h1 class="inline-block <%= fdsz("text-xl sm:text-2xl", "text-xl sm:#{xlFzClass(1)}") -%> font-bold text-black6c">
      <span class="hover:text-black6c-t70"><%= c -%></span>
    </h1>
    <h2 class="ml-2 inline-block <%= fdsz("text-lg sm:text-lg", "text-lg sm:#{xlFzClass(2)}") -%> text-black6c">
      <span class="font-medium hover:text-black6c-t70"><%= e -%></span>
    </h2>
  </header>
  <div class="flex flex-wrap">
    <%= render partial: 'office_address', locals: { m: m1 } %>
    <% if m2.present? %>
      <%= render partial: 'office_address', locals: { m: m2 } %>
    <% end %>
  </div>
</div>
