<div class="w-full lg:w-1/2 leading-loose my-2 lg:my-6">
  <% if m.alt_name.present? %>
    <h1 class="<%= fdsz("text-lg sm:#{smFzClass(2)} font-semibold", "text-lg sm:#{xlFzClass(2)} font-medium") -%> leading-normal sm:leading-tight"><%= m.long_name -%></h1>
    <h1 class="<%= fdsz("text-lg sm:#{smFzClass(2)} font-semibold", "text-lg sm:#{xlFzClass(2)} font-medium") -%> pb-1 leading-normal"><%= m.alt_name -%></h1>
  <% else %>
    <h1 class="<%= fdsz("text-lg sm:#{smFzClass(2)} font-semibold", "text-lg sm:#{xlFzClass(2)} font-medium") -%> leading-normal sm:leading-tight pb-2"><%= m.long_name -%></h1>
  <% end %>
  <div class="flex <%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%>">
    <label class="flex-none leading-normal">地址：</label>
    <div>
      <p class="leading-normal"><%= m.address -%></p>
    </div>
  </div>
  <% if m.tel.present? %>
  <div class="flex <%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%>">
    <label class="flex-none leading-normal">电话：</label>
    <div>
      <p class="leading-normal"><%= m.tel -%></p>
    </div>
  </div>
  <% end %>
  <% if m.marketing_phone.present? %>
  <div class="flex <%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%>">
    <label class="flex-none leading-normal">市场营销：</label>
    <div>
      <p class="leading-normal"><%= m.marketing_phone -%></p>
    </div>
  </div>
  <% end %>
  <% if m.media_phone.present? %>
  <div class="flex <%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%>">
    <label class="flex-none leading-normal">媒体：</label>
    <div>
      <p class="leading-normal"><%= m.media_phone -%></p>
    </div>
  </div>
  <% end %>
  <% if m.fax.present? %>
  <div class="flex <%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%>">
    <label class="flex-none leading-normal">传真：</label>
    <div>
      <p class="leading-normal"><%= m.fax -%></p>
    </div>
  </div>
  <% end %>
  <% if m.website_name.present? %>
  <div class="flex <%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%>">
    <label class="flex-none leading-normal">网址：</label>
    <div>
      <p class="leading-normal"><%= link_to m.website_name, m.website_url -%></p>
    </div>
  </div>
  <% end %>
</div>
