<div data-controller="scroll"
     data-action="resize@window->scroll#layout"
     data-scroll-offset="0.55"
     data-scroll-threshold="0.15"
     data-scroll-amplify_rate="3">
<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<div class="relative">
  <%= image_pack_tag 'media/images/interior.jpg' -%>
  <div class="absolute bottom-0 inset-x-0 w-full flex items-center bg-white h-32 opacity-75">
    <div class="w-full flex justify-between items-center px-10 md:px-20 lg:px-32 xl:px-40 xxl:px-48 xxxl:px-56">
      <div class="w-1/3 text-center">
        <h1 class="text-xl">总机</h1>
        <h2 class="text-sm">SWITCHBOARD</h2>
        <p class="text-lg pt-1"><a href="tel:021-64281588">021-64281588</a></p>
      </div>
      <div class="w-1/3 text-center">
        <h1 class="text-xl">项目接洽及投诉</h1>
        <h2 class="text-sm">MARKETING & COMPLAIN</h2>
        <p class="text-lg pt-1"><a href="tel:400-8366606">400-8366606</a></p>
      </div>
      <div class="w-1/3 text-center">
        <h1 class="text-xl">媒体</h1>
        <h2 class="text-sm">MEDIA</h2>
        <p class="text-lg pt-1"><a href="tel:021-64281588-p8847">021-64281588-8847</a></p>
      </div>
    </div>
  </div>
</div>

<div x-data="{ show_city: '上海' }">
  <div class="w-full my-8 flex justify-between pr-2 md:pr-6 lg:pr-8 xl:pr-10 xxl:pr-12 xxxl:pr-16 scroller-step">
    <div class="relative w-1/2" >
      <%= image_pack_tag 'media/images/china_map.png' -%>
      <div class="absolute" style="left:80%;top:60%;"
        x-bind:class="{ 'map-star-b': show_city == '上海', 'map-dot-b': show_city != '上海' }">上海</div>
      <div class="absolute" style="left:65%;top:38%;"
        x-bind:class="{ 'map-star-a': show_city == '北京', 'map-dot-a': show_city != '北京' }">北京</div>
      <div class="absolute" style="left:64%;top:83%;"
        x-bind:class="{ 'map-star-a': show_city == '深圳', 'map-dot-a': show_city != '深圳' }">深圳</div>
      <div class="absolute" style="left:60%;top:85%;"
        x-bind:class="{ 'map-star-a': show_city == '广州', 'map-dot-a': show_city != '广州' }">广州</div>
      <div class="absolute" style="left:70%;top:40%;"
        x-bind:class="{ 'map-star-b': show_city == '天津', 'map-dot-b': show_city != '天津' }">天津</div>
      <div class="absolute" style="left:47%;top:68%;"
        x-bind:class="{ 'map-star-a': show_city == '重庆', 'map-dot-a': show_city != '重庆' }">重庆</div>

      <div class="absolute" style="left:57%;top:66%;"
        x-bind:class="{ 'map-star-b': show_city == '武汉', 'map-dot-b': show_city != '武汉' }">武汉</div>
      <div class="absolute" style="left:35%;top:66%;"
        x-bind:class="{ 'map-star-a': show_city == '成都', 'map-dot-a': show_city != '成都' }">成都</div>
      <div class="absolute" style="left:37%;top:46%;"
        x-bind:class="{ 'map-star-a': show_city == '西安', 'map-dot-a': show_city != '西安' }">西安</div>
      <div class="absolute" style="left:83%;top:35%;"
        x-bind:class="{ 'map-star-b': show_city == '沈阳', 'map-dot-b': show_city != '沈阳' }">沈阳</div>
      <div class="absolute" style="left:77%;top:76%;"
        x-bind:class="{ 'map-star-b': show_city == '厦门', 'map-dot-b': show_city != '厦门' }">厦门</div>
      <div class="absolute" style="left:75%;top:45%;"
        x-bind:class="{ 'map-star-b': show_city == '青岛', 'map-dot-b': show_city != '青岛' }">青岛</div>

      <div class="absolute" style="left:75%;top:55%;"
        x-bind:class="{ 'map-star-b': show_city == '南京', 'map-dot-b': show_city != '南京' }">南京</div>
      <div class="absolute" style="left:55%;top:46%;"
        x-bind:class="{ 'map-star-a': show_city == '郑州', 'map-dot-a': show_city != '郑州' }">郑州</div>
      <div class="absolute" style="left:79%;top:65%;"
        x-bind:class="{ 'map-star-b': show_city == '杭州', 'map-dot-b': show_city != '杭州' }">杭州</div>
      <div class="absolute" style="left:70%;top:60%;"
        x-bind:class="{ 'map-star-b': show_city == '合肥', 'map-dot-b': show_city != '合肥' }">合肥</div>
      <div class="absolute" style="left:68%;top:47%;"
        x-bind:class="{ 'map-star-a': show_city == '济南', 'map-dot-a': show_city != '济南' }">济南</div>
      <div class="absolute" style="left:48%;top:79%;"
        x-bind:class="{ 'map-star-b': show_city == '贵阳', 'map-dot-b': show_city != '贵阳' }">贵阳</div>

      <div class="absolute" style="left:38%;top:80%;"
        x-bind:class="{ 'map-star-a': show_city == '昆明', 'map-dot-a': show_city != '昆明' }">昆明</div>
      <div class="absolute" style="left:62%;top:44%;"
        x-bind:class="{ 'map-star-a': show_city == '太原', 'map-dot-a': show_city != '太原' }">太原</div>
      <div class="absolute" style="left:55%;top:72%;"
        x-bind:class="{ 'map-star-b': show_city == '长沙', 'map-dot-b': show_city != '长沙' }">长沙</div>
      <div class="absolute" style="left:68%;top:85%;"
        x-bind:class="{ 'map-star-b': show_city == '香港', 'map-dot-b': show_city != '香港' }">香港</div>
    </div>
    <div class="w-1/2">
      <h1 class="text-xl">天华的全国化布局 TIANHUA IN CHINA</h1>
      <p class="pt-2 text-sm">天华，具有全过程、无缝对接的建筑设计全国化网络布局，通过全国的资源共享和人才协作，为各地客户提供统一的、高品质的全专业咨询服务。</p>

      <div class="flex justify-between items-center text-center w-full text-sm lg:text-base xxxl:text-lg my-2 py-2 xl:py-3 xxl:py-4">
        <div class="flex-1 mr-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '上海', 'bg-thape-bg-gray': show_city != '上海' }"
          x-on:click="show_city = '上海'">上海天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '南京', 'bg-thape-bg-gray': show_city != '南京' }"
          x-on:click="show_city = '南京'">南京天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '杭州', 'bg-thape-bg-gray': show_city != '杭州' }"
          x-on:click="show_city = '杭州'">杭州天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '青岛', 'bg-thape-bg-gray': show_city != '青岛' }"
          x-on:click="show_city = '青岛'">青岛天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '济南', 'bg-thape-bg-gray': show_city != '济南' }"
          x-on:click="show_city = '济南'">济南天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '合肥', 'bg-thape-bg-gray': show_city != '合肥' }"
          x-on:click="show_city = '合肥'">合肥天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '北京', 'bg-thape-bg-gray': show_city != '北京' }"
          x-on:click="show_city = '北京'">北京天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '天津', 'bg-thape-bg-gray': show_city != '天津' }"
          x-on:click="show_city = '天津'">天津天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '太原', 'bg-thape-bg-gray': show_city != '太原' }"
          x-on:click="show_city = '太原'">太原天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '深圳', 'bg-thape-bg-gray': show_city != '深圳' }"
          x-on:click="show_city = '深圳'">深圳天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '厦门', 'bg-thape-bg-gray': show_city != '厦门' }"
          x-on:click="show_city = '厦门'">厦门天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '广州', 'bg-thape-bg-gray': show_city != '广州' }"
          x-on:click="show_city = '广州'">广州天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '沈阳', 'bg-thape-bg-gray': show_city != '沈阳' }"
          x-on:click="show_city = '沈阳'">沈阳天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '武汉', 'bg-thape-bg-gray': show_city != '武汉' }"
          x-on:click="show_city = '武汉'">武汉天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '郑州', 'bg-thape-bg-gray': show_city != '郑州' }"
          x-on:click="show_city = '郑州'">郑州天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '长沙', 'bg-thape-bg-gray': show_city != '长沙' }"
          x-on:click="show_city = '长沙'">长沙天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '西安', 'bg-thape-bg-gray': show_city != '西安' }"
          x-on:click="show_city = '西安'">西安天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '重庆', 'bg-thape-bg-gray': show_city != '重庆' }"
          x-on:click="show_city = '重庆'">重庆天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '成都', 'bg-thape-bg-gray': show_city != '成都' }"
          x-on:click="show_city = '成都'">成都天华</div>
        <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '贵阳', 'bg-thape-bg-gray': show_city != '贵阳' }"
          x-on:click="show_city = '贵阳'">贵阳天华</div>
        <div class="flex-1 ml-1 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 text-white cursor-pointer"
          x-bind:class="{ 'bg-gray-500': show_city == '昆明', 'bg-thape-bg-gray': show_city != '昆明' }"
          x-on:click="show_city = '昆明'">昆明天华</div>
      </div>

      <div class="mt-10 flex justify-center items-center text-center w-full text-sm lg:text-base">
        <div class="mr-1 xl:mr-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '香港', 'bg-gray-50': show_city != '香港' }"
          x-on:click="show_city = '香港'">易<br />爱<br />迪<br />︵<br />香<br />港<br />︶</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">易<br />爱<br />迪<br />︵<br />上<br />海<br />︶</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上<br />海<br />A<br />I<br />C<br />O<br />建<br />筑</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上<br />海<br />A<br />I<br />C<br />O<br />室<br />内</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上海天华规划</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上海天华室内</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">易术家互娱科技</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上海易衡光伏</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上海天华景观</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上海易湃环境工程</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上海虹核审图</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '上海', 'bg-gray-50': show_city != '上海' }"
          x-on:click="show_city = '上海'">上海环境研究中心</div>
        <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '武汉', 'bg-gray-50': show_city != '武汉' }"
          x-on:click="show_city = '武汉'">武汉天华易筑室内</div>
        <div class="ml-1 xl:ml-2 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600 cursor-pointer"
          x-bind:class="{ 'bg-gray-100': show_city == '深圳', 'bg-gray-50': show_city != '深圳' }"
          x-on:click="show_city = '深圳'">深圳天华易筑室内</div>
      </div>
    </div>
  </div>
</div>

<div x-data="{ show_city: '上海' }">
  <div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-thape-footer-gray">
    <div class="p-4 sm:px-8 md:px-12 lg:px-16 xl:px-24">
      <header class="px-4 pt-2 pb-1 sm:px-6">
        <h1 class="inline-block text-3xl font-bold text-black6c">
          <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">全国机构</a>
        </h1>
        <h2 class="ml-2 inline-block text-2xl text-black6c">
          <a href="#" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">OFFICES</a>
        </h2>
      </header>
      <div class="w-full flex flex-wrap justify-left items-center pl-3 pr-1 pt-1 pb-2 sm:pl-5">
        <%= render partial: 'city_mini', locals: {c: '上海', e: 'SHANGHAI' } %>
        <%= render partial: 'city_mini', locals: {c: '北京', e: 'BEIJING' } %>
        <%= render partial: 'city_mini', locals: {c: '深圳', e: 'SHENZHEN' } %>
        <%= render partial: 'city_mini', locals: {c: '广州', e: 'GUANGZHOU' } %>
        <%= render partial: 'city_mini', locals: {c: '天津', e: 'TIANJIN' } %>
        <%= render partial: 'city_mini', locals: {c: '重庆', e: 'CHONGQIN' } %>
        <%= render partial: 'city_mini', locals: {c: '武汉', e: 'WUHAN' } %>
        <%= render partial: 'city_mini', locals: {c: '成都', e: 'CHENGDU' } %>
        <%= render partial: 'city_mini', locals: {c: '西安', e: "XI'AN" } %>
        <%= render partial: 'city_mini', locals: {c: '沈阳', e: 'SHENYANG' } %>
        <%= render partial: 'city_mini', locals: {c: '厦门', e: 'XIAMEN' } %>
        <%= render partial: 'city_mini', locals: {c: '青岛', e: 'QINGDAO' } %>
        <%= render partial: 'city_mini', locals: {c: '南京', e: 'NANJING' } %>
        <%= render partial: 'city_mini', locals: {c: '郑州', e: 'ZHENZHOU' } %>
        <%= render partial: 'city_mini', locals: {c: '杭州', e: 'HANGZHOU' } %>
        <%= render partial: 'city_mini', locals: {c: '合肥', e: 'HEFEI' } %>
        <%= render partial: 'city_mini', locals: {c: '济南', e: "JI'NAN" } %>
        <%= render partial: 'city_mini', locals: {c: '贵阳', e: 'GUIYANG' } %>
        <%= render partial: 'city_mini', locals: {c: '昆明', e: 'KUNMING' } %>
        <%= render partial: 'city_mini', locals: {c: '太原', e: 'TAIYUAN' } %>
        <%= render partial: 'city_mini', locals: {c: '长沙', e: 'CHANGSHA' } %>
        <%= render partial: 'city_mini', locals: {c: '香港', e: 'HONGKONG' } %>
      </div>
    </div>
  </div>

  <div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16" x-show="show_city == '上海'">
    <div class="p-4 sm:px-8 md:px-12 lg:px-16 xl:px-24">
      <header class="px-4 pt-2 pb-1 sm:px-6">
        <h1 class="inline-block text-3xl font-bold text-black6c">
          <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">上海</a>
        </h1>
        <h2 class="ml-2 inline-block text-2xl text-black6c">
          <a href="#" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">SHANGHAI</a>
        </h2>
      </header>
      <div class="flex flex-wrap px-4 py-2 sm:px-6">
        <div class="w-full lg:w-1/2 leading-loose my-6">
          <h1 class="text-2xl font-medium leading-tight pb-2">上海天华建筑设计有限公司 </h1>
          <label class="float-left">地址：</label>
            <p class="ml-12">上海市徐汇区中山西路1800号兆丰环球大厦27楼 200235 </p>
            <p class="ml-12">上海市徐汇区钦州北路1188号漕河泾科汇大厦 200233 </p>
            <p class="ml-12">上海市杨浦区杨树浦路1062号2号楼2楼 </p>
          <label class="float-left">电话：</label>
            <p class="ml-12">021-64281588 </p>
          <label class="float-left">传真：</label>
            <p class="ml-12">021-64281587</p>
        </div>
        <%= render partial: 'office_address', locals: { m: @m_易爱迪 } %>
        <%= render partial: 'office_address', locals: { m: @m_爱坤 } %>
        <%= render partial: 'office_address', locals: { m: @m_上海室内 } %>
        <%= render partial: 'office_address', locals: { m: @m_上海城规 } %>
        <%= render partial: 'office_address', locals: { m: @m_上海园林 } %>
        <%= render partial: 'office_address', locals: { m: @m_虹核审图 } %>
        <%= render partial: 'office_address', locals: { m: @m_易术家互娱 } %>
        <%= render partial: 'office_address', locals: { m: @m_易衡光伏 } %>
        <%= render partial: 'office_address', locals: { m: @m_易湃环境 } %>
      </div>
    </div>
  </div>

  <%= render partial: 'city_div', locals: {c: '北京', e: 'BEIJING', m: @m_北京天华 } -%>
  <%= render partial: 'city_div', locals: {c: '深圳', e: 'SHENZHEN', m: @m_深圳天华 } -%>
  <%= render partial: 'city_div', locals: {c: '广州', e: 'GUANGZHOU', m: @m_广州天华 } -%>
  <%= render partial: 'city_div', locals: {c: '天津', e: 'TIANJIN', m: @m_天津天华 } -%>
  <%= render partial: 'city_div', locals: {c: '重庆', e: 'CHONGQIN', m: @m_重庆天华 } -%>
  <%= render partial: 'city_div', locals: {c: '武汉', e: 'WUHAN', m: @m_武汉天华 } -%>
  <%= render partial: 'city_div', locals: {c: '成都', e: 'CHENGDU', m: @m_成都天华 } -%>
  <%= render partial: 'city_div', locals: {c: '西安', e: "XI'AN", m: @m_西安天华 } -%>
  <%= render partial: 'city_div', locals: {c: '沈阳', e: 'SHENYANG', m: @m_沈阳天华 } -%>
  <%= render partial: 'city_div', locals: {c: '厦门', e: 'XIAMEN', m: @m_厦门天华 } -%>
  <%= render partial: 'city_div', locals: {c: '青岛', e: 'QINGDAO', m: @m_青岛天华 } -%>
  <%= render partial: 'city_div', locals: {c: '南京', e: 'NANJING', m: @m_南京天华 } -%>
  <%= render partial: 'city_div', locals: {c: '郑州', e: 'ZHENZHOU', m: @m_郑州天华 } -%>
  <%= render partial: 'city_div', locals: {c: '杭州', e: 'HANGZHOU', m: @m_杭州天华 } -%>
  <%= render partial: 'city_div', locals: {c: '合肥', e: 'HEFEI', m: @m_合肥天华 } -%>
  <%= render partial: 'city_div', locals: {c: '济南', e: "JI'NAN", m: @m_济南天华 } -%>
  <%= render partial: 'city_div', locals: {c: '贵阳', e: 'GUIYANG', m: @m_贵阳天华 } -%>
  <%= render partial: 'city_div', locals: {c: '昆明', e: 'KUNMING', m: @m_昆明天华 } -%>
  <%= render partial: 'city_div', locals: {c: '太原', e: 'TAIYUAN', m: @m_太原天华 } -%>
  <%= render partial: 'city_div', locals: {c: '长沙', e: 'CHANGSHA', m: @m_长沙天华 } -%>
  <%= render partial: 'city_div', locals: {c: '香港', e: 'HONGKONG', m: @m_香港天华 } -%>

</div>

<%= render partial: 'shared/guest_form' %>

<%= render partial: 'shared/footer' %>
</div>
