<% provide(:title, "联系方式") %>
<% provide(:meta_title, "联系方式") %>

<%= render partial: 'shared/thape_nav' -%>

<div class="relative">

  <picture>
    <source srcset="<%= asset_pack_path('static/contact.webp') -%>" type="image/webp">
    <source srcset="<%= asset_pack_path('static/contact.jpg') -%>" type="image/jpeg">
    <img src="<%= asset_pack_path('static/contact.jpg') -%>" class="w-full">
  </picture>
  <div class="sm:absolute sm:bottom-0 sm:inset-x-0 w-full sm:flex sm:items-center bg-white opacity-75 py-6 mt-4 sm:mt-0">
    <div class="w-full flex justify-center sm:justify-between items-center flex-wrap sm:flex-no-wrap px-4 sm:px-10 md:px-20 lg:px-32 xl:px-40 xxl:px-48 xxxl:px-56">
      <div class="w-full sm:w-1/3 flex sm:block justify-between items-center px-2 sm:px-0 bg-thape-dark-gray sm:bg-transparent mb-1 sm:mb-0">
        <h1 class="text-center <%= fdsz("text-base sm:text-2xl", "text-base sm:text-4xl") -%>">总机</h1>
        <h2 class="text-center <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%> xxl:pt-1 hidden sm:block">SWITCHBOARD</h2>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1"><a href="tel:021-34189900">021-34189900</a></p>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1"><a href="tel:021-64281588">021-64281588</a></p>
      </div>
      <div class="w-full sm:w-1/3 flex sm:block justify-between items-center px-2 sm:px-0 bg-thape-dark-gray sm:bg-transparent mb-1 sm:mb-0">
        <h1 class="text-center <%= fdsz("text-base sm:text-2xl", "text-base sm:text-4xl") -%>">服务</h1>
        <h2 class="text-center <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%> xxl:pt-1 hidden sm:block">SERVICE</h2>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1"><a href="tel:400-8366606">400-8366606 转 1</a></p>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1"><a href="tel:64281588">64281588 转 1</a></p>
      </div>
      <div class="w-full sm:w-1/3 flex sm:block justify-between items-center px-2 sm:px-0 bg-thape-dark-gray sm:bg-transparent mb-1">
        <h1 class="text-center <%= fdsz("text-base sm:text-2xl", "text-base sm:text-4xl") -%>">媒体</h1>
        <h2 class="text-center <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%> xxl:pt-1 hidden sm:block">MEDIA</h2>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1"><a href="mailto:thapepr@thape.com.cn?subject=来自官网">thapepr@thape.com.cn</a></p>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1">&nbsp;</p>
      </div>
    </div>
  </div>
</div>

<div x-data="{ show_city: '', show_company: '' }">
  <div class="px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
    <div class="w-full my-8 xxl:my-20 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-24 xxl:px-36 flex flex-wrap xl:flex-no-wrap">
      <div class="w-full xl:w-3/5 flex-none hidden xl:block <%= fdsz("text-sm sm:text-sm", "text-sm sm:text-base") -%>">
        <div class="relative" style="padding-top: 78%; left: -1rem;">
          <%= image_pack_tag 'static/china_map.jpg', class: 'absolute top-0 left-0 w-full h-full', "x-on:click": "show_city = '';show_company=''" -%>
          <%# 地图点 %>
          <% @map_cities.each do |city| %>
            <div class="absolute" style="left: <%= city[:left] %>; top: <%= city[:top] %>;"
              x-bind:class="{ 'map-star-b': show_city == '<%= city[:area] %>', 'map-dot-b': show_city != '<%= city[:area] %>' }"><%= city[:name] %></div>
          <% end %>
          <%# 地图上的公司联系信息 %>
          <% @company_map_addresses.each do |company_map_address| %>
            <%= render partial: 'map_address', locals: { c: company_map_address[:c], marks: company_map_address[:marks] } -%>
          <% end %>
        </div>
      </div>
      <div class="w-full xl:w-2/5 flex-none">
        <div class="flex flex-wrap sm:flex-no-wrap sm:items-end">
          <h1 class="<%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-4xl") -%> flex-none sm:flex-no-wrap w-full sm:w-auto"><%= t('biz_maps.intro.title')%></h1>
          <h1 class="<%= fdsz("text-xl sm:text-lg", "text-xl sm:text-3xl") -%> flex-none sm:flex-no-wrap w-full sm:w-auto sm:ml-1"><%= t('biz_maps.intro.subtitle')%></h1>
        </div>
        <p class="pt-2 <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%>"><%= t('biz_maps.intro.content')%></p>
        <%= image_pack_tag 'static/map-mobile.jpg', class: 'w-full block xl:hidden my-6 sm:my-0' -%>
        <%# 地图上半部分中公司列表 %>
        <div class="flex-grid">
          <div class="flex-grid-box flex-grid-cols-11-gap-1 md:flex-grid-cols-11-gap-3 lg:flex-grid-cols-14-gap-2 xxl:flex-grid-cols-14-gap-3 text-center w-full <%= fdsz("text-sm sm:text-base", "text-sm sm:text-xl") -%> py-2 xl:py-4">
            <% @upper_map_companies.each do |upper_map_company| %>
              <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
                style="writing-mode: vertical-rl; letter-spacing: 5px; text-orientation: upright;"
                x-bind:class="{ 'bg-thape-bg-gray': show_company == '<%= upper_map_company[:company] %>', 'bg-thape-company-gray': show_company != '<%= upper_map_company[:company] %>' }"
                x-on:click="show_city = '<%= upper_map_company[:city] %>'; show_company = '<%= upper_map_company[:company] %>'"><%= upper_map_company[:name] %></div>
            <% end %>
          </div>
        </div>
        <%# 地图下半部分公司列表 %>
        <div class="flex-grid">
          <div class="flex-grid-box flex-grid-cols-11-gap-1 md:flex-grid-cols-11-gap-3 lg:flex-grid-cols-14-gap-2 xxl:flex-grid-cols-14-gap-3 text-center w-full <%= fdsz("text-sm sm:text-base", "text-sm sm:text-xl leading-tight") -%> mt-2 sm:mt-6">
            <% @under_map_companies.each do |under_map_company| %>
              <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex items-center pt-2"
                style="writing-mode: vertical-rl; letter-spacing: 5px; text-orientation: upright;"
                x-bind:class="{ 'bg-gray-100': show_company == '<%= under_map_company[:company] %>', 'bg-gray-50': show_company != '<%= under_map_company[:company] %>' }"
                x-on:click="show_city = '<%= under_map_company[:city] %>';show_company = '<%= under_map_company[:company] %>'"><%= under_map_company[:name] %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# 手机尺寸显示的地图上的公司联系信息 %>
  <div class="block xl:hidden">
    <% @company_map_addresses.each do |company_map_address| %>
      <%= render partial: 'mobile_map_address', locals: { c: company_map_address[:c], marks: company_map_address[:marks] } -%>
    <% end %>
  </div>
  <div class="w-full mx-auto px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-thape-dark-gray" id="thape-address">
    <div class="px-0 py-4 sm:px-8 md:px-12 lg:px-16 xl:px-24 xxl:px-36">
      <header class="px-0 pt-2 pb-1" x-on:click="show_city = ''">
        <h1 class="inline-block <%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-4xl") -%> font-bold text-black6c">
          <a href="<%= biz_map_path(locale: 'cn', anchor: 'thape-address') -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">全国机构</a>
        </h1>
        <h2 class="ml-2 inline-block <%= fdsz("text-lg sm:text-lg", "text-lg sm:text-3xl") -%> text-black6c">
          <a href="<%= biz_map_path(locale: 'en', anchor: 'thape-address') -%>" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">OFFICES</a>
        </h2>
      </header>
      <div class="flex-grid">
        <div class="flex-grid-box flex-grid-cols-4-gap-1 lg:flex-grid-cols-7-gap-2 xl:flex-grid-cols-9-gap-2 xxl:flex-grid-cols-10-gap-2 pt-1 pb-2">
          <%# 机构城市列表 %>
          <% @cities.each do |city| %>
            <%= render partial: 'city_mini', locals: { c: city[:c], dc: city[:dc].presence || city[:c], e: city[:e] } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
    <div class="px-0 py-4 sm:px-8 md:px-12 lg:px-16 xl:px-24 xxl:px-36">
      <%# 各城市的公司联系信息 %>
      <% @cities.each do |city| %>
        <%= render partial: 'city_div', locals: { c: city[:c], dc: city[:dc].presence || city[:c], e: city[:e], ms: city[:ms] } -%>
      <% end %>
    </div>
  </div>

</div>

<div class="py-8 xxl:px-12">
<%= render partial: 'shared/guest_form' %>
</div>

<%= render partial: 'shared/footer' %>
