<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<div class="relative">
  <%= image_pack_tag 'media/images/interior.jpg' -%>
  <div class="absolute bottom-0 inset-x-0 w-full flex items-center bg-white h-32 opacity-75">
    <div class="w-full flex justify-between items-center px-10 md:px-20 lg:px-32 xl:px-40 xxl:px-48 xxxl:px-56">
      <div class="w-1/3 text-center">
        <h1 class="text-xl">总机</h1>
        <h2 class="text-sm">SWITCHBOARD</h2>
        <p class="text-lg pt-1"><a href="tel:021-64281588">021-64281588</a></p>
      </div>
      <div class="w-1/3 text-center">
        <h1 class="text-xl">项目接洽及投诉</h1>
        <h2 class="text-sm">MARKETING & COMPLAIN</h2>
        <p class="text-lg pt-1"><a href="tel:400-8366606">400-8366606</a></p>
      </div>
      <div class="w-1/3 text-center">
        <h1 class="text-xl">媒体</h1>
        <h2 class="text-sm">MEDIA</h2>
        <p class="text-lg pt-1"><a href="tel:021-64281588-p8847">021-64281588-8847</a></p>
      </div>
    </div>
  </div>
</div>

<div class="w-full my-8 flex justify-between pr-2 md:pr-6 lg:pr-8 xl:pr-10 xxl:pr-12 xxxl:pr-16"
  x-data="{ show_map: true, show_map_se: false }">
  <div class="w-1/2" >
    <%= image_pack_tag 'media/images/china_map.png', 'x-show': 'show_map' -%>
    <%= image_pack_tag 'media/images/china_map_se.png', 'x-show': 'show_map_se' -%>
  </div>
  <div class="w-1/2">
    <h1 class="text-xl">天华的全国化布局 TIANHUA IN CHINA</h1>

    <p class="pt-2 text-sm">天华，具有全过程、无缝对接的建筑设计全国化网络布局，通过全国的资源共享和人才协作，为各地客户提供统一的、高品质的全专业咨询服务。</p>

    <div class="flex justify-between items-center text-center w-full text-sm lg:text-base xxxl:text-lg my-2 py-2 xl:py-3 xxl:py-4">
      <div class="flex-1 mr-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white cursor-pointer"
        x-on:mouseenter="show_map = false; show_map_se = true" x-on:mouseleave="show_map = true; show_map_se = false">上海天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white cursor-pointer"
        x-on:mouseenter="show_map = false; show_map_se = true" x-on:mouseleave="show_map = true; show_map_se = false">南京天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white cursor-pointer"
        x-on:mouseenter="show_map = false; show_map_se = true" x-on:mouseleave="show_map = true; show_map_se = false">杭州天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white cursor-pointer"
        x-on:mouseenter="show_map = false; show_map_se = true" x-on:mouseleave="show_map = true; show_map_se = false">青岛天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white cursor-pointer"
        x-on:mouseenter="show_map = false; show_map_se = true" x-on:mouseleave="show_map = true; show_map_se = false">济南天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white cursor-pointer"
        x-on:mouseenter="show_map = false; show_map_se = true" x-on:mouseleave="show_map = true; show_map_se = false">合肥天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">北京天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">天津天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">太原天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">深圳天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">厦门天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">广州天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">沈阳天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">武汉天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">郑州天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">长沙天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">西安天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">重庆天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">成都天华</div>
      <div class="flex-1 mx-1 xxxl:mr-2 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">贵阳天华</div>
      <div class="flex-1 ml-1 pt-4 xxxl:pt-3 h-32 w-4 xl:w-5 xxl:w-6 xxxl:w-8 bg-thape-bg-gray text-white">昆明天华</div>
    </div>

    <div class="mt-10 flex justify-center items-center text-center w-full text-sm lg:text-base">
      <div class="mr-1 xl:mr-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">易<br />爱<br />迪<br />︵<br />香<br />港<br />︶</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">易<br />爱<br />迪<br />︵<br />上<br />海<br />︶</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上<br />海<br />A<br />I<br />C<br />O<br />建<br />筑</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上<br />海<br />A<br />I<br />C<br />O<br />室<br />内</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上海天华规划</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上海天华室内</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">易术家互娱科技</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上海易衡光伏</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上海天华景观</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上海易湃环境工程</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上海虹核审图</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">上海环境研究中心</div>
      <div class="mx-1 xl:mx-2 xxxl:mr-3 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">武汉天华易筑室内</div>
      <div class="ml-1 xl:ml-2 pt-2 h-56 w-6 xxxl:w-8 text-black border border-2 border-gray-600">深圳天华易筑室内</div>
    </div>
  </div>
</div>

<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-thape-footer-gray">
  <div class="p-4 sm:px-8 md:px-12 lg:px-16 xl:px-24">
    <header class="px-4 pt-2 pb-1 sm:px-6">
      <h1 class="inline-block text-3xl font-bold text-black6c">
        <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">全国机构</a>
      </h1>
      <h2 class="ml-2 inline-block text-2xl text-black6c">
        <a href="#" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">OFFICES</a>
      </h2>
    </header>
    <div class="w-full flex flex-wrap justify-left items-center pl-3 pr-1 pt-1 pb-2 sm:px-5">
      <%= render partial: 'city_mini', locals: {c: '上海', e: 'SHANGHAI' } %>
      <%= render partial: 'city_mini', locals: {c: '北京', e: 'BEIJING' } %>
      <%= render partial: 'city_mini', locals: {c: '深圳', e: 'SHENZHEN' } %>
      <%= render partial: 'city_mini', locals: {c: '广州', e: 'GUANGZHOU' } %>
      <%= render partial: 'city_mini', locals: {c: '天津', e: 'TIANJIN' } %>
      <%= render partial: 'city_mini', locals: {c: '重庆', e: 'CHONGQIN' } %>
      <%= render partial: 'city_mini', locals: {c: '武汉', e: 'WUHAN' } %>
      <%= render partial: 'city_mini', locals: {c: '成都', e: 'CHENGDU' } %>
      <%= render partial: 'city_mini', locals: {c: '西安', e: "XI'AN" } %>
      <%= render partial: 'city_mini', locals: {c: '沈阳', e: 'SHENYANG' } %>
      <%= render partial: 'city_mini', locals: {c: '厦门', e: 'XIAMEN' } %>
      <%= render partial: 'city_mini', locals: {c: '青岛', e: 'QINGDAO' } %>
      <%= render partial: 'city_mini', locals: {c: '南京', e: 'NANJING' } %>
      <%= render partial: 'city_mini', locals: {c: '郑州', e: 'ZHENZHOU' } %>
      <%= render partial: 'city_mini', locals: {c: '杭州', e: 'HANGZHOU' } %>
      <%= render partial: 'city_mini', locals: {c: '合肥', e: 'HEFEI' } %>
      <%= render partial: 'city_mini', locals: {c: '济南', e: "JI'NAN" } %>
      <%= render partial: 'city_mini', locals: {c: '贵阳', e: 'GUIYANG' } %>
      <%= render partial: 'city_mini', locals: {c: '昆明', e: 'KUNMING' } %>
      <%= render partial: 'city_mini', locals: {c: '太原', e: 'TAIYUAN' } %>
      <%= render partial: 'city_mini', locals: {c: '长沙', e: 'CHANGSHA' } %>
      <%= render partial: 'city_mini', locals: {c: '香港', e: 'HONGKONG' } %>
    </div>
  </div>
</div>

<div class="w-full mx-auto px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <div class="p-4 sm:px-8 md:px-12 lg:px-16 xl:px-24">
    <header class="px-4 pt-2 pb-1 sm:px-6">
      <h1 class="inline-block text-3xl font-bold text-black6c">
        <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">上海</a>
      </h1>
      <h2 class="ml-2 inline-block text-2xl text-black6c">
        <a href="#" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">SHANGHAI</a>
      </h2>
    </header>
    <div class="flex flex-wrap px-4 py-2 sm:px-6">
      <div class="w-1/2 leading-loose">
        <h1 class="text-2xl font-medium">上海天华建筑设计有限公司 </h1>
        <label class="float-left">地址：</label>
          <p class="ml-20">上海市徐汇区中山西路1800号兆丰环球大厦27楼 200235 </p>
          <p class="ml-20">上海市徐汇区钦州北路1188号漕河泾科汇大厦 200233 </p>
          <p class="ml-20">上海市杨浦区杨树浦路1062号2号楼2楼 </p>
        <label class="float-left">电话：</label>
          <p class="ml-20">021-64281588 </p>
        <label class="float-left">传真：</label>
          <p class="ml-20">021-64281587</p>
      </div>
      <%= render partial: 'office_address', locals: { m: @m_易爱迪 } %>
    </div>
  </div>
</div>

<%= render partial: 'shared/guest_form' %>

<%= render partial: 'shared/footer' %>
