<% provide(:title, "联系方式") %>
<% provide(:meta_title, "联系方式") %>

<%= render partial: 'shared/thape_nav' -%>

<div class="relative">

  <picture>
    <source srcset="<%= asset_pack_path('media/images/contact.webp') -%>" type="image/webp">
    <source srcset="<%= asset_pack_path('media/images/contact.jpg') -%>" type="image/jpeg">
    <img src="<%= asset_pack_path('media/images/contact.jpg') -%>">
  </picture>
  <div class="sm:absolute sm:bottom-0 sm:inset-x-0 w-full sm:flex sm:items-center bg-white opacity-75 py-6 mt-4 sm:mt-0">
    <div class="w-full flex justify-center sm:justify-between items-center flex-wrap sm:flex-no-wrap px-4 sm:px-10 md:px-20 lg:px-32 xl:px-40 xxl:px-48 xxxl:px-56">
      <div class="w-full sm:w-1/3 flex sm:block justify-between items-center px-2 sm:px-0 bg-thape-dark-gray sm:bg-transparent mb-1 sm:mb-0">
        <h1 class="text-center <%= fdsz("text-base sm:text-2xl", "text-base sm:text-4xl") -%>">总机</h1>
        <h2 class="text-center <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%> xxl:pt-1 hidden sm:block">SWITCHBOARD</h2>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1"><a href="tel:021-64281588">021-64281588</a></p>
      </div>
      <div class="w-full sm:w-1/3 flex sm:block justify-between items-center px-2 sm:px-0 bg-thape-dark-gray sm:bg-transparent mb-1 sm:mb-0">
        <h1 class="text-center <%= fdsz("text-base sm:text-2xl", "text-base sm:text-4xl") -%>">服务</h1>
        <h2 class="text-center <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%> xxl:pt-1 hidden sm:block">SERVICE</h2>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1"><a href="tel:400-8366606">400-8366606</a></p>
      </div>
      <div class="w-full sm:w-1/3 flex sm:block justify-between items-center px-2 sm:px-0 bg-thape-dark-gray sm:bg-transparent mb-1">
        <h1 class="text-center <%= fdsz("text-base sm:text-2xl", "text-base sm:text-4xl") -%>">媒体</h1>
        <h2 class="text-center <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%> xxl:pt-1 hidden sm:block">MEDIA</h2>
        <p class="text-center <%= fdsz("text-base sm:text-lg", "text-base sm:text-2xl") -%> pt-1"><a href="mailto:thapepr@thape.com.cn?subject=来自官网">thapepr@thape.com.cn</a></p>
      </div>
    </div>
  </div>
</div>

<div x-data="{ show_city: '', show_company: '' }">
  <div class="px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
    <div class="w-full my-8 xxl:my-20 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-24 xxl:px-36 flex flex-wrap xl:flex-no-wrap">
      <div class="w-full xl:w-3/5 flex-none hidden xl:block <%= fdsz("text-sm sm:text-sm", "text-sm sm:text-base") -%>">
        <div class="relative" style="padding-top: 78%; left: -1rem;">
          <%= image_pack_tag 'media/images/china_map.jpg', class: 'absolute top-0 left-0 w-full h-full', "x-on:click": "show_city = '';show_company=''" -%>
          <div class="absolute" style="left:80%;top:60%;"
            x-bind:class="{ 'map-star-b': show_city == '上海', 'map-dot-b': show_city != '上海' }">上海</div>
          <div class="absolute" style="left:65%;top:38%;"
            x-bind:class="{ 'map-star-a': show_city == '北京', 'map-dot-a': show_city != '北京' }">北京</div>
          <div class="absolute" style="left:64%;top:83%;"
            x-bind:class="{ 'map-star-a': show_city == '深圳', 'map-dot-a': show_city != '深圳' }">深圳</div>
          <div class="absolute" style="left:61%;top:86%;"
            x-bind:class="{ 'map-star-a': show_city == '广州', 'map-dot-a': show_city != '广州' }">广州</div>
          <div class="absolute" style="left:70%;top:40%;"
            x-bind:class="{ 'map-star-b': show_city == '天津', 'map-dot-b': show_city != '天津' }">天津</div>
          <div class="absolute" style="left:44%;top:68%;"
            x-bind:class="{ 'map-star-a': show_city == '重庆', 'map-dot-a': show_city != '重庆' }">重庆</div>

          <div class="absolute" style="left:61%;top:66%;"
            x-bind:class="{ 'map-star-b': show_city == '武汉', 'map-dot-b': show_city != '武汉' }">武汉</div>
          <div class="absolute" style="left:38%;top:65%;"
            x-bind:class="{ 'map-star-a': show_city == '成都', 'map-dot-a': show_city != '成都' }">成都</div>
          <div class="absolute" style="left:49%;top:51%;"
            x-bind:class="{ 'map-star-a': show_city == '西安', 'map-dot-a': show_city != '西安' }">西安</div>
          <div class="absolute" style="left:80%;top:32%;"
            x-bind:class="{ 'map-star-b': show_city == '沈阳', 'map-dot-b': show_city != '沈阳' }">沈阳</div>
          <div class="absolute" style="left:76%;top:75%;"
            x-bind:class="{ 'map-star-b': show_city == '厦门', 'map-dot-b': show_city != '厦门' }">厦门</div>
          <div class="absolute" style="left:77%;top:73%;"
            x-bind:class="{ 'map-star-b': show_city == '福州', 'map-dot-b': show_city != '福州' }">福州</div>
          <div class="absolute" style="left:76%;top:46%;"
            x-bind:class="{ 'map-star-b': show_city == '青岛', 'map-dot-b': show_city != '青岛' }">青岛</div>

          <div class="absolute" style="left:73%;top:57%;"
            x-bind:class="{ 'map-star-b': show_city == '南京', 'map-dot-b': show_city != '南京' }">南京</div>
          <div class="absolute" style="left:58%;top:50%;"
            x-bind:class="{ 'map-star-a': show_city == '郑州', 'map-dot-a': show_city != '郑州' }">郑州</div>
          <div class="absolute" style="left:74%;top:63%;"
            x-bind:class="{ 'map-star-a': show_city == '杭州', 'map-dot-a': show_city != '杭州' }">杭州</div>
          <div class="absolute" style="left:67%;top:59%;"
            x-bind:class="{ 'map-star-a': show_city == '合肥', 'map-dot-a': show_city != '合肥' }">合肥</div>
          <div class="absolute" style="left:68%;top:47%;"
            x-bind:class="{ 'map-star-a': show_city == '济南', 'map-dot-a': show_city != '济南' }">济南</div>
          <div class="absolute" style="left:47%;top:77%;"
            x-bind:class="{ 'map-star-b': show_city == '贵阳', 'map-dot-b': show_city != '贵阳' }">贵阳</div>

          <div class="absolute" style="left:37%;top:80%;"
            x-bind:class="{ 'map-star-a': show_city == '昆明', 'map-dot-a': show_city != '昆明' }">昆明</div>
          <div class="absolute" style="left:57%;top:44%;"
            x-bind:class="{ 'map-star-a': show_city == '太原', 'map-dot-a': show_city != '太原' }">太原</div>
          <div class="absolute" style="left:55%;top:70%;"
            x-bind:class="{ 'map-star-b': show_city == '长沙', 'map-dot-b': show_city != '长沙' }">长沙</div>
          <div class="absolute" style="left:68%;top:85%;"
            x-bind:class="{ 'map-star-b': show_city == '香港', 'map-dot-b': show_city != '香港' }">香港</div>
          <div class="absolute inset-x-0 top-0 xxl:top-12 xxxl:top-20" style="display: none;" x-show="show_company == '上海天华'">
            <div class="w-full mx-auto sm:px-8 md:px-12 lg:px-16 xl:px-24 xxl:px-32">
              <div class="bg-thape-white-t80 p-2 border border-2 border-gray-300 w-full leading-loose">
                <h1 class="<%= fdsz("text-xl sm:text-lg", "text-xl sm:text-3xl") -%> font-medium leading-tight pb-2"><%= t('map.contact-shanghai-name') -%></h1>
                <div class="<%= fdsz("text-sm", "text-xl") -%>">
                <label class="float-left"><%= t('map.address') -%>：</label>
                  <p class="ml-12"><%= t('map.contact-shanghai-address-1') -%></p>
                  <p class="ml-12"><%= t('map.contact-shanghai-address-2') -%></p>
                  <p class="ml-12"><%= t('map.contact-shanghai-address-3') -%></p>
                <label class="float-left"><%= t('map.tel') -%>：</label>
                  <p class="ml-12">021-64281588</p>
                <label class="float-left"><%= t('map.fax') -%>：</label>
                  <p class="ml-12">021-64281587</p>
                </div>
              </div>
            </div>
          </div>
          <%= render partial: 'map_address', locals: {c: '北京天华', m: @m_北京天华 } -%>
          <%= render partial: 'map_address', locals: {c: '深圳天华', m: @m_深圳天华 } -%>
          <%= render partial: 'map_address', locals: {c: '广州天华', m: @m_广州天华 } -%>
          <%= render partial: 'map_address', locals: {c: '天津天华', m: @m_天津天华 } -%>
          <%= render partial: 'map_address', locals: {c: '重庆天华', m: @m_重庆天华 } -%>
          <%= render partial: 'map_address', locals: {c: '武汉天华', m: @m_武汉天华 } -%>
          <%= render partial: 'map_address', locals: {c: '成都天华', m: @m_成都天华 } -%>
          <%= render partial: 'map_address', locals: {c: '西安天华', m: @m_西安天华 } -%>
          <%= render partial: 'map_address', locals: {c: '沈阳天华', m: @m_沈阳天华 } -%>
          <%= render partial: 'map_address', locals: {c: '厦门天华', m: @m_厦门天华 } -%>
          <%= render partial: 'map_address', locals: {c: '青岛天华', m: @m_青岛天华 } -%>
          <%= render partial: 'map_address', locals: {c: '南京天华', m: @m_南京天华 } -%>
          <%= render partial: 'map_address', locals: {c: '郑州天华', m: @m_郑州天华 } -%>
          <%= render partial: 'map_address', locals: {c: '杭州天华', m: @m_杭州天华 } -%>
          <%= render partial: 'map_address', locals: {c: '合肥天华', m: @m_合肥天华 } -%>
          <%= render partial: 'map_address', locals: {c: '济南天华', m: @m_济南天华 } -%>
          <%= render partial: 'map_address', locals: {c: '贵阳天华', m: @m_贵阳天华 } -%>
          <%= render partial: 'map_address', locals: {c: '昆明天华', m: @m_昆明天华 } -%>
          <%= render partial: 'map_address', locals: {c: '长沙天华', m: @m_长沙天华 } -%>
          <%= render partial: 'map_address', locals: {c: '福州天华', m: @m_福州天华 } -%>
          <%= render partial: 'map_address', locals: {c: '太原办事处', m: @m_太原办事处 } -%>
          <%= render partial: 'map_address', locals: {c: '南昌办事处', m: @m_南昌办事处 } -%>
          <%= render partial: 'map_address', locals: {c: '新疆办事处', m: @m_新疆办事处 } -%>
          <%= render partial: 'map_address', locals: {c: '兰州办事处', m: @m_兰州办事处 } -%>
          <%= render partial: 'map_address', locals: {c: '香港易爱迪', m: @m_香港天华 } -%>
          <%= render partial: 'map_address', locals: {c: '上海易爱迪', m: @m_易爱迪 } -%>
          <%= render partial: 'map_address', locals: {c: '上海爱坤', m: @m_爱坤 } -%>
          <%= render partial: 'map_address', locals: {c: '上海室内', m: @m_上海室内 } -%>
          <%= render partial: 'map_address', locals: {c: '上海城规', m: @m_上海城规 } -%>
          <%= render partial: 'map_address', locals: {c: '上海园林', m: @m_上海园林 } -%>
          <%= render partial: 'map_address', locals: {c: '虹核审图', m: @m_虹核审图 } -%>
          <%= render partial: 'map_address', locals: {c: '易术家互娱', m: @m_易术家互娱 } -%>
          <%= render partial: 'map_address', locals: {c: '深圳易筑', m: @m_深圳易筑 } -%>
          <%= render partial: 'map_address', locals: {c: '武汉易筑', m: @m_武汉易筑 } -%>
        </div>
      </div>
      <div class="w-full xl:w-2/5 flex-none">
        <div class="flex flex-wrap sm:flex-no-wrap sm:items-end">
          <h1 class="<%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-4xl") -%> flex-none sm:flex-no-wrap w-full sm:w-auto"><%= t('biz_maps.intro.title')%></h1>
          <h1 class="<%= fdsz("text-xl sm:text-lg", "text-xl sm:text-3xl") -%> flex-none sm:flex-no-wrap w-full sm:w-auto sm:ml-1"><%= t('biz_maps.intro.subtitle')%></h1>
        </div>
        <p class="pt-2 <%= fdsz("text-sm sm:text-lg", "text-sm sm:text-2xl") -%>"><%= t('biz_maps.intro.content')%></p>
        <%= image_pack_tag 'media/images/map-mobile.jpg', class: 'w-full block xl:hidden my-6 sm:my-0' -%>
        <div class="flex-grid">
          <div class="flex-grid-box flex-grid-cols-11-gap-1 md:flex-grid-cols-11-gap-3 lg:flex-grid-cols-14-gap-2 xxl:flex-grid-cols-14-gap-3 text-center w-full <%= fdsz("text-sm sm:text-base", "text-sm sm:text-xl") -%> py-2 xl:py-4">
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '上海天华', 'bg-thape-company-gray': show_company != '上海天华' }"
              x-on:click="show_city = '上海'; show_company = '上海天华'">上<br/>海<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '北京天华', 'bg-thape-company-gray': show_company != '北京天华' }"
              x-on:click="show_city = '北京';show_company = '北京天华'">北<br/>京<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '深圳天华', 'bg-thape-company-gray': show_company != '深圳天华' }"
              x-on:click="show_city = '深圳';show_company = '深圳天华'">深<br/>圳<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '广州天华', 'bg-thape-company-gray': show_company != '广州天华' }"
              x-on:click="show_city = '广州';show_company = '广州天华'">广<br/>州<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '天津天华', 'bg-thape-company-gray': show_company != '天津天华' }"
              x-on:click="show_city = '天津';show_company = '天津天华'">天<br/>津<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '重庆天华', 'bg-thape-company-gray': show_company != '重庆天华' }"
              x-on:click="show_city = '重庆';show_company = '重庆天华'">重<br/>庆<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '武汉天华', 'bg-thape-company-gray': show_company != '武汉天华' }"
              x-on:click="show_city = '武汉';show_company = '武汉天华'">武<br/>汉<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '成都天华', 'bg-thape-company-gray': show_company != '成都天华' }"
              x-on:click="show_city = '成都';show_company = '成都天华'">成<br/>都<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '西安天华', 'bg-thape-company-gray': show_company != '西安天华' }"
              x-on:click="show_city = '西安';show_company = '西安天华'">西<br/>安<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '沈阳天华', 'bg-thape-company-gray': show_company != '沈阳天华' }"
              x-on:click="show_city = '沈阳';show_company = '沈阳天华'">沈<br/>阳<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '厦门天华', 'bg-thape-company-gray': show_company != '厦门天华' }"
              x-on:click="show_city = '厦门';show_company = '厦门天华'">厦<br/>门<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '青岛天华', 'bg-thape-company-gray': show_company != '青岛天华' }"
              x-on:click="show_city = '青岛';show_company = '青岛天华'">青<br/>岛<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '南京天华', 'bg-thape-company-gray': show_company != '南京天华' }"
              x-on:click="show_city = '南京';show_company = '南京天华'">南<br/>京<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '郑州天华', 'bg-thape-company-gray': show_company != '郑州天华' }"
              x-on:click="show_city = '郑州';show_company = '郑州天华'">郑<br/>州<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '杭州天华', 'bg-thape-company-gray': show_company != '杭州天华' }"
              x-on:click="show_city = '杭州';show_company = '杭州天华'">杭<br/>州<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '合肥天华', 'bg-thape-company-gray': show_company != '合肥天华' }"
              x-on:click="show_city = '合肥';show_company = '合肥天华'">合<br/>肥<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '济南天华', 'bg-thape-company-gray': show_company != '济南天华' }"
              x-on:click="show_city = '济南';show_company = '济南天华'">济<br/>南<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '贵阳天华', 'bg-thape-company-gray': show_company != '贵阳天华' }"
              x-on:click="show_city = '贵阳';show_company = '贵阳天华'">贵<br/>阳<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '昆明天华', 'bg-thape-company-gray': show_company != '昆明天华' }"
              x-on:click="show_city = '昆明';show_company = '昆明天华'">昆<br/>明<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '长沙天华', 'bg-thape-company-gray': show_company != '长沙天华' }"
              x-on:click="show_city = '长沙';show_company = '长沙天华'">长<br/>沙<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '福州天华', 'bg-thape-company-gray': show_company != '福州天华' }"
              x-on:click="show_city = '福州';show_company = '福州天华'">福<br/>州<br/>天<br/>华</div>
            <div class="h-32 xxxl:h-36 text-white cursor-pointer flex items-center justify-center"
              x-bind:class="{ 'bg-thape-bg-gray': show_company == '太原天华', 'bg-thape-company-gray': show_company != '太原天华' }"
              x-on:click="show_city = '太原';show_company = '太原天华'">太<br/>原<br/>办<br/>事<br/>处</div>
          </div>
        </div>
        <div class="flex-grid">
          <div class="flex-grid-box flex-grid-cols-11-gap-1 md:flex-grid-cols-11-gap-3 lg:flex-grid-cols-14-gap-2 xxl:flex-grid-cols-14-gap-3 text-center w-full <%= fdsz("text-sm sm:text-base", "text-sm sm:text-xl leading-tight") -%> mt-2 sm:mt-6">
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '香港易爱迪', 'bg-gray-50': show_company != '香港易爱迪' }"
              x-on:click="show_city = '香港';show_company = '香港易爱迪'">易<br />爱<br />迪<br />︵<br />香<br />港<br />︶</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '上海易爱迪', 'bg-gray-50': show_company != '上海易爱迪' }"
              x-on:click="show_city = '上海';show_company = '上海易爱迪'">易<br />爱<br />迪<br />︵<br />上<br />海<br />︶</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '上海爱坤', 'bg-gray-50': show_company != '上海爱坤' }"
              x-on:click="show_city = '上海';show_company = '上海爱坤'">上<br />海<br />A<br />I<br />C<br />O<br />建<br />筑</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '上海爱坤', 'bg-gray-50': show_company != '上海爱坤' }"
              x-on:click="show_city = '上海';show_company = '上海爱坤'">上<br />海<br />A<br />I<br />C<br />O<br />室<br />内</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '上海城规', 'bg-gray-50': show_company != '上海城规' }"
              x-on:click="show_city = '上海';show_company='上海城规'">上<br/>海<br/>天<br/>华<br/>规<br/>划</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '上海室内', 'bg-gray-50': show_company != '上海室内' }"
              x-on:click="show_city = '上海';show_company = '上海室内'">上<br/>海<br/>天<br/>华<br/>室<br/>内</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '易术家互娱', 'bg-gray-50': show_company != '易术家互娱' }"
              x-on:click="show_city = '上海';show_company = '易术家互娱'">易<br/>术<br/>家<br/>互<br/>娱<br/>科<br/>技</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '上海园林', 'bg-gray-50': show_company != '上海园林' }"
              x-on:click="show_city = '上海';show_company = '上海园林'">上<br/>海<br/>天<br/>华<br/>景<br/>观</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '虹核审图', 'bg-gray-50': show_company != '虹核审图' }"
              x-on:click="show_city = '上海';show_company = '虹核审图'">上<br/>海<br/>虹<br/>核<br/>审<br/>图</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '武汉易筑', 'bg-gray-50': show_company != '武汉易筑' }"
              x-on:click="show_city = '武汉';show_company = '武汉易筑'">武<br/>汉<br/>天<br/>华<br/>易<br/>筑<br/>室<br/>内</div>
            <div class="h-48 sm:h-52 text-black border border-2 border-gray-600 cursor-pointer flex justify-center pt-2"
              x-bind:class="{ 'bg-gray-100': show_company == '深圳易筑', 'bg-gray-50': show_company != '深圳易筑' }"
              x-on:click="show_city = '深圳';show_company = '深圳易筑'">深<br/>圳<br/>天<br/>华<br/>易<br/>筑<br/>室<br/>内</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block xl:hidden">
    <div class="fixed top-0 bottom-0 left-0 right-0 z-50 bg-black bg-opacity-50 flex items-center px-4" style="display: none;" x-show="show_company == '上海天华'" x-on:click="show_company=''">
      <div class="w-full p-4 bg-white rounded-md shadow-md">
        <h1 class="font-medium pb-2 <%= fdsz('text-xl') -%> leading-normal"><%= t('map.contact-shanghai-name') -%></h1>
        <div class="flex">
          <label class="flex-none leading-normal"><%= t('map.address') -%>：</label>
          <div>
            <p class="leading-normal"><%= t('map.contact-shanghai-address-1') -%></p>
            <p class="leading-normal"><%= t('map.contact-shanghai-address-2') -%></p>
            <p class="leading-normal"><%= t('map.contact-shanghai-address-3') -%></p>
          </div>
        </div>
        <div class="flex">
          <label class="flex-none leading-normal"><%= t('map.tel') -%>：</label>
          <div>
            <p class="leading-normal">021-64281588</p>
          </div>
        </div>
        <div class="flex">
          <label class="flex-none leading-normal"><%= t('map.fax') -%>：</label>
          <div>
            <p class="leading-normal">021-64281587</p>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'mobile_map_address', locals: {c: '北京天华', m: @m_北京天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '深圳天华', m: @m_深圳天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '广州天华', m: @m_广州天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '天津天华', m: @m_天津天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '重庆天华', m: @m_重庆天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '武汉天华', m: @m_武汉天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '成都天华', m: @m_成都天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '西安天华', m: @m_西安天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '沈阳天华', m: @m_沈阳天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '厦门天华', m: @m_厦门天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '青岛天华', m: @m_青岛天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '南京天华', m: @m_南京天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '郑州天华', m: @m_郑州天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '杭州天华', m: @m_杭州天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '合肥天华', m: @m_合肥天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '济南天华', m: @m_济南天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '贵阳天华', m: @m_贵阳天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '昆明天华', m: @m_昆明天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '长沙天华', m: @m_长沙天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '福州天华', m: @m_福州天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '太原办事处', m: @m_太原办事处 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '南昌办事处', m: @m_南昌办事处 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '新疆办事处', m: @m_新疆办事处 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '兰州办事处', m: @m_兰州办事处 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '香港易爱迪', m: @m_香港天华 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '上海易爱迪', m: @m_易爱迪 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '上海爱坤', m: @m_爱坤 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '上海室内', m: @m_上海室内 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '上海城规', m: @m_上海城规 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '上海园林', m: @m_上海园林 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '虹核审图', m: @m_虹核审图 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '易术家互娱', m: @m_易术家互娱 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '深圳易筑', m: @m_深圳易筑 } -%>
    <%= render partial: 'mobile_map_address', locals: {c: '武汉易筑', m: @m_武汉易筑 } -%>
  </div>
  <div class="w-full mx-auto px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16 bg-thape-dark-gray" id="thape-address">
    <div class="px-0 py-4 sm:px-8 md:px-12 lg:px-16 xl:px-24 xxl:px-36">
      <header class="px-0 pt-2 pb-1" x-on:click="show_city = ''">
        <h1 class="inline-block <%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-4xl") -%> font-bold text-black6c">
          <a href="<%= biz_map_path(locale: 'cn', anchor: 'thape-address') -%>" class="hover:text-black6c-t70 focus:text-black6c-t70">全国机构</a>
        </h1>
        <h2 class="ml-2 inline-block <%= fdsz("text-lg sm:text-lg", "text-lg sm:text-3xl") -%> text-black6c">
          <a href="<%= biz_map_path(locale: 'en', anchor: 'thape-address') -%>" class="font-medium hover:text-black6c-t70 focus:text-black6c-t70">OFFICES</a>
        </h2>
      </header>
      <div class="flex-grid">
        <div class="flex-grid-box flex-grid-cols-4-gap-1 lg:flex-grid-cols-7-gap-2 xl:flex-grid-cols-9-gap-2 xxl:flex-grid-cols-10-gap-2 pt-1 pb-2">
          <%= render partial: 'city_mini', locals: {c: '上海', e: 'SHANGHAI' } %>
          <%= render partial: 'city_mini', locals: {c: '北京', e: 'BEIJING' } %>
          <%= render partial: 'city_mini', locals: {c: '深圳', e: 'SHENZHEN' } %>
          <%= render partial: 'city_mini', locals: {c: '广州', e: 'GUANGZHOU' } %>
          <%= render partial: 'city_mini', locals: {c: '天津', e: 'TIANJIN' } %>
          <%= render partial: 'city_mini', locals: {c: '重庆', e: 'CHONGQING' } %>
          <%= render partial: 'city_mini', locals: {c: '武汉', e: 'WUHAN' } %>
          <%= render partial: 'city_mini', locals: {c: '成都', e: 'CHENGDU' } %>
          <%= render partial: 'city_mini', locals: {c: '西安', e: "XI'AN" } %>
          <%= render partial: 'city_mini', locals: {c: '沈阳', e: 'SHENYANG' } %>
          <%= render partial: 'city_mini', locals: {c: '厦门', e: 'XIAMEN' } %>
          <%= render partial: 'city_mini', locals: {c: '青岛', e: 'QINGDAO' } %>
          <%= render partial: 'city_mini', locals: {c: '南京', e: 'NANJING' } %>
          <%= render partial: 'city_mini', locals: {c: '郑州', e: 'ZHENGZHOU' } %>
          <%= render partial: 'city_mini', locals: {c: '杭州', e: 'HANGZHOU' } %>
          <%= render partial: 'city_mini', locals: {c: '合肥', e: 'HEFEI' } %>
          <%= render partial: 'city_mini', locals: {c: '济南', e: "JINAN" } %>
          <%= render partial: 'city_mini', locals: {c: '贵阳', e: 'GUIYANG' } %>
          <%= render partial: 'city_mini', locals: {c: '昆明', e: 'KUNMING' } %>
          <%= render partial: 'city_mini', locals: {c: '太原', e: 'TAIYUAN' } %>
          <%= render partial: 'city_mini', locals: {c: '长沙', e: 'CHANGSHA' } %>
          <%= render partial: 'city_mini', locals: {c: '福州', e: 'FUZHOU' } %>
          <%= render partial: 'city_mini', locals: {c: '香港', e: 'HONGKONG' } %>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 sm:px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
    <div class="px-0 py-4 sm:px-8 md:px-12 lg:px-16 xl:px-24 xxl:px-36">
      <div style="display: none;" x-show="show_city == '上海'">
        <header class="pt-2 pb-1">
          <h1 class="inline-block <%= fdsz("text-xl sm:text-2xl", "text-xl sm:text-4xl") -%> font-bold text-black6c">
            <span class="hover:text-black6c-t70">上海</span>
          </h1>
          <h2 class="ml-2 inline-block <%= fdsz("text-lg sm:text-lg", "text-lg sm:text-3xl") -%> text-black6c">
            <span class="font-medium hover:text-black6c-t70">SHANGHAI</span>
          </h2>
        </header>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-1/2 leading-loose my-2 lg:my-6">
            <h1 class="<%= fdsz("text-lg sm:text-lg font-semibold", "text-xl sm:text-3xl font-medium") -%> leading-normal sm:leading-tight pb-2"><%= t('map.contact-shanghai-name') -%></h1>
            <div class="flex <%= fdsz("text-sm", "text-xl") -%>">
              <label class="flex-none leading-normal"><%= t('map.address') -%>：</label>
              <div>
                <p class="leading-normal"><%= t('map.contact-shanghai-address-1') -%></p>
                <p class="leading-normal"><%= t('map.contact-shanghai-address-2') -%></p>
                <p class="leading-normal"><%= t('map.contact-shanghai-address-3') -%></p>
              </div>
            </div>
            <div class="flex <%= fdsz("text-sm", "text-xl") -%>">
              <label class="flex-none leading-normal"><%= t('map.tel') -%>：</label>
              <div>
                <p class="leading-normal">021-64281588</p>
              </div>
            </div>
            <div class="flex <%= fdsz("text-sm", "text-xl") -%>">
              <label class="flex-none leading-normal"><%= t('map.fax') -%>：</label>
              <div>
                <p class="leading-normal">021-64281587</p>
              </div>
            </div>
          </div>
          <%= render partial: 'office_address', locals: { m: @m_爱坤 } %>
          <%= render partial: 'office_address', locals: { m: @m_易爱迪 } %>
          <%= render partial: 'office_address', locals: { m: @m_上海城规 } %>
          <%= render partial: 'office_address', locals: { m: @m_上海室内 } %>
          <%= render partial: 'office_address', locals: { m: @m_上海园林 } %>
          <%= render partial: 'office_address', locals: { m: @m_易术家互娱 } %>
          <%= render partial: 'office_address', locals: { m: @m_虹核审图 } %>
        </div>
      </div>

      <%= render partial: 'city_div', locals: {c: '北京', e: 'BEIJING', m1: @m_北京天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '深圳', e: 'SHENZHEN', m1: @m_深圳天华, m2: @m_深圳易筑 } -%>
      <%= render partial: 'city_div', locals: {c: '广州', e: 'GUANGZHOU', m1: @m_广州天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '天津', e: 'TIANJIN', m1: @m_天津天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '重庆', e: 'CHONGQING', m1: @m_重庆天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '武汉', e: 'WUHAN', m1: @m_武汉天华, m2: @m_武汉易筑 } -%>
      <%= render partial: 'city_div', locals: {c: '成都', e: 'CHENGDU', m1: @m_成都天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '西安', e: "XI'AN", m1: @m_西安天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '沈阳', e: 'SHENYANG', m1: @m_沈阳天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '厦门', e: 'XIAMEN', m1: @m_厦门天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '青岛', e: 'QINGDAO', m1: @m_青岛天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '南京', e: 'NANJING', m1: @m_南京天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '郑州', e: 'ZHENGZHOU', m1: @m_郑州天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '杭州', e: 'HANGZHOU', m1: @m_杭州天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '合肥', e: 'HEFEI', m1: @m_合肥天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '济南', e: "JINAN", m1: @m_济南天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '贵阳', e: 'GUIYANG', m1: @m_贵阳天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '昆明', e: 'KUNMING', m1: @m_昆明天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '长沙', e: 'CHANGSHA', m1: @m_长沙天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '福州', e: 'FUZHOU', m1: @m_福州天华, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '太原', e: 'TAIYUAN', m1: @m_太原办事处, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '南昌', e: 'NANCHANG', m1: @m_南昌办事处, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '乌鲁木齐', e: 'URUMQI', m1: @m_新疆办事处, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '兰州', e: 'LANZHOU', m1: @m_兰州办事处, m2: nil } -%>
      <%= render partial: 'city_div', locals: {c: '香港', e: 'HONGKONG', m1: @m_香港天华, m2: nil } -%>
    </div>
  </div>

</div>

<div class="py-8 xxl:px-12">
<%= render partial: 'shared/guest_form' %>
</div>

<%= render partial: 'shared/footer' %>
