<%= wechat_config_js debug: false, api: %w(onMenuShareTimeline onMenuShareAppMessage) -%>
<script type="application/javascript">
  if (wx) {
    wx.ready(function() {
      wx.onMenuShareTimeline({
          title: '<%= @name -%>的天华年度账单',
          link: '<%= tianhua2019_url(id: @clerkcode) -%>',
          imgUrl: '<%= asset_pack_url("static/images/tianhua2019-bill.png") -%>'
      });

      wx.onMenuShareAppMessage({
          title: '<%= @name -%>的天华年度账单',
          desc: '一起回顾<%= @name -%>与天华的2019',
          link: '<%= tianhua2019_url(id: @clerkcode) -%>',
          imgUrl: '<%= asset_pack_url("static/images/tianhua2019-bill.png") -%>'
      });
    });
  }
</script>

<script type="text/javascript">
  tianhua2019 = JSON.parse("<%= j @tianhua2019.to_json.html_safe -%>");
</script>

  <div id="tianhua2019_hype_container" class="HYPE_document" style="margin:auto;position:relative;width:370px;height:750px;overflow:hidden;">
    <div style="display: flex;justify-content:center;padding-top:200px"><img src="/timg.gif"></div>
    <script type="text/javascript" charset="utf-8" src="/tianhua2019.hyperesources/tianhua2019_hype_generated_script.js?53662"></script>
  </div>
