<% provide(:title, "隐私政策") %>
<% provide(:meta_title, "隐私政策") %>

<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full mx-auto sm:pb-4 md:pb-8 px-4 sm:px-24 md:px-32 lg:px-40 xl:px-48 xxl:px-56 xxxl:px-64">
  <%= render partial: 'shared/header', locals: { c: '隐私政策', e: 'PRIVACY',
    header_path: statement_sites_path, header_class: 'border-gray-200 border-solid border-b', show_header_right: false } %>

  <main class="my-4">
    <h1 class="<%= fdsz("text-lg", "text-3xl") -%> font-bold text-black6c pt-2 mt-2 mb-1">1. 个人信息</h1>
    <p class="<%= fdsz("text-sm", "text-xl") -%> font-normal leading-normal sm:leading-relaxed">我们深知个人信息对您的重要性，您可以选择是否向上海天华建筑设计有限公司（以下简称天华）提供个人信息。天华拟在本网站收集个人信息之处提供通知，通知内容应可帮助您做出选择。如果您选择不提供我们要求的个人信息，您仍可访问天华的大部分网页，但您可能无法访问涉及与我们互动的特定选项、产品和服务。</p>

    <h1 class="<%= fdsz("text-lg", "text-3xl") -%> font-bold text-black6c pt-2 mt-2 mb-1">2. Cookie 及其他跟踪技术</h1>
    <p class="<%= fdsz("text-sm", "text-xl") -%> font-normal leading-normal sm:leading-relaxed">我们的部分网页使用“cookie”和其他跟踪技术。cookie 是某些网站在您访问时写入您的硬盘的小数据文件。cookie 文件中可包含网站用来跟踪您访问的网页的用户 ID 等信息，但 cookie 只能包含您自己提供的个人信息。cookie 无法读取您硬盘中的数据，也不能读取其他网站创建的 cookie 文件。本网站有些部分使用 cookie 来跟踪用户的流量模式。我们如此行为只在确定天华信息对用户的用处，以及了解我们的导航结构帮助用户找到该信息的效率。天华不会将此信息与涉及个人用户的数据相关联，亦不会分享此信息或将其出售给任何第三方。您可以将大多数浏览器设置为在收到 Cookie 时通知您或者将浏览器设置为阻止 Cookie；但请注意，如果您选择删除或阻止 Cookie，则您需重新输入您的原始用户 ID 和密码，方可进入本网站的某些部分，但我们不能确保您能正常使用本网站。</p>

    <h1 class="<%= fdsz("text-lg", "text-3xl") -%> font-bold text-black6c pt-2 mt-2 mb-1">3. 安全性</h1>
    <p class="<%= fdsz("text-sm", "text-xl") -%> font-normal leading-normal sm:leading-relaxed">为了确保网站对所有用户的可用，天华采用行业标准技术来保护所控制信息的安全。天华还采取各种安全技术来防止您的个人信息被天华内外部用户未经授权访问。严禁未经授权试图上传或更改服务器/网站信息，此举可能招致法律制裁。另外，也请了解，互联网上不存在“百分百安全”。尽管我们必定会采取适当措施来防止信息被未经授权披露，但是，我们不能保证您的信息（包括但不仅限于个人身份信息）不会遭到有违本政策的披露。我们对安全措施的充分性不作任何陈述或担保。</p>
  </main>
</div>

<%= render partial: 'shared/footer' %>









