<% provide(:title, "免责条款") %>
<% provide(:meta_title, "免责条款") %>

<%= render partial: 'shared/thape_nav' -%>

<div class="w-full mx-auto sm:pb-4 md:pb-8 px-4 sm:px-24 md:px-32 lg:px-40 xl:px-48 xxl:px-56 xxxl:px-64">
  <%= render partial: 'shared/header', locals: { c: '网站声明', e: 'WEBSITE STATEMENT',
    header_path: statement_sites_path, header_class: 'border-gray-200 border-solid border-b', show_header_right: false } %>

  <main class="my-4">
    <h1 class="<%= fdsz("#{smFzClass(2)}", "#{xlFzClass(2)}") -%> font-bold text-black6c pt-2 mt-2 mb-1">1.访问条件</h1>
    <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%> font-normal leading-normal sm:leading-relaxed">本网站中的信息和材料由上海天华建筑设计有限公司（以下简称天华）提供，仅供参考。请在访问、使用本网站之前，仔细阅读下述条款和条件。一旦访问、使用本网站或下载本网站材料，即被视为同意遵守下文及本网站其他地方载明的条款和条件。如果不同意这些条款和条件，请停止访问本网站或下载本网站材料。如果继续访问本网站，将视为已阅读、理解并同意遵守条款和条件，遵守所有相关法律法规。天华有权不时修订与本网站有关的条款和条件。建议您间或重新阅读，以便了解条款和条件的变动。 一旦您在我们张贴条款变动后访问网站，即视为您确认同意修订后的条款。</p>

    <h1 class="<%= fdsz("#{smFzClass(2)}", "#{xlFzClass(2)}") -%> font-bold text-black6c pt-2 mt-2 mb-1">2.知识产权</h1>
    <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%> font-normal leading-normal sm:leading-relaxed">天华保留所有权利。本网站中的所有内容，包括但不仅限于图形、文本、图像、徽标、图标、音频和视频等以及内容的编辑/结构，归天华或其关联公司或其许可人所有，受中华人民共和国和国际版权法、商标法在内的知识产权法律体系的保护。未经授权使用本网站上的任何材料和信息，包括但不仅限于拷贝、复制、修改、发布、重新发布、上传、下载、张贴、传输、分发，可能违反版权法律、商标法律和适用于本网站材料的其他法律。访问本网站并不能使您获得有关天华或第三方知识产权的任何许可。</p>
    <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%> font-normal leading-normal sm:leading-relaxed">本网站上的所有商标、服务标记、商号和徽标，包括本网站上的所有天华徽标和图片，为天华和/或各自所有者专有。本网站的任何内容均不得被解释为通过默示、禁止反言或其他方式向您授予任何许可或权利，允许您未经拥有本网站所示商标、服务标记、商号和徽标的天华和/或各自所有者书面允许而使用本网站所示商标、服务标记、商号和徽标。严禁未经授权使用本网站所示商标、服务标记、商号和徽标。</p>

    <h1 class="<%= fdsz("#{smFzClass(2)}", "#{xlFzClass(2)}") -%> font-bold text-black6c pt-2 mt-2 mb-1">3.其他链接</h1>
    <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%> font-normal leading-normal sm:leading-relaxed">本网站可能含有第三方运营网站的链接。天华提供这些链接只是为了向您提供方便，访问这些链接将由用户自己作出决定，天华并不保证这些链接上所提供的任何信息、数据、观点、图片、陈述或建议的准确性、完整性、充分性和可靠性。天华对此等网站无控制权，对其内容不承担任何责任。含有此等网站的链接并不意味着天华对材料提供背书，亦不意味着天华与其运营商有关联，亦不表示天华对这些信息的认可和推荐，也不是用于宣传或广告目的。天华对此等网站的隐私权做法或内容不负任何责任。</p>

    <h1 class="<%= fdsz("#{smFzClass(2)}", "#{xlFzClass(2)}") -%> font-bold text-black6c pt-2 mt-2 mb-1">4. 适用法律与争议解决</h1>
    <p class="<%= fdsz("#{smFzClass(4)}", "#{xlFzClass(4)}") -%> font-normal leading-normal sm:leading-relaxed">您同意，与您访问或使用本网站相关的所有事项，应根据中华人民共和国法律解释、理解和管辖。您同意，中国上海市及天华各分支机构所在行政区域有管辖权的法院具有相关的管辖权。</p>
  </main>
</div>

<%= render partial: 'shared/footer' %>

