<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="title" content="<%= full_title(yield(:meta_title)) -%>" />
    <meta name="description" content="<%= @seo.description -%>" />
    <meta name="abstract" content="<%= @seo.abstract -%>" />
    <meta name="keywords" content="<%= @seo.keywords -%>" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= canonical_tag -%>
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <%= csrf_meta_tags -%>
    <%= csp_meta_tag -%>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script type="module" src="/alpine/2-8-2.js"></script>
    <script nomodule src="/alpine/2-8-2-ie11.js" defer></script>
    <%= javascript_pack_tag 'application' %>
    <% if browser.ie? %>
      <style>
        #thape-footer-logo { height: 22px; }
      </style>
    <% end %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="bg-red-600 w-full fixed z-50">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
        <div class="bg-red-600 w-full">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
      <% end %>
      <% if type == "notice" %>
        <div class="bg-green-600 w-full fixed z-50">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
        <div class="bg-green-600 w-full">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
      <% end %>
    <% end %>
    <div class="relative bg-white main" style="padding-top: 1px; top: -1px;" data-controller="main">
      <%= yield %>
    </div>
  　<script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?dd080d712bbe176cb9ab961a5d9501e0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
